@charset "UTF-8";
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/globals/_boilerplate.scss */
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 25, ../sass/globals/_boilerplate.scss */
article, article header {
  -webkit-transition: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

/* line 46, ../sass/globals/_color.scss */
body section.space section.content article.color0 div.card.text.comment, body section.space section.content article.color0 header {
  background-color: rgba(255, 59, 48, 0.9);
}
/* line 50, ../sass/globals/_color.scss */
body section.space section.content article.color1 div.card.text.comment, body section.space section.content article.color1 header {
  background-color: rgba(255, 149, 0, 0.9);
}
/* line 54, ../sass/globals/_color.scss */
body section.space section.content article.color2 div.card.text.comment, body section.space section.content article.color2 header {
  background-color: rgba(255, 204, 0, 0.9);
}
/* line 58, ../sass/globals/_color.scss */
body section.space section.content article.color3 div.card.text.comment, body section.space section.content article.color3 header {
  background-color: rgba(76, 217, 100, 0.9);
}
/* line 62, ../sass/globals/_color.scss */
body section.space section.content article.color4 div.card.text.comment, body section.space section.content article.color4 header {
  background-color: rgba(0, 122, 255, 0.9);
}
/* line 66, ../sass/globals/_color.scss */
body section.space section.content article.color5 div.card.text.comment, body section.space section.content article.color5 header {
  background-color: rgba(255, 45, 85, 0.9);
}
/* line 70, ../sass/globals/_color.scss */
body section.space section.content article.color6 div.card.text.comment, body section.space section.content article.color6 header {
  background-color: rgba(135, 252, 112, 0.9);
}
/* line 74, ../sass/globals/_color.scss */
body section.space section.content article.color7 div.card.text.comment, body section.space section.content article.color7 header {
  background-color: rgba(255, 19, 0, 0.9);
}
/* line 78, ../sass/globals/_color.scss */
body section.space section.content article.color8 div.card.text.comment, body section.space section.content article.color8 header {
  background-color: rgba(239, 77, 182, 0.9);
}
/* line 82, ../sass/globals/_color.scss */
body section.space section.content article.color9 div.card.text.comment, body section.space section.content article.color9 header {
  background-color: rgba(82, 237, 199, 0.9);
}

/* line 90, ../sass/globals/_color.scss */
.container > header ul.users li.user.color0 {
  border-color: #ff3b30;
}
/* line 93, ../sass/globals/_color.scss */
.container > header ul.users li.user.color0.online {
  background-color: #ff3b30;
}
/* line 98, ../sass/globals/_color.scss */
.container > header ul.users li.user.color1 {
  border-color: #ff9500;
}
/* line 101, ../sass/globals/_color.scss */
.container > header ul.users li.user.color1.online {
  background-color: #ff9500;
}
/* line 106, ../sass/globals/_color.scss */
.container > header ul.users li.user.color2 {
  border-color: #ffcc00;
}
/* line 109, ../sass/globals/_color.scss */
.container > header ul.users li.user.color2.online {
  background-color: #ffcc00;
}
/* line 114, ../sass/globals/_color.scss */
.container > header ul.users li.user.color3 {
  border-color: #4cd964;
}
/* line 117, ../sass/globals/_color.scss */
.container > header ul.users li.user.color3.online {
  background-color: #4cd964;
}
/* line 122, ../sass/globals/_color.scss */
.container > header ul.users li.user.color4 {
  border-color: #007aff;
}
/* line 125, ../sass/globals/_color.scss */
.container > header ul.users li.user.color4.online {
  background-color: #007aff;
}
/* line 130, ../sass/globals/_color.scss */
.container > header ul.users li.user.color5 {
  border-color: #ff2d55;
}
/* line 133, ../sass/globals/_color.scss */
.container > header ul.users li.user.color5.online {
  background-color: #ff2d55;
}
/* line 138, ../sass/globals/_color.scss */
.container > header ul.users li.user.color6 {
  border-color: #87fc70;
}
/* line 141, ../sass/globals/_color.scss */
.container > header ul.users li.user.color6.online {
  background-color: #87fc70;
}
/* line 146, ../sass/globals/_color.scss */
.container > header ul.users li.user.color7 {
  border-color: #ff1300;
}
/* line 149, ../sass/globals/_color.scss */
.container > header ul.users li.user.color7.online {
  background-color: #ff1300;
}
/* line 154, ../sass/globals/_color.scss */
.container > header ul.users li.user.color8 {
  border-color: #ef4db6;
}
/* line 157, ../sass/globals/_color.scss */
.container > header ul.users li.user.color8.online {
  background-color: #ef4db6;
}
/* line 162, ../sass/globals/_color.scss */
.container > header ul.users li.user.color9 {
  border-color: #52edc7;
}
/* line 165, ../sass/globals/_color.scss */
.container > header ul.users li.user.color9.online {
  background-color: #52edc7;
}

@-webkit-keyframes hoverFlicker {
  0% {
    color: blue;
    border-color: blue;
  }
  14.28% {
    color: cyan;
    border-color: cyan;
  }
  28.57% {
    color: lime;
    border-color: lime;
  }
  42.86% {
    color: #ffe100;
    border-color: #ffe100;
  }
  57.14% {
    color: orange;
    border-color: orange;
  }
  71.42% {
    color: red;
    border-color: red;
  }
  85.71% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: blue;
    border-color: blue;
  }
}
@-moz-keyframes hoverFlicker {
  0% {
    color: blue;
    border-color: blue;
  }
  14.28% {
    color: cyan;
    border-color: cyan;
  }
  28.57% {
    color: lime;
    border-color: lime;
  }
  42.86% {
    color: #ffe100;
    border-color: #ffe100;
  }
  57.14% {
    color: orange;
    border-color: orange;
  }
  71.42% {
    color: red;
    border-color: red;
  }
  85.71% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: blue;
    border-color: blue;
  }
}
@-o-keyframes hoverFlicker {
  0% {
    color: blue;
    border-color: blue;
  }
  14.28% {
    color: cyan;
    border-color: cyan;
  }
  28.57% {
    color: lime;
    border-color: lime;
  }
  42.86% {
    color: #ffe100;
    border-color: #ffe100;
  }
  57.14% {
    color: orange;
    border-color: orange;
  }
  71.42% {
    color: red;
    border-color: red;
  }
  85.71% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: blue;
    border-color: blue;
  }
}
@keyframes hoverFlicker {
  0% {
    color: blue;
    border-color: blue;
  }
  14.28% {
    color: cyan;
    border-color: cyan;
  }
  28.57% {
    color: lime;
    border-color: lime;
  }
  42.86% {
    color: #ffe100;
    border-color: #ffe100;
  }
  57.14% {
    color: orange;
    border-color: orange;
  }
  71.42% {
    color: red;
    border-color: red;
  }
  85.71% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: blue;
    border-color: blue;
  }
}
@-webkit-keyframes hoverWarningFlicker {
  0% {
    color: red;
    border-color: red;
  }
  25% {
    color: #ff8d00;
    border-color: #ff8d00;
  }
  50% {
    color: red;
    border-color: red;
  }
  75% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: red;
    border-color: red;
  }
}
@-moz-keyframes hoverWarningFlicker {
  0% {
    color: red;
    border-color: red;
  }
  25% {
    color: #ff8d00;
    border-color: #ff8d00;
  }
  50% {
    color: red;
    border-color: red;
  }
  75% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: red;
    border-color: red;
  }
}
@-o-keyframes hoverWarningFlicker {
  0% {
    color: red;
    border-color: red;
  }
  25% {
    color: #ff8d00;
    border-color: #ff8d00;
  }
  50% {
    color: red;
    border-color: red;
  }
  75% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: red;
    border-color: red;
  }
}
@keyframes hoverWarningFlicker {
  0% {
    color: red;
    border-color: red;
  }
  25% {
    color: #ff8d00;
    border-color: #ff8d00;
  }
  50% {
    color: red;
    border-color: red;
  }
  75% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: red;
    border-color: red;
  }
}
@-webkit-keyframes hoverConfirmFlicker {
  0% {
    color: lime;
    border-color: lime;
  }
  25% {
    color: cyan;
    border-color: cyan;
  }
  50% {
    color: #ffe100;
    border-color: #ffe100;
  }
  75% {
    color: #00e6ff;
    border-color: #00e6ff;
  }
  100% {
    color: lime;
    border-color: lime;
  }
}
@-moz-keyframes hoverConfirmFlicker {
  0% {
    color: lime;
    border-color: lime;
  }
  25% {
    color: cyan;
    border-color: cyan;
  }
  50% {
    color: #ffe100;
    border-color: #ffe100;
  }
  75% {
    color: #00e6ff;
    border-color: #00e6ff;
  }
  100% {
    color: lime;
    border-color: lime;
  }
}
@-o-keyframes hoverConfirmFlicker {
  0% {
    color: lime;
    border-color: lime;
  }
  25% {
    color: cyan;
    border-color: cyan;
  }
  50% {
    color: #ffe100;
    border-color: #ffe100;
  }
  75% {
    color: #00e6ff;
    border-color: #00e6ff;
  }
  100% {
    color: lime;
    border-color: lime;
  }
}
@keyframes hoverConfirmFlicker {
  0% {
    color: lime;
    border-color: lime;
  }
  25% {
    color: cyan;
    border-color: cyan;
  }
  50% {
    color: #ffe100;
    border-color: #ffe100;
  }
  75% {
    color: #00e6ff;
    border-color: #00e6ff;
  }
  100% {
    color: lime;
    border-color: lime;
  }
}
@-webkit-keyframes hoverLinkFlicker {
  0% {
    color: blue;
    border-color: blue;
  }
  50% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: blue;
    border-color: blue;
  }
}
@-moz-keyframes hoverLinkFlicker {
  0% {
    color: blue;
    border-color: blue;
  }
  50% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: blue;
    border-color: blue;
  }
}
@-o-keyframes hoverLinkFlicker {
  0% {
    color: blue;
    border-color: blue;
  }
  50% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: blue;
    border-color: blue;
  }
}
@keyframes hoverLinkFlicker {
  0% {
    color: blue;
    border-color: blue;
  }
  50% {
    color: magenta;
    border-color: magenta;
  }
  100% {
    color: blue;
    border-color: blue;
  }
}
/* line 53, ../sass/globals/_type.scss */
html {
  font-size: 12pt;
  line-height: 1.5em;
  font-family: "Futura W01 Medium", Futura;
  letter-spacing: .0625em;
}
/* line 56, ../sass/globals/_type.scss */
html a {
  color: #000000;
  text-decoration: none;
  border-bottom: 0.125em #000000 solid;
}
/* line 61, ../sass/globals/_type.scss */
html a:hover, html a:active {
  -webkit-animation: hoverFlicker 5s infinite linear;
  -moz-animation: hoverFlicker 5s infinite linear;
  -o-animation: hoverFlicker 5s infinite linear;
  animation: hoverFlicker 5s infinite linear;
}
/* line 68, ../sass/globals/_type.scss */
html p + p {
  margin-top: 0.75rem;
}

/* line 53, ../sass/globals/_components.scss */
.card.form {
  padding-left: 2rem !important;
}

/* line 58, ../sass/globals/_components.scss */
form {
  position: relative;
}

/* line 62, ../sass/globals/_components.scss */
label {
  font-size: 12pt;
  line-height: 1.5em;
  font-family: "Futura W01 Medium", Futura;
  letter-spacing: .0625em;
}

/* line 77, ../sass/globals/_components.scss */
::-webkit-input-placeholder {
  color: #000000;
  font-style: italic;
  opacity: 1;
  text-transform: none;
}
/* line 72, ../sass/globals/_components.scss */
::-webkit-input-placeholder:hover {
  -webkit-animation: hoverFlicker 5s infinite linear;
  -moz-animation: hoverFlicker 5s infinite linear;
  -o-animation: hoverFlicker 5s infinite linear;
  animation: hoverFlicker 5s infinite linear;
}

/* line 81, ../sass/globals/_components.scss */
:-moz-placeholder {
  color: #000000;
  font-style: italic;
  opacity: 1;
  text-transform: none;
}
/* line 72, ../sass/globals/_components.scss */
:-moz-placeholder:hover {
  -webkit-animation: hoverFlicker 5s infinite linear;
  -moz-animation: hoverFlicker 5s infinite linear;
  -o-animation: hoverFlicker 5s infinite linear;
  animation: hoverFlicker 5s infinite linear;
}

/* line 84, ../sass/globals/_components.scss */
::-moz-placeholder {
  color: #000000;
  font-style: italic;
  opacity: 1;
  text-transform: none;
}
/* line 72, ../sass/globals/_components.scss */
::-moz-placeholder:hover {
  -webkit-animation: hoverFlicker 5s infinite linear;
  -moz-animation: hoverFlicker 5s infinite linear;
  -o-animation: hoverFlicker 5s infinite linear;
  animation: hoverFlicker 5s infinite linear;
}

/* line 87, ../sass/globals/_components.scss */
:-ms-input-placeholder {
  color: #000000;
  font-style: italic;
  opacity: 1;
  text-transform: none;
}
/* line 72, ../sass/globals/_components.scss */
:-ms-input-placeholder:hover {
  -webkit-animation: hoverFlicker 5s infinite linear;
  -moz-animation: hoverFlicker 5s infinite linear;
  -o-animation: hoverFlicker 5s infinite linear;
  animation: hoverFlicker 5s infinite linear;
}

/* line 92, ../sass/globals/_components.scss */
input {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-size: 12pt;
  line-height: 1.5em;
  font-family: "Futura W01 Medium", Futura;
  letter-spacing: .0625em;
  color: #000000;
  border-bottom: 0.125em #000000 solid;
}
/* line 98, ../sass/globals/_components.scss */
input:focus, input:hover {
  -webkit-animation: hoverFlicker 5s infinite linear;
  -moz-animation: hoverFlicker 5s infinite linear;
  -o-animation: hoverFlicker 5s infinite linear;
  animation: hoverFlicker 5s infinite linear;
}
/* line 107, ../sass/globals/_components.scss */
input[type=submit], input[type=button] {
  border: 0;
  cursor: pointer;
}
/* line 112, ../sass/globals/_components.scss */
input[type=checkbox] {
  width: 1em;
  margin-left: -1.5em;
  margin-right: .5em;
}
/* line 118, ../sass/globals/_components.scss */
input[type=email] {
  text-transform: lowercase;
}

/* line 124, ../sass/globals/_components.scss */
ul.menu {
  height: 3rem;
  position: relative;
}
/* line 128, ../sass/globals/_components.scss */
ul.menu:hover, ul.menu.open {
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
/* line 133, ../sass/globals/_components.scss */
ul.menu:hover li a, ul.menu:hover li form, ul.menu.open li a, ul.menu.open li form {
  position: relative;
}
/* line 143, ../sass/globals/_components.scss */
ul.menu.hideFirst.right:hover > li:nth-child(1), ul.menu.hideFirst.right.open > li:nth-child(1) {
  right: -50vw;
}
/* line 148, ../sass/globals/_components.scss */
ul.menu.hideFirst.right > li:nth-child(1) {
  right: 0;
}
/* line 155, ../sass/globals/_components.scss */
ul.menu.hideFirst.left:hover > li:nth-child(1), ul.menu.hideFirst.left.open > li:nth-child(1) {
  left: -50vw;
}
/* line 160, ../sass/globals/_components.scss */
ul.menu.hideFirst.left > li:nth-child(1) {
  left: 0;
}
/* line 165, ../sass/globals/_components.scss */
ul.menu.hideFirst > li:nth-child(1) {
  position: absolute;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -moz-transition-property: right;
  -o-transition-property: right;
  -webkit-transition-property: right;
  transition-property: right;
}
/* line 173, ../sass/globals/_components.scss */
ul.menu.left li {
  left: -50vw;
  -moz-transition-property: left, opacity;
  -o-transition-property: left, opacity;
  -webkit-transition-property: left, opacity;
  transition-property: left, opacity;
}
/* line 177, ../sass/globals/_components.scss */
ul.menu.left li:nth-of-type(1) {
  left: 0;
}
/* line 183, ../sass/globals/_components.scss */
ul.menu.left:hover li, ul.menu.left.open li {
  left: 0;
}
/* line 186, ../sass/globals/_components.scss */
ul.menu.left:hover li a, ul.menu.left.open li a {
  padding-left: 0;
  -moz-transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 190, ../sass/globals/_components.scss */
ul.menu.left:hover li a:hover, ul.menu.left:hover li a:active, ul.menu.left:hover li a:focus, ul.menu.left.open li a:hover, ul.menu.left.open li a:active, ul.menu.left.open li a:focus {
  padding-left: 2rem;
}
/* line 199, ../sass/globals/_components.scss */
ul.menu.right li {
  right: -50vw;
  -moz-transition-property: right, opacity;
  -o-transition-property: right, opacity;
  -webkit-transition-property: right, opacity;
  transition-property: right, opacity;
}
/* line 203, ../sass/globals/_components.scss */
ul.menu.right li:nth-of-type(1) {
  right: 0;
}
/* line 207, ../sass/globals/_components.scss */
ul.menu.right li form, ul.menu.right li input {
  text-align: right;
}
/* line 213, ../sass/globals/_components.scss */
ul.menu.right:hover li, ul.menu.right.open li {
  right: 0;
}
/* line 216, ../sass/globals/_components.scss */
ul.menu.right:hover li a, ul.menu.right.open li a {
  padding-right: 0;
  -moz-transition: padding-right 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: padding-right 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: padding-right 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: padding-right 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 220, ../sass/globals/_components.scss */
ul.menu.right:hover li a:hover, ul.menu.right:hover li a:active, ul.menu.right:hover li a:focus, ul.menu.right.open li a:hover, ul.menu.right.open li a:active, ul.menu.right.open li a:focus {
  padding-right: 2rem;
}
/* line 228, ../sass/globals/_components.scss */
ul.menu li {
  position: relative;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  /*
          
          &:nth-of-type(2)  { @include transition-delay(.19s); }
          &:nth-of-type(3)  { @include transition-delay(.18s); }
          &:nth-of-type(4)  { @include transition-delay(.17s); }
          &:nth-of-type(5)  { @include transition-delay(.16s); }
          &:nth-of-type(6)  { @include transition-delay(.15s); }
          &:nth-of-type(7)  { @include transition-delay(.14s); }
          &:nth-of-type(8)  { @include transition-delay(.13s); }
          &:nth-of-type(9)  { @include transition-delay(.12s); }
          &:nth-of-type(10) { @include transition-delay(.11s); }
          &:nth-of-type(11) { @include transition-delay(.10s); }
          &:nth-of-type(12) { @include transition-delay(.9s); }
          &:nth-of-type(13) { @include transition-delay(.8s); }
          &:nth-of-type(14) { @include transition-delay(.7s); }
          &:nth-of-type(15) { @include transition-delay(.6s); }
          &:nth-of-type(16) { @include transition-delay(.5s); }
          &:nth-of-type(17) { @include transition-delay(.4s); }
          &:nth-of-type(18) { @include transition-delay(.3s); }
          &:nth-of-type(19) { @include transition-delay(.2s); }
          &:nth-of-type(20) { @include transition-delay(.1s); }
  */
}
/* line 232, ../sass/globals/_components.scss */
ul.menu li.heading {
  font-size: 12pt;
  line-height: 1.5em;
  font-family: "Futura W01 Medium", Futura;
  letter-spacing: .0625em;
  text-transform: lowercase;
  padding-top: 1.5em;
}
/* line 238, ../sass/globals/_components.scss */
ul.menu li form {
  white-space: nowrap;
}
/* line 242, ../sass/globals/_components.scss */
ul.menu li > a {
  display: block;
  width: 100%;
  position: relative;
}
/* line 270, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(2) {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 271, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(3) {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 272, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(4) {
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 273, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(5) {
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
/* line 274, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(6) {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 275, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(7) {
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/* line 276, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(8) {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 277, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(9) {
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 278, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(10) {
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
/* line 279, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(11) {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 280, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(12) {
  -moz-transition-delay: 0.11s;
  -o-transition-delay: 0.11s;
  -webkit-transition-delay: 0.11s;
  transition-delay: 0.11s;
}
/* line 281, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(13) {
  -moz-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
}
/* line 282, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(14) {
  -moz-transition-delay: 0.13s;
  -o-transition-delay: 0.13s;
  -webkit-transition-delay: 0.13s;
  transition-delay: 0.13s;
}
/* line 283, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(15) {
  -moz-transition-delay: 0.14s;
  -o-transition-delay: 0.14s;
  -webkit-transition-delay: 0.14s;
  transition-delay: 0.14s;
}
/* line 284, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(16) {
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
/* line 285, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(17) {
  -moz-transition-delay: 0.16s;
  -o-transition-delay: 0.16s;
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}
/* line 286, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(18) {
  -moz-transition-delay: 0.17s;
  -o-transition-delay: 0.17s;
  -webkit-transition-delay: 0.17s;
  transition-delay: 0.17s;
}
/* line 287, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(19) {
  -moz-transition-delay: 0.18s;
  -o-transition-delay: 0.18s;
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s;
}
/* line 288, ../sass/globals/_components.scss */
ul.menu li:nth-of-type(20) {
  -moz-transition-delay: 0.19s;
  -o-transition-delay: 0.19s;
  -webkit-transition-delay: 0.19s;
  transition-delay: 0.19s;
}

/* line 292, ../sass/globals/_components.scss */
textarea {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-size: 12pt;
  line-height: 1.5em;
  font-family: "Futura W01 Medium", Futura;
  letter-spacing: .0625em;
  width: 100%;
  height: 1.5rem;
}

/* line 1, ../sass/layout/_body.scss */
body {
  height: 100%;
  background-color: white;
}

/* line 1, ../sass/layout/_header.scss */
.container > header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.375rem 1rem;
  font-family: "Futura W01 Book", Futura, sans-serif;
  font-size: 24pt;
  letter-spacing: .75pt;
  line-height: 1.5em;
  text-align: left;
  cursor: default;
}
/* line 12, ../sass/layout/_header.scss */
.container > header a {
  border: 0;
}
/* line 16, ../sass/layout/_header.scss */
.container > header h1.spaceName {
  display: none;
}
/* line 20, ../sass/layout/_header.scss */
.container > header ul.menu {
  display: inline-block;
  opacity: .75;
  float: left;
  width: 40vw;
}
/* line 26, ../sass/layout/_header.scss */
.container > header ul.menu input {
  max-width: 100%;
}
/* line 31, ../sass/layout/_header.scss */
.container > header ul.menu.spaces li a {
  text-transform: capitalize;
}
/* line 36, ../sass/layout/_header.scss */
.container > header ul.menu.users {
  float: right;
  text-align: right;
  position: relative;
}
/* line 43, ../sass/layout/_header.scss */
.container > header ul.menu.users li.user {
  text-transform: capitalize;
}
/* line 49, ../sass/layout/_header.scss */
.container > header ul.menu.users li form label {
  font-size: 12pt;
  line-height: 1.5em;
  font-family: "Futura W01 Medium", Futura;
  letter-spacing: .0625em;
  text-transform: lowercase;
  display: block;
  margin-top: 0.375em;
}
/* line 59, ../sass/layout/_header.scss */
.container > header ul.menu.users li a.logout:hover {
  -webkit-animation: hoverWarningFlicker 5s infinite linear;
  -moz-animation: hoverWarningFlicker 5s infinite linear;
  -o-animation: hoverWarningFlicker 5s infinite linear;
  animation: hoverWarningFlicker 5s infinite linear;
}
/* line 67, ../sass/layout/_header.scss */
.container > header ul.menu form label, .container > header ul.menu form input {
  font-family: "Futura W01 Book", Futura, sans-serif;
  font-size: 24pt;
  letter-spacing: .75pt;
  line-height: 1.5em;
}
/* line 77, ../sass/layout/_header.scss */
.container > header.public .card, .container > header.index .card {
  float: right;
  display: inline-block;
}
/* line 81, ../sass/layout/_header.scss */
.container > header.public .card > p, .container > header.index .card > p {
  padding-bottom: 0.75rem;
}
/* line 85, ../sass/layout/_header.scss */
.container > header.public .card form, .container > header.index .card form {
  width: auto;
  text-align: left;
}
/* line 91, ../sass/layout/_header.scss */
.container > header.public .card form p.submit input:hover, .container > header.index .card form p.submit input:hover {
  -webkit-animation: hoverConfirmFlicker 5s infinite linear;
  -moz-animation: hoverConfirmFlicker 5s infinite linear;
  -o-animation: hoverConfirmFlicker 5s infinite linear;
  animation: hoverConfirmFlicker 5s infinite linear;
}
/* line 96, ../sass/layout/_header.scss */
.container > header.public .card form input, .container > header.index .card form input {
  width: 100%;
  text-align: left;
}
/* line 100, ../sass/layout/_header.scss */
.container > header.public .card form input#name, .container > header.index .card form input#name {
  text-transform: capitalize;
}
/* line 104, ../sass/layout/_header.scss */
.container > header.public .card form input[type=submit], .container > header.index .card form input[type=submit] {
  width: auto;
}

/* line 1, ../sass/layout/_container.scss */
section.container {
  width: 10000%;
  height: 10000%;
  position: fixed;
}
/* line 6, ../sass/layout/_container.scss */
section.container section.space {
  width: 100%;
  height: 100%;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -moz-transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, -webkit-filter;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
}
/* line 12, ../sass/layout/_container.scss */
section.container section.space.obscured {
  opacity: .333;
  -webkit-filter: blur(20px);
}
/* line 17, ../sass/layout/_container.scss */
section.container section.space section.content {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  position: relative;
  z-index: 1;
}
/* line 26, ../sass/layout/_container.scss */
section.container > .delete.trash {
  z-index: 999;
  bottom: -4rem;
  right: 50%;
  margin-left: -2rem;
  height: 4rem;
  width: 4rem;
  position: fixed;
  color: #000000;
  text-align: center;
  font-family: "Futura W01 Medium", Futura;
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-property: bottom, -moz-transform, -webkit-transform;
  -o-transition-property: bottom, -o-transform, -webkit-transform;
  -webkit-transition-property: bottom, -webkit-transform, -webkit-transform;
  transition-property: bottom, transform, -webkit-transform;
  -moz-transform: scale3d(0.1, 0.1, 1);
  -ms-transform: scale3d(0.1, 0.1, 1);
  -webkit-transform: scale3d(0.1, 0.1, 1);
  transform: scale3d(0.1, 0.1, 1);
}
/* line 43, ../sass/layout/_container.scss */
section.container > .delete.trash:after {
  content: "×";
  font-size: 96pt;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
}
/* line 53, ../sass/layout/_container.scss */
section.container > .delete.trash.visible {
  bottom: 0;
  -moz-transform: scale3d(0.75, 0.75, 1);
  -ms-transform: scale3d(0.75, 0.75, 1);
  -webkit-transform: scale3d(0.75, 0.75, 1);
  transform: scale3d(0.75, 0.75, 1);
}
/* line 58, ../sass/layout/_container.scss */
section.container > .delete.trash.overlap {
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-animation: hoverWarningFlicker 5s infinite linear;
  -moz-animation: hoverWarningFlicker 5s infinite linear;
  -o-animation: hoverWarningFlicker 5s infinite linear;
  animation: hoverWarningFlicker 5s infinite linear;
}

/* line 5, ../sass/layout/_article.scss */
section.container section.space article {
  color: #000000;
  position: absolute;
  backface-visibility: hidden;
  background-color: transparent !important;
  line-height: 1.5em;
  transform-origin: top left;
  -webkit-transform-origin: top left;
  font-family: "Futura W01 Book", Futura, sans-serif;
  font-size: 24pt;
  letter-spacing: .75pt;
  line-height: 1.5em;
  /*
          &.attached {
          
              .card {
                  
                  &:before {
                      content: "•";
                      font-size: .5em;
                      position: absolute;
                      top: $gutter/1.6666;
                      left: $gutter/4;
                      line-height: 0;
                  }
              }
          }
      
  */
}
/* line 17, ../sass/layout/_article.scss */
section.container section.space article:hover, section.container section.space article.hover {
  cursor: move;
}
/* line 20, ../sass/layout/_article.scss */
section.container section.space article:hover > .card, section.container section.space article.hover > .card {
  -moz-box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.6);
  box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.6);
  -moz-transform: scale3d(1.125, 1.125, 1.125);
  -ms-transform: scale3d(1.125, 1.125, 1.125);
  -webkit-transform: scale3d(1.125, 1.125, 1.125);
  transform: scale3d(1.125, 1.125, 1.125);
}
/* line 24, ../sass/layout/_article.scss */
section.container section.space article:hover author, section.container section.space article.hover author {
  opacity: 1;
  top: -2.25em;
}
/* line 29, ../sass/layout/_article.scss */
section.container section.space article:hover .ui-resizable-handle, section.container section.space article.hover .ui-resizable-handle {
  opacity: .2;
}
/* line 34, ../sass/layout/_article.scss */
section.container section.space article.locked {
  opacity: .25;
  -webkit-filter: grayscale(1);
}
/* line 40, ../sass/layout/_article.scss */
section.container section.space article.resizing .card .ui-resizable-handle {
  opacity: .5;
}
/* line 46, ../sass/layout/_article.scss */
section.container section.space article.dragging > .card, section.container section.space article.ui-draggable-dragging > .card {
  cursor: move;
  -moz-transform: scale3d(1.15, 1.15, 1.15);
  -ms-transform: scale3d(1.15, 1.15, 1.15);
  -webkit-transform: scale3d(1.15, 1.15, 1.15);
  transform: scale3d(1.15, 1.15, 1.15);
  -moz-box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.6);
  box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.6);
}
/* line 58, ../sass/layout/_article.scss */
section.container section.space article.long .card {
  max-width: 24rem;
}
/* line 83, ../sass/layout/_article.scss */
section.container section.space article.add-element {
  /*
              form {
              
                  .fileInputWrapper {
                      position: relative;
                      display: block;
                      @include smallCaps;
                      overflow: hidden;
                      font-size: .5em;
                      
                      &:after {
                          content: "Upload a file";
                          position: absolute;
                          left: 0;
                          width: 100%;
                      }
                      
                      input[type="file"] {
                          @include transform(scale($typeSizeMultiplier));
                          opacity: 0;
                          z-index: 2;
                          position: relative;
                          cursor: pointer;
                      }
                  }
              }
  */
}
/* line 85, ../sass/layout/_article.scss */
section.container section.space article.add-element .card {
  width: 32rem !important;
}
/* line 88, ../sass/layout/_article.scss */
section.container section.space article.add-element .card .autogrow-textarea-mirror {
  width: 32rem !important;
}
/* line 124, ../sass/layout/_article.scss */
section.container section.space article textarea {
  width: 100%;
  height: 1.5rem;
  font-family: "Futura W01 Book", Futura, sans-serif;
  font-size: 24pt;
  letter-spacing: .75pt;
  line-height: 1.5em;
  line-height: 1.5em;
  margin-bottom: -3.375rem !important;
}
/* line 132, ../sass/layout/_article.scss */
section.container section.space article author {
  font-size: 12pt;
  line-height: 1.5em;
  font-family: "Futura W01 Medium", Futura;
  letter-spacing: .0625em;
  line-height: 1em;
  position: absolute;
  display: block;
  color: white;
  background: #000000;
  margin-left: -3pt;
  text-indent: 3pt;
  padding: 0.5rem 1rem 0.66667rem 1rem;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -900;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.25s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.25s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.25s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.25s;
  -moz-transition-property: opacity, top;
  -o-transition-property: opacity, top;
  -webkit-transition-property: opacity, top;
  transition-property: opacity, top;
}
/* line 152, ../sass/layout/_article.scss */
section.container section.space article .card {
  position: relative;
  max-width: 32rem;
  width: auto;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
}
/* line 165, ../sass/layout/_article.scss */
section.container section.space article .card.text {
  background-color: rgba(255, 255, 255, 0.925);
  border: 3pt solid #000000;
  padding: 0.5rem 1rem 0.66667rem 1rem;
  transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
  font-size: 12pt;
  line-height: 1.5em;
  font-family: "Futura W01 Medium", Futura;
  letter-spacing: .0625em;
  width: auto;
}
/* line 171, ../sass/layout/_article.scss */
section.container section.space article .card.image {
  width: 32rem;
  overflow: hidden;
  border: 3pt solid #000000;
}
/* line 177, ../sass/layout/_article.scss */
section.container section.space article .card.image .ui-resizable-handle:after {
  color: white !important;
}
/* line 183, ../sass/layout/_article.scss */
section.container section.space article .card.website {
  border: 3pt solid #000000;
}
/* line 186, ../sass/layout/_article.scss */
section.container section.space article .card.website .text {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.925);
  border: 3pt solid #000000;
  padding: 0.5rem 1rem 0.66667rem 1rem;
  transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
  border: 0;
  border-top: 3pt solid #000000;
}
/* line 193, ../sass/layout/_article.scss */
section.container section.space article .card.website .text:hover {
  -webkit-animation: hoverLinkFlicker 5s infinite linear;
  -moz-animation: hoverLinkFlicker 5s infinite linear;
  -o-animation: hoverLinkFlicker 5s infinite linear;
  animation: hoverLinkFlicker 5s infinite linear;
  border-color: #000000 !important;
}
/* line 198, ../sass/layout/_article.scss */
section.container section.space article .card.website .text .title p {
  line-height: 1.25em;
}
/* line 202, ../sass/layout/_article.scss */
section.container section.space article .card.website .text .url p {
  margin-top: 0.5em;
  font-size: 12pt;
  line-height: 1.5em;
  font-family: "Futura W01 Medium", Futura;
  letter-spacing: .0625em;
}
/* line 208, ../sass/layout/_article.scss */
section.container section.space article .card.website.image {
  max-height: 36rem;
}
/* line 218, ../sass/layout/_article.scss */
section.container section.space article .card img {
  width: 100%;
  margin-bottom: -12pt;
  background-color: rgba(255, 255, 255, 0.925);
}
/* line 225, ../sass/layout/_article.scss */
section.container section.space article .ui-resizable-handle {
  z-index: 9999999;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-image: url("../images/elementResize.png");
  background-size: 100% 100%;
  background-position: top left;
  -moz-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
  height: 1rem;
  width: 1rem;
}
/* line 239, ../sass/layout/_article.scss */
section.container section.space article .ui-resizable-handle:hover {
  opacity: .5;
}

/* line 1, ../sass/layout/_login.scss */
.card.login {
  padding-left: 2rem !important;
  padding-bottom: 1rem !important;
  background-color: rgba(255, 255, 255, 0.925);
  border: 3pt solid #000000;
  padding: 0.5rem 1rem 0.66667rem 1rem;
  transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
  width: 16rem;
}
/* line 12, ../sass/layout/_login.scss */
.card.login input#toggle-login:checked + form {
  background: red;
}
/* line 19, ../sass/layout/_login.scss */
.card.login form input {
  text-transform: lowercase;
}
