@charset "UTF-8";
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/globals/_boilerplate.scss */
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 31, ../sass/globals/_type.scss */
html {
  font-family: "UniversLTStd", sans-serif;
  font-size: 10pt;
  line-height: 1.5em;
}
/* line 34, ../sass/globals/_type.scss */
html a {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px #aaaaaa solid;
}
/* line 42, ../sass/globals/_type.scss */
html p + p {
  margin-top: 0.75rem;
}

/* line 26, ../sass/globals/_controls.scss */
form {
  position: relative;
}

/* line 30, ../sass/globals/_controls.scss */
input {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-family: "UniversLTStd", sans-serif;
  font-size: 10pt;
  line-height: 1.5em;
  line-height: 1.5em;
  font-family: "UniversLTStd-MediumItalic";
  border-bottom: 1px #aaaaaa solid;
}
/* line 37, ../sass/globals/_controls.scss */
input:focus {
  border-color: #444444;
}
/* line 41, ../sass/globals/_controls.scss */
input.offset {
  background-color: rgba(255, 255, 255, 0.925);
  -webkit-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  padding: 1em;
  position: relative;
  margin-left: -1.5rem;
  margin-top: -.666em;
  left: 100%;
  float: left;
}
/* line 50, ../sass/globals/_controls.scss */
input.offset:hover, input.offset:focus {
  -webkit-transform: scale(1.125);
  -moz-transform: scale(1.125);
  -ms-transform: scale(1.125);
  -o-transform: scale(1.125);
  transform: scale(1.125);
}
/* line 55, ../sass/globals/_controls.scss */
input.offset:active {
  -webkit-transform: scale(0.925);
  -moz-transform: scale(0.925);
  -ms-transform: scale(0.925);
  -o-transform: scale(0.925);
  transform: scale(0.925);
  -webkit-box-shadow: 0 0.16667rem 0.5rem rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.16667rem 0.5rem rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.16667rem 0.5rem rgba(0, 0, 0, 0.125);
}
/* line 61, ../sass/globals/_controls.scss */
input[type=submit], input[type=button] {
  font-size: .666em;
  font-weight: bold;
  letter-spacing: .125em;
  text-transform: uppercase !important;
  border: 0;
  cursor: pointer;
}
/* line 67, ../sass/globals/_controls.scss */
input[type=checkbox] {
  width: 1em;
  margin-left: -1.5em;
  margin-right: .5em;
}
/* line 72, ../sass/globals/_controls.scss */
input[type=checkbox] + label {
  font-size: .666em;
  font-weight: bold;
  letter-spacing: .125em;
  text-transform: uppercase !important;
}

/* line 79, ../sass/globals/_controls.scss */
ul.menu {
  background-color: rgba(255, 255, 255, 0.925);
  -webkit-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  width: 8rem;
  position: relative;
  max-height: 2.25rem;
  overflow: hidden;
  vertical-align: top;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
/* line 89, ../sass/globals/_controls.scss */
ul.menu:hover {
  max-height: none;
  opacity: 1;
}
/* line 93, ../sass/globals/_controls.scss */
ul.menu:hover:after {
  opacity: 1;
}
/* line 98, ../sass/globals/_controls.scss */
ul.menu:after {
  content: "▴";
  font-size: 1.25em;
  position: absolute;
  top: 0.6rem;
  right: 0.375rem;
  opacity: .25;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
/* line 110, ../sass/globals/_controls.scss */
ul.menu li {
  height: 1.5rem;
  position: relative;
  padding: 0.375rem;
}
/* line 115, ../sass/globals/_controls.scss */
ul.menu li a {
  border: none;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 123, ../sass/globals/_controls.scss */
ul.menu li a:hover {
  padding-left: 1rem;
}
/* line 128, ../sass/globals/_controls.scss */
ul.menu li input {
  max-width: 100% !important;
}
/* line 131, ../sass/globals/_controls.scss */
ul.menu li input[type=submit] {
  display: none;
}

/* line 138, ../sass/globals/_controls.scss */
textarea {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-family: "UniversLTStd", sans-serif;
  font-size: 10pt;
  line-height: 1.5em;
  width: 100%;
  height: 9rem;
}

/* line 1, ../sass/layout/_body.scss */
body {
  height: 100%;
  background-color: #fafafa;
}

/* line 1, ../sass/layout/_header.scss */
header {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  margin: 0.5rem 0 0 0.5rem;
  height: 25vh;
  width: 28rem;
  opacity: .5;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  text-align: right;
}
/* line 14, ../sass/layout/_header.scss */
header:hover {
  opacity: 1;
}
/* line 18, ../sass/layout/_header.scss */
header ul.menu {
  display: inline-block;
  width: 12rem;
  opacity: .75;
  margin-right: 1rem;
  text-align: left;
}

/* line 1, ../sass/layout/_container.scss */
section.container {
  width: 10000%;
  height: 10000%;
  position: fixed;
}
/* line 6, ../sass/layout/_container.scss */
section.container section.space {
  width: 100%;
  height: 100%;
}
/* line 10, ../sass/layout/_container.scss */
section.container section.space h1 {
  position: fixed;
  text-align: right;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  bottom: 1rem;
  right: 1rem;
  width: 16rem;
  height: 1.5em;
  z-index: 2;
  font-size: .666em;
  font-weight: bold;
  letter-spacing: .125em;
  text-transform: uppercase !important;
  font-family: "UniversLTStd";
  font-size: .75rem;
  line-height: 1.5em;
}
/* line 23, ../sass/layout/_container.scss */
section.container section.space h1 form input {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-size: .666em;
  font-weight: bold;
  letter-spacing: .125em;
  text-transform: uppercase !important;
  font-family: "UniversLTStd";
  font-size: .75rem;
  line-height: 1.5em;
  text-align: right;
  position: absolute;
  left: 0;
  width: 16rem;
  height: 1.5em;
}
/* line 36, ../sass/layout/_container.scss */
section.container section.space:active {
  cursor: move;
}
/* line 40, ../sass/layout/_container.scss */
section.container section.space ul.users {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}
/* line 46, ../sass/layout/_container.scss */
section.container section.space ul.users li {
  display: block;
  height: 3rem;
  width: 3rem;
  margin: .5em;
}
/* line 52, ../sass/layout/_container.scss */
section.container section.space ul.users li img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: red;
}
/* line 62, ../sass/layout/_container.scss */
section.container section.space section.content {
  transform-origin: 0 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  position: relative;
  z-index: 1;
}
/* line 68, ../sass/layout/_container.scss */
section.container section.space section.content article {
  max-width: 24rem;
  color: #333333;
  position: absolute;
  backface-visibility: hidden;
  background-color: transparent !important;
}
/* line 75, ../sass/layout/_container.scss */
section.container section.space section.content article textarea {
  width: 100%;
  height: 9rem;
}
/* line 80, ../sass/layout/_container.scss */
section.container section.space section.content article .card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.925);
  -webkit-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
}
/* line 84, ../sass/layout/_container.scss */
section.container section.space section.content article .card:hover, section.container section.space section.content article .card.rollover {
  cursor: move;
}
/* line 89, ../sass/layout/_container.scss */
section.container section.space section.content article .card:hover.text, section.container section.space section.content article .card.rollover.text {
  background-color: rgba(255, 255, 255, 0.96);
}
/* line 93, ../sass/layout/_container.scss */
section.container section.space section.content article .card:hover img, section.container section.space section.content article .card.rollover img {
  opacity: 1;
}
/* line 98, ../sass/layout/_container.scss */
section.container section.space section.content article .card:active, section.container section.space section.content article .card.dragging {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  cursor: move;
}
/* line 101, ../sass/layout/_container.scss */
section.container section.space section.content article .card:active.text, section.container section.space section.content article .card.dragging.text {
  background-color: rgba(255, 255, 255, 0.96);
}
/* line 105, ../sass/layout/_container.scss */
section.container section.space section.content article .card:active img, section.container section.space section.content article .card.dragging img {
  opacity: 1;
}
/* line 110, ../sass/layout/_container.scss */
section.container section.space section.content article .card.text {
  padding: 0.33333rem 1rem 0.33333rem 0.5rem;
}
/* line 114, ../sass/layout/_container.scss */
section.container section.space section.content article .card.image {
  background-color: transparent;
}
/* line 119, ../sass/layout/_container.scss */
section.container section.space section.content article .card.website p a {
  word-break: break-all;
}
/* line 124, ../sass/layout/_container.scss */
section.container section.space section.content article .card.caption {
  left: 1rem;
  top: -1.5rem;
}
/* line 129, ../sass/layout/_container.scss */
section.container section.space section.content article .card img {
  width: 100%;
  opacity: .9;
  margin-bottom: -12pt;
}
/* line 138, ../sass/layout/_container.scss */
section.container section.space .delete {
  text-align: center;
  position: fixed;
  z-index: 5;
  width: 8rem;
  padding: 2rem;
  bottom: -8rem;
  left: 50%;
  margin-left: -4rem;
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 150, ../sass/layout/_container.scss */
section.container section.space .delete.visible {
  bottom: 0;
  opacity: 1;
}
/* line 155, ../sass/layout/_container.scss */
section.container section.space .delete.rollover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  opacity: 1;
  bottom: 0;
}
/* line 161, ../sass/layout/_container.scss */
section.container section.space .delete:after {
  text-align: center;
  content: "×";
  font-size: 6em;
  position: relative;
  top: 33.333%;
  height: 100%;
  margin-top: -75%;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  margin-top: 2em;
  font-weight: 100;
  color: red;
}

/* line 1, ../sass/layout/_login.scss */
.card.login {
  position: relative;
  margin-top: 50%;
  left: 33%;
  padding-left: 2rem !important;
  padding-bottom: 1rem !important;
  background-color: rgba(255, 255, 255, 0.925);
  -webkit-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.125s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  width: 16rem;
}
/* line 12, ../sass/layout/_login.scss */
.card.login input#toggle-login:checked + form {
  background: red;
}
/* line 19, ../sass/layout/_login.scss */
.card.login form input {
  text-transform: lowercase;
}
