@charset "UTF-8";
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/globals/_boilerplate.scss */
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
$fontLight:     "UniversLTStd-Light";
$fontRegular:   "UniversLTStd";
$fontBold:      "UniversLTStd-Bold";
$fontItalic:    "UniversLTStd-MediumItalic";
$fontBoldItalic:"UniversLTStd-BoldItalic";
*/
/* line 41, ../sass/globals/_type.scss */
html {
  font-family: "FuturaStd-Book", sans-serif;
  font-size: 10pt;
  letter-spacing: .5pt;
  line-height: 1.5em;
}
/* line 44, ../sass/globals/_type.scss */
html a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px #aaaaaa solid;
}
/* line 52, ../sass/globals/_type.scss */
html p + p {
  margin-top: 0.75rem;
}

/* line 51, ../sass/globals/_components.scss */
form {
  position: relative;
}

/* line 55, ../sass/globals/_components.scss */
input {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-family: "FuturaStd-Book", sans-serif;
  font-size: 10pt;
  letter-spacing: .5pt;
  line-height: 1.5em;
  line-height: 1.5em;
  border-bottom: 0.5pt #aaaaaa solid;
}
/* line 62, ../sass/globals/_components.scss */
input:focus {
  border-color: #000000;
}
/* line 66, ../sass/globals/_components.scss */
input.offset {
  background-color: rgba(255, 255, 255, 0.925);
  padding: 1rem 3.2rem 1rem 3.2rem;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  font-size: .666em;
  font-family: "Futura";
  letter-spacing: .125em;
  text-transform: uppercase !important;
  padding: 1rem;
  position: relative;
  margin-left: -1.5rem;
  margin-top: -.666em;
  left: 100%;
  float: left;
}
/* line 32, ../sass/globals/_components.scss */
input.offset:hover, input.offset:focus {
  -moz-transform: scale(1.125);
  -ms-transform: scale(1.125);
  -webkit-transform: scale(1.125);
  transform: scale(1.125);
}
/* line 37, ../sass/globals/_components.scss */
input.offset:active {
  -moz-transform: scale(0.925);
  -ms-transform: scale(0.925);
  -webkit-transform: scale(0.925);
  transform: scale(0.925);
  -moz-box-shadow: 0 0.16667rem 0.5rem rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0 0.16667rem 0.5rem rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.16667rem 0.5rem rgba(0, 0, 0, 0.125);
}
/* line 71, ../sass/globals/_components.scss */
input[type=submit], input[type=button] {
  font-size: .666em;
  font-family: "Futura";
  letter-spacing: .125em;
  text-transform: uppercase !important;
  border: 0;
  cursor: pointer;
}
/* line 77, ../sass/globals/_components.scss */
input[type=checkbox] {
  width: 1em;
  margin-left: -1.5em;
  margin-right: .5em;
}
/* line 82, ../sass/globals/_components.scss */
input[type=checkbox] + label {
  font-size: .666em;
  font-family: "Futura";
  letter-spacing: .125em;
  text-transform: uppercase !important;
}

/* line 89, ../sass/globals/_components.scss */
ul.menu {
  background-color: rgba(255, 255, 255, 0.925);
  padding: 1rem 3.2rem 1rem 3.2rem;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  padding: 0;
  width: 8rem;
  position: relative;
  max-height: 2.25rem;
  overflow: hidden;
  vertical-align: top;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  /*
      &:after {
          content: "▴";
          font-size: 1.25em;
          position: absolute;
          top: $baseline/2.5;
          right: $baseline/4;
          opacity: .25;
          @include transform(rotate(180deg));
          @include basicTransition;
          @include transition-property(opacity);
      }
  */
}
/* line 100, ../sass/globals/_components.scss */
ul.menu:hover {
  max-height: none;
  opacity: 1;
}
/* line 104, ../sass/globals/_components.scss */
ul.menu:hover:after {
  opacity: 1;
}
/* line 123, ../sass/globals/_components.scss */
ul.menu li {
  height: 2.25rem;
  padding-left: .5em;
}
/* line 127, ../sass/globals/_components.scss */
ul.menu li:first-of-type {
  padding-top: 0.75rem;
}
/* line 131, ../sass/globals/_components.scss */
ul.menu li a {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  -moz-transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: padding-left 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 138, ../sass/globals/_components.scss */
ul.menu li a:hover {
  padding-left: .5em;
}
/* line 143, ../sass/globals/_components.scss */
ul.menu li input {
  width: 95% !important;
}
/* line 146, ../sass/globals/_components.scss */
ul.menu li input[type=submit] {
  display: none;
}

/* line 153, ../sass/globals/_components.scss */
textarea {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-family: "FuturaStd-Book", sans-serif;
  font-size: 10pt;
  letter-spacing: .5pt;
  line-height: 1.5em;
  width: 100%;
  height: 9rem;
}

/* line 1, ../sass/layout/_body.scss */
body {
  height: 100%;
  background-color: #f8f8f8;
}

/* line 1, ../sass/layout/_header.scss */
header {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  margin: 0.5rem 0 0 0.5rem;
  height: 25vh;
  width: 28rem;
  opacity: .5;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  text-align: right;
}
/* line 14, ../sass/layout/_header.scss */
header:hover {
  opacity: 1;
}
/* line 18, ../sass/layout/_header.scss */
header ul.menu {
  display: inline-block;
  width: 12rem;
  opacity: .75;
  margin-right: 1rem;
  text-align: left;
}
/* line 26, ../sass/layout/_header.scss */
header ul.menu li a, header ul.menu li input, header ul.menu li span {
  font-size: .666em;
  font-family: "Futura";
  letter-spacing: .125em;
  text-transform: uppercase !important;
}

/* line 1, ../sass/layout/_container.scss */
section.container {
  width: 10000%;
  height: 10000%;
  position: fixed;
}
/* line 6, ../sass/layout/_container.scss */
section.container section.space {
  width: 100%;
  height: 100%;
        /*
h1 {
            position: fixed;
            text-align: right;
            @include resetInput;
            bottom: $gutter;
            right: $gutter;
            width: $col * 2;
            height: 1.5em;
            z-index: 2;
            @include typeSpaceName;
            
            form {
                
                input {
                    @include resetInput;
                    @include typeSpaceName;
                    text-align: right;
                    position: absolute;
                    left: 0;
                    width: $col * 2;
                    height: 1.5em;

                }
            }
        }
*/
}
/* line 38, ../sass/layout/_container.scss */
section.container section.space:active {
  cursor: move;
}
/* line 42, ../sass/layout/_container.scss */
section.container section.space ul.users {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}
/* line 48, ../sass/layout/_container.scss */
section.container section.space ul.users li {
  display: block;
  height: 3rem;
  width: 3rem;
  margin: .5em;
}
/* line 54, ../sass/layout/_container.scss */
section.container section.space ul.users li img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: red;
}
/* line 64, ../sass/layout/_container.scss */
section.container section.space section.content {
  transform-origin: 0 0;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  position: relative;
  z-index: 1;
}
/* line 70, ../sass/layout/_container.scss */
section.container section.space section.content article {
  color: #000000;
  position: absolute;
  backface-visibility: hidden;
  background-color: transparent !important;
  font-size: 80pt;
  line-height: 1.5em;
}
/* line 89, ../sass/layout/_container.scss */
section.container section.space section.content article.add-element form .fileInputWrapper {
  position: relative;
  display: block;
  font-size: .666em;
  font-family: "Futura";
  letter-spacing: .125em;
  text-transform: uppercase !important;
  overflow: hidden;
  font-size: .5em;
  width: 64rem;
  height: 9rem;
}
/* line 99, ../sass/layout/_container.scss */
section.container section.space section.content article.add-element form .fileInputWrapper:after {
  content: "Upload a file";
  position: absolute;
  left: 0;
  width: 100%;
}
/* line 106, ../sass/layout/_container.scss */
section.container section.space section.content article.add-element form .fileInputWrapper input[type="file"] {
  -moz-transform: scale(8);
  -ms-transform: scale(8);
  -webkit-transform: scale(8);
  transform: scale(8);
  opacity: 0;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
/* line 117, ../sass/layout/_container.scss */
section.container section.space section.content article textarea {
  width: 100%;
  height: 9rem;
  font-size: 80pt;
  line-height: 1.5em;
}
/* line 124, ../sass/layout/_container.scss */
section.container section.space section.content article > .card {
  position: relative;
  max-width: 192rem;
  width: auto;
}
/* line 130, ../sass/layout/_container.scss */
section.container section.space section.content article > .card:hover, section.container section.space section.content article > .card.rollover {
  cursor: move;
}
/* line 134, ../sass/layout/_container.scss */
section.container section.space section.content article > .card:hover.text, section.container section.space section.content article > .card.rollover.text {
  background-color: white;
}
/* line 138, ../sass/layout/_container.scss */
section.container section.space section.content article > .card:hover img, section.container section.space section.content article > .card.rollover img {
  opacity: 1;
}
/* line 143, ../sass/layout/_container.scss */
section.container section.space section.content article > .card:active, section.container section.space section.content article > .card.dragging {
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  cursor: move;
}
/* line 146, ../sass/layout/_container.scss */
section.container section.space section.content article > .card:active.text, section.container section.space section.content article > .card.dragging.text {
  background-color: white;
}
/* line 150, ../sass/layout/_container.scss */
section.container section.space section.content article > .card:active img, section.container section.space section.content article > .card.dragging img {
  opacity: 1;
}
/* line 155, ../sass/layout/_container.scss */
section.container section.space section.content article > .card.text {
  background-color: rgba(255, 255, 255, 0.925);
  padding: 1rem 3.2rem 1rem 3.2rem;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  width: auto;
}
/* line 160, ../sass/layout/_container.scss */
section.container section.space section.content article > .card.image {
  background-color: transparent;
  width: 192rem;
}
/* line 166, ../sass/layout/_container.scss */
section.container section.space section.content article > .card.website p a {
  word-break: break-all;
}
/* line 171, ../sass/layout/_container.scss */
section.container section.space section.content article > .card.caption {
  left: 1rem;
  top: -1.5rem;
  width: auto;
}
/* line 177, ../sass/layout/_container.scss */
section.container section.space section.content article > .card img {
  width: 100%;
  opacity: .9;
  margin-bottom: -12pt;
}
/* line 186, ../sass/layout/_container.scss */
section.container section.space .delete {
  text-align: center;
  position: fixed;
  z-index: 5;
  width: 8rem;
  padding: 2rem;
  bottom: -8rem;
  left: 50%;
  margin-left: -4rem;
  -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 198, ../sass/layout/_container.scss */
section.container section.space .delete.visible {
  bottom: 0;
  opacity: 1;
}
/* line 203, ../sass/layout/_container.scss */
section.container section.space .delete.rollover {
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  opacity: 1;
  bottom: 0;
}
/* line 209, ../sass/layout/_container.scss */
section.container section.space .delete:after {
  text-align: center;
  content: "×";
  font-size: 6em;
  position: relative;
  top: 33.333%;
  height: 100%;
  margin-top: -75%;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  margin-top: 2em;
  font-weight: 100;
  color: #fb2705;
}

/* line 1, ../sass/layout/_login.scss */
.card.login {
  padding-left: 2rem !important;
  padding-bottom: 1rem !important;
  background-color: rgba(255, 255, 255, 0.925);
  padding: 1rem 3.2rem 1rem 3.2rem;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  width: 16rem;
}
/* line 12, ../sass/layout/_login.scss */
.card.login input#toggle-login:checked + form {
  background: red;
}
/* line 19, ../sass/layout/_login.scss */
.card.login form input {
  text-transform: lowercase;
}
