@charset "UTF-8";
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/globals/_boilerplate.scss */
html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 45, ../sass/globals/_color.scss */
body section.space section.content article.color0 div.card.text.comment, body section.space section.content article.color0 header {
  background-color: rgba(255, 59, 48, 0.9);
}
/* line 49, ../sass/globals/_color.scss */
body section.space section.content article.color1 div.card.text.comment, body section.space section.content article.color1 header {
  background-color: rgba(255, 149, 0, 0.9);
}
/* line 53, ../sass/globals/_color.scss */
body section.space section.content article.color2 div.card.text.comment, body section.space section.content article.color2 header {
  background-color: rgba(255, 204, 0, 0.9);
}
/* line 57, ../sass/globals/_color.scss */
body section.space section.content article.color3 div.card.text.comment, body section.space section.content article.color3 header {
  background-color: rgba(76, 217, 100, 0.9);
}
/* line 61, ../sass/globals/_color.scss */
body section.space section.content article.color4 div.card.text.comment, body section.space section.content article.color4 header {
  background-color: rgba(0, 122, 255, 0.9);
}
/* line 65, ../sass/globals/_color.scss */
body section.space section.content article.color5 div.card.text.comment, body section.space section.content article.color5 header {
  background-color: rgba(255, 45, 85, 0.9);
}
/* line 69, ../sass/globals/_color.scss */
body section.space section.content article.color6 div.card.text.comment, body section.space section.content article.color6 header {
  background-color: rgba(135, 252, 112, 0.9);
}
/* line 73, ../sass/globals/_color.scss */
body section.space section.content article.color7 div.card.text.comment, body section.space section.content article.color7 header {
  background-color: rgba(255, 19, 0, 0.9);
}
/* line 77, ../sass/globals/_color.scss */
body section.space section.content article.color8 div.card.text.comment, body section.space section.content article.color8 header {
  background-color: rgba(239, 77, 182, 0.9);
}
/* line 81, ../sass/globals/_color.scss */
body section.space section.content article.color9 div.card.text.comment, body section.space section.content article.color9 header {
  background-color: rgba(82, 237, 199, 0.9);
}

/* line 89, ../sass/globals/_color.scss */
.container > header ul.users li.user.color0 {
  border-color: #ff3b30;
}
/* line 92, ../sass/globals/_color.scss */
.container > header ul.users li.user.color0.online {
  background-color: #ff3b30;
}
/* line 97, ../sass/globals/_color.scss */
.container > header ul.users li.user.color1 {
  border-color: #ff9500;
}
/* line 100, ../sass/globals/_color.scss */
.container > header ul.users li.user.color1.online {
  background-color: #ff9500;
}
/* line 105, ../sass/globals/_color.scss */
.container > header ul.users li.user.color2 {
  border-color: #ffcc00;
}
/* line 108, ../sass/globals/_color.scss */
.container > header ul.users li.user.color2.online {
  background-color: #ffcc00;
}
/* line 113, ../sass/globals/_color.scss */
.container > header ul.users li.user.color3 {
  border-color: #4cd964;
}
/* line 116, ../sass/globals/_color.scss */
.container > header ul.users li.user.color3.online {
  background-color: #4cd964;
}
/* line 121, ../sass/globals/_color.scss */
.container > header ul.users li.user.color4 {
  border-color: #007aff;
}
/* line 124, ../sass/globals/_color.scss */
.container > header ul.users li.user.color4.online {
  background-color: #007aff;
}
/* line 129, ../sass/globals/_color.scss */
.container > header ul.users li.user.color5 {
  border-color: #ff2d55;
}
/* line 132, ../sass/globals/_color.scss */
.container > header ul.users li.user.color5.online {
  background-color: #ff2d55;
}
/* line 137, ../sass/globals/_color.scss */
.container > header ul.users li.user.color6 {
  border-color: #87fc70;
}
/* line 140, ../sass/globals/_color.scss */
.container > header ul.users li.user.color6.online {
  background-color: #87fc70;
}
/* line 145, ../sass/globals/_color.scss */
.container > header ul.users li.user.color7 {
  border-color: #ff1300;
}
/* line 148, ../sass/globals/_color.scss */
.container > header ul.users li.user.color7.online {
  background-color: #ff1300;
}
/* line 153, ../sass/globals/_color.scss */
.container > header ul.users li.user.color8 {
  border-color: #ef4db6;
}
/* line 156, ../sass/globals/_color.scss */
.container > header ul.users li.user.color8.online {
  background-color: #ef4db6;
}
/* line 161, ../sass/globals/_color.scss */
.container > header ul.users li.user.color9 {
  border-color: #52edc7;
}
/* line 164, ../sass/globals/_color.scss */
.container > header ul.users li.user.color9.online {
  background-color: #52edc7;
}

/*
$fontLight:     "UniversLTStd-Light";
$fontRegular:   "UniversLTStd";
$fontBold:      "UniversLTStd-Bold";
$fontItalic:    "UniversLTStd-MediumItalic";
$fontBoldItalic:"UniversLTStd-BoldItalic";
*/
/* line 54, ../sass/globals/_type.scss */
html {
  font-family: "FuturaStd-Book", sans-serif;
  font-size: 10pt;
  letter-spacing: .5pt;
  line-height: 1.5em;
}
/* line 57, ../sass/globals/_type.scss */
html a {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px #aaaaaa solid;
}
/* line 65, ../sass/globals/_type.scss */
html p + p {
  margin-top: 0.75rem;
}

/* line 53, ../sass/globals/_components.scss */
form {
  position: relative;
}

/* line 57, ../sass/globals/_components.scss */
input {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-size: 10pt;
  line-height: 1.5em;
  font-family: "FuturaStd-Medium";
  padding-top: 1.5rem;
  line-height: 1.5em;
  border-bottom: 0.5pt #aaaaaa solid;
}
/* line 64, ../sass/globals/_components.scss */
input:focus {
  border-color: #000000;
}
/* line 68, ../sass/globals/_components.scss */
input.offset {
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  font-size: .666em;
  font-family: "FuturaStd-Medium";
  letter-spacing: .1825em;
  text-transform: uppercase !important;
  padding: 1rem;
  position: relative;
  margin-left: -1.5rem;
  margin-top: -.666em;
  left: 100%;
  float: left;
}
/* line 34, ../sass/globals/_components.scss */
input.offset:hover, input.offset:focus {
  opacity: .9;
  -moz-transform: scale(1.125);
  -ms-transform: scale(1.125);
  -webkit-transform: scale(1.125);
  transform: scale(1.125);
}
/* line 39, ../sass/globals/_components.scss */
input.offset:active {
  -moz-transform: scale(0.925);
  -ms-transform: scale(0.925);
  -webkit-transform: scale(0.925);
  transform: scale(0.925);
  -moz-box-shadow: 0 0.16667rem 0.5rem rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0 0.16667rem 0.5rem rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.16667rem 0.5rem rgba(0, 0, 0, 0.125);
}
/* line 73, ../sass/globals/_components.scss */
input[type=submit], input[type=button] {
  font-size: .666em;
  font-family: "FuturaStd-Medium";
  letter-spacing: .1825em;
  text-transform: uppercase !important;
  border: 0;
  cursor: pointer;
}
/* line 79, ../sass/globals/_components.scss */
input[type=checkbox] {
  width: 1em;
  margin-left: -1.5em;
  margin-right: .5em;
}
/* line 84, ../sass/globals/_components.scss */
input[type=checkbox] + label {
  font-size: .666em;
  font-family: "FuturaStd-Medium";
  letter-spacing: .1825em;
  text-transform: uppercase !important;
}

/* line 91, ../sass/globals/_components.scss */
ul.menu {
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  padding: 0;
  width: 8rem;
  position: relative;
  max-height: 2.25rem;
  overflow: hidden;
  vertical-align: top;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
/* line 102, ../sass/globals/_components.scss */
ul.menu:hover {
  max-height: none;
  opacity: 1;
}
/* line 106, ../sass/globals/_components.scss */
ul.menu:hover:after {
  opacity: 1;
}
/* line 111, ../sass/globals/_components.scss */
ul.menu li {
  height: 2.25rem;
  padding-left: .5em;
}
/* line 115, ../sass/globals/_components.scss */
ul.menu li:first-of-type {
  padding-top: 0.75rem;
}
/* line 119, ../sass/globals/_components.scss */
ul.menu li a {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  -moz-transition: font-family 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: font-family 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: font-family 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: font-family 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 126, ../sass/globals/_components.scss */
ul.menu li a:hover {
  font-family: "FuturaStd-Bold";
}
/* line 131, ../sass/globals/_components.scss */
ul.menu li input {
  width: 95% !important;
  padding-top: 0;
}
/* line 135, ../sass/globals/_components.scss */
ul.menu li input[type=submit] {
  display: none;
}

/* line 142, ../sass/globals/_components.scss */
textarea {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  font-size: 10pt;
  line-height: 1.5em;
  font-family: "FuturaStd-Medium";
  padding-top: 1.5rem;
  width: 100%;
  height: 9rem;
}

/* line 1, ../sass/layout/_body.scss */
body {
  height: 100%;
  background-color: #f0f0f0;
}

/* line 1, ../sass/layout/_header.scss */
.container > header {
  position: fixed;
  z-index: 2;
  top: 0;
  right: left;
  height: 25vh;
  width: 100%;
  text-align: left;
}
/* line 11, ../sass/layout/_header.scss */
.container > header ul.menu {
  display: inline-block;
  width: 12rem;
  opacity: .75;
  margin-right: 1rem;
  margin: 0.5rem 0 0 0.5rem;
}
/* line 19, ../sass/layout/_header.scss */
.container > header ul.users {
  float: right;
  width: auto;
}
/* line 23, ../sass/layout/_header.scss */
.container > header ul.users > li {
  display: inline-block;
  border-top: 2pt solid;
  padding: 0 0.25rem;
  width: 1.5rem;
  -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  white-space: nowrap;
  text-align: center;
  font-family: "FuturaStd-Bold";
  line-height: 2.666em;
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 40, ../sass/layout/_header.scss */
.container > header ul.users > li.online:hover span.name, .container > header ul.users > li.online:hover span.initial {
  color: white;
}
/* line 45, ../sass/layout/_header.scss */
.container > header ul.users > li.online span.initial {
  color: white;
}
/* line 50, ../sass/layout/_header.scss */
.container > header ul.users > li:hover {
  width: 12rem;
  color: #000000;
  text-align: left;
  padding-left: 0.57143rem;
  background-color: white;
}
/* line 57, ../sass/layout/_header.scss */
.container > header ul.users > li:hover.settings {
  padding: 0;
}
/* line 60, ../sass/layout/_header.scss */
.container > header ul.users > li:hover.settings ul.menu {
  margin: 0;
  opacity: 1;
  height: auto;
}
/* line 66, ../sass/layout/_header.scss */
.container > header ul.users > li:hover.settings span.symbol {
  display: none;
}
/* line 71, ../sass/layout/_header.scss */
.container > header ul.users > li:hover span.name {
  color: #000000;
  width: auto;
  margin-right: .25em;
}
/* line 77, ../sass/layout/_header.scss */
.container > header ul.users > li:hover ul.menu {
  opacity: 1;
  -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
/* line 86, ../sass/layout/_header.scss */
.container > header ul.users > li.settings span.symbol {
  font-size: 2em;
  line-height: 1em;
  position: relative;
  top: -1pt;
}
/* line 94, ../sass/layout/_header.scss */
.container > header ul.users > li.settings ul.menu {
  opacity: 0;
  height: 0;
}
/* line 100, ../sass/layout/_header.scss */
.container > header ul.users > li span {
  display: inline-block;
  -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
}
/* line 105, ../sass/layout/_header.scss */
.container > header ul.users > li span.initial {
  color: #000000;
}
/* line 109, ../sass/layout/_header.scss */
.container > header ul.users > li span.name {
  width: 0;
  color: transparent;
}
/* line 117, ../sass/layout/_header.scss */
.container > header li {
  font-size: .666em;
  font-family: "FuturaStd-Medium";
  letter-spacing: .1825em;
  text-transform: uppercase !important;
  font-size: 6.66pt;
  font-family: "FuturaStd-Medium";
}
/* line 119, ../sass/layout/_header.scss */
.container > header li input {
  font-size: .666em;
  font-family: "FuturaStd-Medium";
  letter-spacing: .1825em;
  text-transform: uppercase !important;
  font-size: 6.66pt;
  font-family: "FuturaStd-Medium";
}

/* line 1, ../sass/layout/_container.scss */
section.container {
  width: 10000%;
  height: 10000%;
  position: fixed;
}
/* line 6, ../sass/layout/_container.scss */
section.container section.space {
  width: 100%;
  height: 100%;
}
/* line 36, ../sass/layout/_container.scss */
section.container section.space ul.users {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}
/* line 42, ../sass/layout/_container.scss */
section.container section.space ul.users li {
  display: block;
  height: 3rem;
  width: 3rem;
  margin: .5em;
}
/* line 48, ../sass/layout/_container.scss */
section.container section.space ul.users li img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: red;
}
/* line 58, ../sass/layout/_container.scss */
section.container section.space section.content {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  position: relative;
  z-index: 1;
}

/* line 3, ../sass/layout/_article.scss */
section.container section.space article {
  color: #000000;
  position: absolute;
  backface-visibility: hidden;
  background-color: transparent !important;
  font-size: 20pt;
  line-height: 1.5em;
  transform-origin: top left;
  -webkit-transform-origin: top left;
}
/* line 15, ../sass/layout/_article.scss */
section.container section.space article:hover {
  cursor: move;
  opacity: .9;
}
/* line 19, ../sass/layout/_article.scss */
section.container section.space article:hover header {
  opacity: 1;
}
/* line 23, ../sass/layout/_article.scss */
section.container section.space article:hover .ui-resizable-handle {
  opacity: .2;
}
/* line 28, ../sass/layout/_article.scss */
section.container section.space article.locked {
  opacity: .25;
  -webkit-filter: grayscale(1);
}
/* line 34, ../sass/layout/_article.scss */
section.container section.space article.resizing .card .ui-resizable-handle {
  opacity: .5;
}
/* line 39, ../sass/layout/_article.scss */
section.container section.space article.dragging {
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  opacity: .8;
  cursor: move;
}
/* line 47, ../sass/layout/_article.scss */
section.container section.space article.attached .card:before {
  content: "•";
  font-size: .5em;
  position: absolute;
  top: 0.60002rem;
  left: 0.25rem;
  line-height: 0;
}
/* line 61, ../sass/layout/_article.scss */
section.container section.space article.add-element > .card {
  opacity: .9;
}
/* line 67, ../sass/layout/_article.scss */
section.container section.space article.add-element form .fileInputWrapper {
  position: relative;
  display: block;
  font-size: .666em;
  font-family: "FuturaStd-Medium";
  letter-spacing: .1825em;
  text-transform: uppercase !important;
  overflow: hidden;
  font-size: .5em;
}
/* line 74, ../sass/layout/_article.scss */
section.container section.space article.add-element form .fileInputWrapper:after {
  content: "Upload a file";
  position: absolute;
  left: 0;
  width: 100%;
}
/* line 81, ../sass/layout/_article.scss */
section.container section.space article.add-element form .fileInputWrapper input[type="file"] {
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
/* line 94, ../sass/layout/_article.scss */
section.container section.space article textarea {
  width: 100%;
  height: 9rem;
  font-size: 20pt;
  line-height: 1.5em;
}
/* line 101, ../sass/layout/_article.scss */
section.container section.space article header {
  background: green;
  display: inline-block;
  text-align: left;
  height: 1.5rem;
  z-index: 4;
  position: absolute;
  top: -1.5rem;
  padding-left: 2rem;
  padding-right: 0.5rem;
  font-size: .666em;
  font-family: "FuturaStd-Medium";
  letter-spacing: .1825em;
  text-transform: uppercase !important;
  font-size: 6.66pt;
  font-family: "FuturaStd-Medium";
  transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  opacity: 0;
  -moz-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
/* line 120, ../sass/layout/_article.scss */
section.container section.space article header author {
  display: inline-block;
  position: relative;
  font-family: "FuturaStd-Medium";
  top: -0.66667rem;
}
/* line 127, ../sass/layout/_article.scss */
section.container section.space article header a.delete {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.7rem;
  cursor: pointer;
  border: none;
  z-index: 99999;
  -moz-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  background-image: url("../images/elementClose.png");
  background-size: 100% 100%;
}
/* line 142, ../sass/layout/_article.scss */
section.container section.space article header a.delete:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 150, ../sass/layout/_article.scss */
section.container section.space article .card {
  position: relative;
  max-width: 32rem;
  width: auto;
}
/* line 155, ../sass/layout/_article.scss */
section.container section.space article .card.text {
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  width: auto;
}
/* line 160, ../sass/layout/_article.scss */
section.container section.space article .card.image {
  width: 48rem;
  overflow: hidden;
}
/* line 165, ../sass/layout/_article.scss */
section.container section.space article .card.image .ui-resizable-handle:after {
  color: white !important;
}
/* line 174, ../sass/layout/_article.scss */
section.container section.space article .card.website:hover .card.header.text .description {
  opacity: 1;
  height: auto;
}
/* line 180, ../sass/layout/_article.scss */
section.container section.space article .card.website .card.header.text {
  position: relative;
  z-index: 2;
}
/* line 184, ../sass/layout/_article.scss */
section.container section.space article .card.website .card.header.text .title p {
  line-height: 1.25em;
}
/* line 188, ../sass/layout/_article.scss */
section.container section.space article .card.website .card.header.text .url p {
  font-size: .666em;
  font-family: "FuturaStd-Medium";
  letter-spacing: .1825em;
  text-transform: uppercase !important;
  font-size: 6.66pt;
  font-family: "FuturaStd-Medium";
  line-height: 2em;
  opacity: .25;
}
/* line 194, ../sass/layout/_article.scss */
section.container section.space article .card.website .card.header.text .description {
  opacity: 0;
  height: 0;
  position: absolute;
  background-color: rgba(248, 248, 248, 0.925);
  margin-left: -1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  min-width: auto;
  display: block;
  -moz-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
/* line 207, ../sass/layout/_article.scss */
section.container section.space article .card.website .card.header.text .description p {
  font-size: 10pt;
  line-height: 1.5em;
  font-family: "FuturaStd-Medium";
  padding-top: 1.5rem;
}
/* line 210, ../sass/layout/_article.scss */
section.container section.space article .card.website .card.header.text .description p a {
  word-break: break-all;
}
/* line 218, ../sass/layout/_article.scss */
section.container section.space article .card.website.image {
  max-height: 36rem;
}
/* line 228, ../sass/layout/_article.scss */
section.container section.space article .card img {
  width: 100%;
  margin-bottom: -12pt;
}
/* line 234, ../sass/layout/_article.scss */
section.container section.space article .ui-resizable-handle {
  z-index: 9999999;
  background: none;
  font-size: 12pt !important;
  bottom: 0;
  text-align: right;
  right: 0;
  overflow: hidden;
  opacity: 0;
  -moz-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
}
/* line 247, ../sass/layout/_article.scss */
section.container section.space article .ui-resizable-handle:hover {
  opacity: .5;
}
/* line 251, ../sass/layout/_article.scss */
section.container section.space article .ui-resizable-handle:after {
  content: "◢";
  position: absolute;
  bottom: 110%;
  left: 0%;
  height: 100%;
  width: 100%;
}

/* line 1, ../sass/layout/_login.scss */
.card.login {
  padding-left: 2rem !important;
  padding-bottom: 1rem !important;
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.125s;
  -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -o-transition-property: -o-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  -webkit-transition-property: -webkit-transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  transition-property: transform, -webkit-transform, -moz-transform, box-shadow, -webkit-box-shadow, -moz-box-shadow, background-color;
  width: 16rem;
}
/* line 12, ../sass/layout/_login.scss */
.card.login input#toggle-login:checked + form {
  background: red;
}
/* line 19, ../sass/layout/_login.scss */
.card.login form input {
  text-transform: lowercase;
}
