script(src='/js/jquery/jquery.js')
script(src='/js/jquery/jquery-ui.min.js')
script(src="/js/jquery/jquery.autogrowtextarea.min.js")
script(src="/js/jquery/jquery.transit.min.js")
script(src="/js/jquery/jquery-mousewheel.min.js")

script(src="/js/elementControllers/bindGifControls.js")
script(src="/js/elementControllers/bindVideoControls.js")
script(src="/js/elementControllers/bindFileControls.js")
script(src="/js/elementControllers/bindSoundCloudControls.js")

script(src='/js/zoomable.js')
script(src="/js/screenDrag.js")
script(src="/js/makeTextChild.js")
script(src="/js/createNewElement.js")

script(src="/js/globals.js")
script(src="/js/elementUtils.js")