-
	var script = 
		"javascript:(function(){"+
		"var script=document.createElement('SCRIPT');" +
		"script.type='text/javascript';" +
		"script.src='http://localhost:9001/js/bookmarkletLoader.js';"+
		"document.getElementsByTagName('head')[0].appendChild(script);"+
		"})();"

a.bookmarklet(href=(script)) BOOKMARK
