-
	var script = "javascript:(function(){"+
		"var w3cnavjs=document.createElement('SCRIPT');" +
		"w3cnavjs.type='text/javascript';" +
		"w3cnavjs.src='http://localhost:9001/js/bookmarklet.js';"+
		"document.getElementsByTagName('head')[0].appendChild(w3cnavjs);})();"

a.bookmarklet(href=script) BOOKMARK
