html
  head
    script(src='/js/jquery/jquery.js')
    script(src="/js/jquery/jquery.transit.min.js")
    script(src="/js/lib/velocity.min.js")
    script(src='/js/bookmarklet/content.js')
    link(rel='stylesheet', href='/style/bookmarklet.css')
    link(rel='stylesheet', href='https://fast.fonts.net/cssapi/a196ecb3-1f45-4a57-bc9d-919fbda80ae4.css')
    script.
      var articleId = "!{articleId}";

  body
    // p!=url
    .container
      h1.typeNav Saved
      ul.collectionsMenu
        li.collection.header
          .contents
            a.typeNav.smallCaps(href='#') Add Label
        each collection, collectionKey in collections
          if typeof(collection.name) != undefined
            - var key = collection.collectionKey
              li.collection(data-collectionkey=key, class=key)
                .contents
                  a.typeNav(href="#", style='color:'+collection.color+'; -webkit-text-fill-color:'+collection.color+';')!=collection.name
