-
	var script =
		"javascript:(function(){"+
		"var script=document.createElement('SCRIPT');" +
		"script.type='text/javascript';" +
		"script.src='https://tryscrap.com/js/bookmarklet/loader.js';"+
		"document.getElementsByTagName('head')[0].appendChild(script);"+
		"})();"

a.bookmarklet(href=(script)) BOOKMARK
