.collections.cardContainer.open
  .cards
    -for (var j = 0; j < collections.length; j++)
      -var collection = collections[j]
      -var styeStr = "position:absolute;width:600px;height:400px;background-color:red;"
      article.card.cover(class=collection.spaceKey)
        .cardContainer.closed
          .cards
            h1!=collection.name  