-var elem_width = 400
-var elem_height = 350
-var style = "height:"+(elem_height)+"px;width:200vw;"
.collection(class =collection.spaceKey,  data-spacekey=collection.spaceKey, data-name=collection.name)
  header.collectionHeader
  .elements.blur.blurThisCollection
    include addElementForm  
    -for (var j = 0; j < collection.elements.length; j++)
      -var element = collection.elements[j]
      include element