- if(collection.root != true)
  include addElementForm

-for (var j = 0; j < collection.elements.length; j++)
  -var element = collection.elements[j]
  include element

- if(collection.root == true)
  include addProjectForm
