-var elem_width = 400
-var elem_height = 700

-var i = 0
-for (var i = 0; i < collections.length; i++)
  -var collection = collections[i]
  -var top = (i * elem_height)
  .collection(style="top:"+top+"px;height:"+(elem_height)+"px;", class =collection.spaceKey,  data-spacekey=collection.spaceKey)
    include addElementForm
    .elements
      -for (var j = 0; j < collection.elements.length; j++)
        -var element = collection.elements[j]
        include element

script.
  collection_max_y="#{top}";