ul.collectionsMenu
  li.labelsButton.openCollection.openMenuButton
    .contents
      a(href='#').headerButton Labels
  li.collection.recent(data-collectionkey='recent')
    .contents
      a(href='#') All
  li.searchCollections
    .contents
      form.searchCollectionsForm
        input(type='text', placeholder='Search labels', maxlength='32')
  each collection, collectionKey in collections
    if typeof(collection.name) != undefined
      - var key = collection.collectionKey
      li.collection(data-collectionkey=key, class=key)
        .contents
          a(href='#', style='color:'+collection.color+'; -webkit-text-fill-color:'+collection.color+';')!=collection.name
          .collectionSettings.smallType
            .sharing
              span Shared with
              ul.users
                for user in collection.Users
                  li.user!=user.name
              .add
                //- input.smallType.smallCaps.addSomeone(type='button', value='Add someone')
                form
                  input.smallType(type='email', placeholder='Add email address')
                  label.invisible.smallType.smallCaps Press enter to send
                  input(type='submit')
            .menuNeue
              input.menuOpenButton.actionButton(type='button', value='•••')
              ul.menuItems
                li
                  input.rename.smallType.smallCaps(type='button', value='Rename')
                li
                  input.delete.smallType.smallCaps(type='button', value='Delete')
  li.newCollection
    .contents
      form.newCollectionForm
        input(type='text', placeholder='New label', maxlength='32')
        label.typeSmall.smallCaps.invisible Press enter to save
