-var elem_width = 400
-var elem_height = 700

-var i = 0
.collections
  -for (var i = 0; i < collections.length; i++)
    -var collection = collections[i]
    -var top = (i * elem_height)
    include collection

script.
  collection_max_y="#{top}";