script
  window.spaceKey="index";
  window.userId = null;
  window.io = {
    connect: function() {
      var socketStub = {
        emit: function() {}
      };
      return socketStub;
    }
  }

include baseScripts
script(src="/js/elementEmitters/dragElement.js")
script(src="/js/elementEmitters/resizeElement.js")
script(src="/js/elementEmitters/deleteElement.js")
script(src="/js/headerMenu.js")
script(src="/js/index.js")


