include baseScripts
script(src="/js/globals.js")
script
	window.io = {
		connect: function() {
			var socketStub = {
				emit: function() {}
			};
			return socketStub;
		}
	}
script(src="/js/jquery/jquery.autogrowtextarea.min.js")
script(src="/js/jquery/jquery.transit.min.js")
script(src="/js/jquery/jquery-mousewheel.min.js")
script(src='/js/lib/clusterfck.js')
script(src='/js/zoomable.js')
script(src='/js/cluster.js')
script(src="/js/elementEmitters/dragElement.js")
script(src="/js/elementEmitters/resizeElement.js")
script(src="/js/elementEmitters/deleteElement.js")
script(src="/js/screenDrag.js")