form(id="logIn")
  li(id="errorField")
  li.input.inputText.mail
    input(id="email",type="email", name="user[email]", placeholder="Mail")
  li.input.inputText.password
    input(id="password",type="password", name="user[password]", placeholder="Password")
  li.input.submit
    input.confirm.offset(type="submit", value="Sign in")
script.
  function onError(res) {
    $('#logIn #errorField').text(res.responseText);
  }
  
  function validateName(name) {
    return name.match(/^[a-zA-Z]{2,} [a-zA-Z]{2,}$/i);
  }

  $("#logIn").submit(function(e) {
    e.preventDefault();
    var url = '/login';
    var fields = {
      email: $('#logIn #email').val(),
      password: $('#logIn #password').val()
    }
    
    $.post(url, fields).error(onError).success(function(path){
      location.pathname = path;
    });

  });
