include baseScripts
script.
  spaceKey="#{current_space.spaceKey}";
  window.io = {
    connect: function() {
      var socketStub = {
        emit: function() {}
      };
      return socketStub;
    }
  }
  $('img').mousedown(function(event) {
    console.log('img lcickes')
    return false;
  });
  console.log('what')


