ul.menu.login.right.hideFirst
  li Join/Login
  li
    input(type="checkbox", id="toggle-login")
    label(for="toggle-login") I already have an account
  li 
    form(id="login")
      li.name
        input(id="name",type="text", name="user[name]", placeholder="Name")
      li.mail
        input(id="email",type="email", name="user[email]", placeholder="Mail")
      li.password
        input(id="password",type="password", name="user[password]", placeholder="Password")
      li.submit
        input.offset(type="submit", value="Sign up")
      li(id="errorField")
script.
  function onError(res) {
    $('#errorField').text(res.responseText);
  };
  function validateName(name) {
    return name.match(/^[a-zA-Z]{2,} [a-zA-Z]{2,}$/i);
  }

  $("#login").submit(function(e) {
    e.preventDefault();
    var url = '/login';
    var fields = {
      email: $('#email').val(),
      password: $('#password').val()
    }
    
    if (!$('#toggle-login').is(":checked")) {
      url = '/register';
      fields.name = $('#name').val();
      if (!validateName(fields.name)) {
        $('#errorField').text("Please enter a full name.");
        return;
      }
    }
    $.post(url, fields).error(onError).success(function(path){
      location.pathname = path;
    });

  });

  $('#toggle-login').change(function() {
    $('#errorField').text("");
    if($(this).is(":checked")) {
      $("form").removeClass("register")
        .addClass("log in")
      $("li.name").remove();
      $("input[type=submit]").val("Log in");
    }
    else {
      var nameInput = "<li class='name'><input id='name' type='text' name='user[name]' placeholder='Name'></li>"
      $("form").removeClass("login")
        .addClass("register")
        .prepend(nameInput)
      $("input[type=submit]").val("Sign up");
    }
  })