ul.menu.settings.right.hideFirst
  li.userName.hideOnOpenSubmenu= user.name
  li.update.hideOnOpenSubmenu Update your info
  li.logout.hideOnOpenSubmenu
    a.logout(href="/logout") Logout
  li
    ul.menu.submenu.changeUserInfo.right.hidden
      li
        label Update your account info
      li
        form
          li
            input.name(type="text", name="user[email]", placeholder="new name")
          li
            input.password(type="password", name="user[email]", placeholder="new password")
          li
            input.email(type="email", name="user[email]", placeholder="new email address")
          li.closeButton
            input(type="button", value="save")