ul.menu.headerMenu.settings.right.hideFirst.slideIn
  li.headerButton.first.hideOnOpenSubmenu.userName.typeHeader Settings
  li.hideOnOpenSubmenu.bodyType.smallCaps!=user.name
  li.update.hideOnOpenSubmenu
    a(href="#") Edit your account
  ul.submenu
    li.hidden.backButton
      a(href="#")
        span ‹
    form
      li.hidden.smallType Update your name, email, or password
      li.input.inputText.hidden
        input.name(type="text", name="user[email]", placeholder=user.name)
      li.input.inputText.hidden
        input.email(type="email", name="user[email]", placeholder=user.email)
      li.input.inputText.hidden
        input.password(type="password", name="user[email]", placeholder="••••••••")
      li.input.submit.save.closeButton.hidden
        input.confirm(type="submit", value="Save")
  li.logout.hideOnOpenSubmenu
    a.feedback(href="mailto:scrapspaces@gmail.com") Send feedback
  li.logout.hideOnOpenSubmenu
    a.logout(href="/logout") Sign out