ul.right
  form(id="signUp")
    li.name
      input(id="name",type="text", name="user[name]", placeholder="First and last name")
    li.mail
      input(id="email",type="email", name="user[email]", placeholder="Email address")
    li.password
      input(id="password",type="password", name="user[password]", placeholder="Password")
    li.submit
      input.confirm.offset(type="submit", value="Sign up")
    li(id="errorField")
script.
  function onError(res) {
    $('#signUp errorField').text(res.responseText);
  }
  
  $("#signUp").click(function(event) {
      console.log("hi")
      event.stopPropagation();
  });
  
  $("#signUp").submit(function(e) {
    e.preventDefault();
    var url = '/register';
    var fields = {
      email: $('#signUp #email').val(),
      password: $('#signUp #password').val(),
      name: $('#signUp #name').val()
    }
    if (!validateName(fields.name)) {
      $('#signUp #errorField').text("Please enter a full name.");
      return;
    }
    $.post(url, fields).error(onError).success(function(path){
      location.pathname = path;
    });

  });