
//- # Structure while expanded 
//- .slidingContainer
//- 	.collection
//- 		.cover
//- 		.collectionContent
//- 			.article
//-				.article
//- 			.collection
//- 				.cover
//- 				.collectionContent
//- 			.article