
//- # Structure while expanded 
//- .slidingContainer
//- 	.collection
//- 		.cover
//- 		.collectionContent
//- 			.element
//-				.element
//- 			.collection
//- 				.cover
//- 				.collectionContent
//- 			.element