.slidingContainer()
	.collection.root.closed(data-spacekey=collection.spaceKey, class=collection.spaceKey)
		.cover.closed
		.contentContainer
//- # Structure while expanded 
//- .slidingContainer
//- 	.collection
//- 		.cover
//- 		.collectionContent
//- 			.element
//-				.element
//- 			.collection
//- 				.cover
//- 				.collectionContent
//- 			.element