include baseScripts
script.
  spaceKey="#{current_space.spaceKey}";
script(src="/js/globals.js")
script(src='/js/jquery/jquery.fileupload.js')
script(src='/socket.io/socket.io.js')
script(src="/js/spaceEmitters/addUserToSpace.js")
script(src="/js/spaceEmitters/removeUserFromSpace.js")
script(src="/js/spaceEmitters/updateSpaceName.js")
script(src="/js/socketListeners.js")
script(src="/js/jquery/jquery.autogrowtextarea.min.js")
script(src="/js/jquery/jquery.transit.min.js")
script(src="/js/jquery/jquery-mousewheel.min.js")
script(src='/js/lib/clusterfck.js')
script(src='/js/zoomable.js')
script(src='/js/cluster.js')
script(src="/js/elementEmitters/addElement.js")
script(src="/js/elementEmitters/dragElement.js")
script(src="/js/elementEmitters/modifyElement.js")
script(src="/js/elementEmitters/resizeElement.js")
script(src="/js/elementEmitters/deleteElement.js")
script(src="/js/screenDrag.js")
script(src="/js/makeTextChild.js")
script(src="/js/createNewElement.js")
script(src="/js/gifControls.js")
script(src="/js/fileControls.js")
script(src="/js/loadingElement.js")