ul.users.menu.right.hideFirst
  li.first.visible
    a(href="#") Share
  section
    li.visible.heading Share this project
    li.inputText.visible
      form.add-user
        input(type="email", name="user[email]", placeholder="email address")
        input(type="submit", style="visibility: hidden;display:none;")
  section
    li.visible.heading Current members
    each user in collection.users
      name = user.name.split(' ')
      li.visible.user()
        span.name= name[0] + " " + name[1]
    //- each userId, data in collection.userMap
      //- p!=data.name/
      //- name = data.name.split(' ')
      //- if user.name != null
        //- li.visible.user()
        //-   span.name= name[0] + " " + name[1]