body
    header
    .collections.slidingContainer
        .collection.slidingContainer
            header.card.cover.sliding
                h1.collectionTitle My collection
                ul.users
                    li.user My Name
                    li.user.add
                        form
                            input(type="text")
                            input(type="submit")
            .collectionContent
                article.sliding
                    .card
                        .content
                            .elementControls
