@import "screen.scss";

body {
    text-align: center;
    background: none;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

h1.notice {
    @include smallCaps;
    font-size: 30vw;
    line-height: 100vh;
    font-weight: $fontWeightExtraBold;
//     z-index: 2;
}

.flash {
    background-color: white;
/*
    height: 100vh;
    width: 100vw;
*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1, li a, li input {
    @include navText;
    @include transition(-webkit-text-fill-color 1s linear);
}

h1, ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

ul.collectionsMenu {
    list-style-type: none;
/*
    height: 100vh;
    position: relative;
    overflow: hidden;
*/

    li {
//         height: $typeTitleLeading;
      
        &.openMenuButton {
/*
            position: absolute;
            bottom: 20vh;
*/
        }
        
        a {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            margin: 0 auto;
            
            display: block;
//             border: red 1px solid;
            padding: 0;
//             margin-top: 0;
//             height: $typeTitleLeading * .75;
        }
        
        input {
            border: 0;
            text-align: center;
            height: $typeTitleLeading;
        }
    }
}