@import "screen.scss";

body {
//   margin: $broadMargin;
}

.content {
    
    .pack, .stamp {
        opacity: 0;
    }
    
    header {
        max-width: 100vw;
//         overflow: hidden;
        
        h1 {
            font-size: (100vw / 2.75);
            font-weight: $fontWeightBold;
//             line-height: .6em;
            white-space: nowrap;
            position: relative;
            @include transition(all .25s $defaultCurve);
//             text-transform: lowercase;
            
            span.letter { // lettering
                display: inline-block;
//                 background-color: transparent !important;
                height: .6em;
                
                .inner {
                    position: relative;
                    top: .125em;
                }
                
          
                &.char1 {
                    height: .8em;
                    
                    .inner {
                        top: .3125em;
                    }
                }
                
                &.char5 {
                    height: .8em;
                }
            }
            
/*
            @media (min-width: $breakSmall) {
                font-size: 25vw;
            }
*/
        }
    }
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    
    .card.form {
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 0;

        h1 {
            position: absolute;
            width: 100%;
        }
        ul.form {
            display: none;
            padding: $cardPadding;
        }
    }
    
    .signUp {
        .card {
            width: $col * 3;
            height: $col * 3;
            border-radius: $col * 3;
            
            h1 {
                text-align: center;
//                 font-style: italic;
                line-height: .8em;
                width: 75%;
                margin-left: 12.5%;
                margin-top: .25em;
            }
        }
    }
    
    .logIn {
        
        .card {
            height: $col;
            width: $col * 2;
//             padding: 0;
//             padding: $broadMargin;
            h1 {
//                 line-height: $col * 1.75;
                margin-top: .5em;
                text-align: center;
            }
            
            
        }
      
    }
    
    .sub {
        padding: 0 !important;
        
        p {
            font-size: 48pt;
            font-weight: $fontWeightMedium;
            line-height: 48pt;
            letter-spacing: -(1em/32);
            padding: 0px;
            width: auto !important;
            margin: 0px;
        }
    }
    
    .card {
        background-color: transparent;
                transform-origin:   center center;
        -webkit-transform-origin: center center;
        
        &.interactive {
            &.unfocused:hover {
                background-color: $colorType !important;
            }
        }

        &.svg {
            padding: 0;
            
            &.borderless {
                border: 0;
                background-color: transparent !important;
            }
            
            object.svg {
                margin-bottom: -6px;
            }
        }
            }
    
}

footer {
    padding-top: $broadMargin;
    padding-bottom: $broadMargin/2;
    text-align: center;
} 
