@import "screen.scss";

header {
    h1 {
        font-size: 25vw;
        font-weight: $fontWeightBold;
        line-height: .75em;
        letter-spacing: .25em;
        top: 25vh;
        position: absolute;
        
        span { // lettering
            display: inline-block;
            margin-top: -.25em;
            
            &.char1 {
                margin-top: 0;
            }
            
            &.char5 {
//                 margin-top: -2.;
                margin-bottom: .25em;
            }
        }
    }
}

.card {
    width: $col * 4;
}