@import "screen.scss";

section.index {
    @media screen and (max-width: 640px) {
        text-align: center;
    }
    
    .card {
        position: absolute;
                transform-origin: center center;
        -webkit-transform-origin: center center;
        opacity: 0;
        
        &:hover {
            z-index: 100;
        }
        
        @media screen and (max-width: 640px) {
            position: relative;
            text-align: left;
        }
    }
    
    .cover {
        width: $articleSide;
        height: $articleSideWide;
        
        @media screen and (max-width: 640px) {
            width: 90%;
            max-width: $articleSide;
            
            &.title {
                margin-top: $col;
            }
        }
    }
            
    section.form {
        width: $articleSideNarrow;
        padding-bottom: $broadMargin;
    }        
    
    section.description {
        width: $articleSideNarrow;
        padding-bottom: $broadMargin;
    }
}
