@import "screen.scss";

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    @include typeTitle;
    @include typeOutlineWhite;
//     @include typeTitleSmallCaps;
    @include transformOriginCenter;
    pointer-events: none;
    
/*
    div {
        position: absolute;
        top: 0;
        left: 0;
    }
*/
}

// _nav.scss

nav {
    
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 3;
    height: $broadMargin;
    
    section {
        width: intrinsic;
        position: absolute;
        height: 100%;
        top: 0;
        
        &.left, &.right {
            z-index: 2;
        }
        
        &.left {
            left: 0;
            
            .headerButton a {
                margin-left: $cell;
            }
        }
        
        &.right {
            right: 0;
            
            .headerButton a {
                margin-right: $cell;
            }
        }
        
        &.center {
            left: 0;
            right: 0;
            text-align: center;
        }
        
        .headerButton {            
            a {
                @include navText;
                display: block;
                transform-origin: center center;
                -webkit-transform-origin: center center;
            }
        }
        
        ul.collectionsMenu {
            width: -webkit-fit-content;
            margin: 0 auto;
            max-height: 100vh;
            min-width: 50vw;
            overflow-y: visible;
//             overflow-x: visible;
//             height: 0;
//                         background-color: rgba(0, 255, 61, 0.41);
            
            > li {
                width: 100%; //-webkit-fit-content;
                margin: 0 auto;
            	  @include transformOriginCenter;
              	  
              	  &.recent, &.labelsButton {
                	    .contents {
                  	      a {
                    	        @include transition(-webkit-text-fill-color 1s linear);
                  	      }
                	    }
              	  }
        
                	.contents {
                  	  position: relative;
                  	  transform-origin:  center center;
                  	  -webkit-transform-origin:  center center;

                  	  a {
                	    	  display: block;
                	    	  margin: 0 auto;
              	    	  	@include navText;
              	    	  	width: -webkit-fit-content;
//               	    	  	font-weight: $fontWeightExtraBold;
                    	    	  		  transform-origin:  center center;
            	    	  		  -webkit-transform-origin:  center center;
                  	  }
                  	  
                  	  > form input[type='text'] {
        	    	    	  	@include navText;
        	    	    	  	border: 0;
        	    	    	  	padding: 0;
        	    	    	  	margin: 0;
        	    	    	  	height: $typeTitleLeading;
        	    	    	  	// line-height: $typeTitleLeading / .5;
        	    	    	  	text-align: center;
        	    	    	  	display: block;
        	    	    	  	width: 100%;
        	    	    	  	position: relative;
                  	  }
                  	  
                  	  .collectionSettings {
                    	    padding: ($typeTitleLeading / 6) 0;
//                     	    background: yellow;
                    	    left: 0;
                    	    right: 0;
                    	    
                    	    ul.users {
                    	        display: inline-block;

                      	      li {
                        	        display: inline-block;
                        	        white-space: nowrap;
                      	      }
                      	    
                      	      li.user {
            	        	          &:before {
            	          	            content: ' '
            	        	          }
                        	        
                        	        &:after {
                          	          content: ', ';
                        	        }
                        	        
                        	        &:last-of-type {
                          	          &:before {
                            	            content: ' and '
                          	          }
                          	          
                	          	        &:after {
                	            	          content: '';
                	          	        }
                        	        }
                      	      }
                      	      
                      	      .add {
            	        	          display: inline-block;
                        	        
                        	        input {
                          	          display: inline-block;
                        	        }
                        	        
                        	        label {
                          	          display: block;
                        	        }
                      	      }
                    	    }
                  	  }
                	}
            }
        }            
        
        .addForm {
            .headerButton {
                position: absolute;
                top: 0;
                
                a {
                    display: block;
                }
            }
            article {
                position: absolute;
                top: 0;
            }
        }
    }
}

// _article.scss


.wrapper {
    padding: $broadMargin * 1.25 $broadMargin;
    position: relative;
}

.parallaxHover {
    .perspective, .transform {
                transform-origin: center center;
        -webkit-transform-origin: center center;
    }
    
    .parallaxLayer {
                transform-origin: center center;
        -webkit-transform-origin: center center;
    }
}

#articleContainer {
    width: 100%;
    margin-top: 25vh;
    
    article {
        .collections {
            position: absolute;
            top: 0;
            left:0;
            right: 0;
            z-index: 20;
            width: 100%;
            height: 100%;
            
            li {
                @include transformOriginCenter;
                width: 100%;
                
                a, input {
                    @include typeHeader;
                    @include typeOutlineClear;
                    font-weight: $fontWeightMedium;
                    width: -webkit-fit-content;
                    @include transformOriginCenter;
                    white-space: nowrap;
                }
                
                .dot {
                    display: none;
                    opacity: 0;
                }
            }

            ul.articleCollections {
//                 width: 100%;
                
                li {
                    display: block;
                    
                    &:first-child {
                        a {
                            border-left-width: $cardBorderWidth;
                        }
                    }
                    
                    &.addCollection {
                        a {
                            @include typeOutlineWhite;
                        }
                    }
                    
                    a {
                        display: block;
                        padding: 0;
                        position: absolute;
//                         background: red;
//                         border: blue 4pt solid;
                        top: 0;
                        left: 0;
                        right: 0;
                        width: $articleSide;
                    }
                    
                    .dot {
                        height: $cell;
                        width:  $cell;
                        border: $cardBorder;
                        position: absolute;
                    }
                }
            }
            
            ul.addCollectionMenu {

                li {
                    position: absolute;
                    top: 0;
                    left: 0;
                    
                }
            }
        }
        
        &:hover {
            ul.articleCollections li.collection a {
                background-color: transparent !important;
            }
        }
    }
}