@import "screen.scss";

body {
    margin: 0 $gutter;
    
    @media (min-width: $breakSmall) {
        margin: 0 $col/4 0 $col;
    }
}

header.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $col;
    z-index: 2;
    padding: $cardPadding;
//     background: blue;
}

.container {
    margin-top: $broadMargin;
    transform-origin: top left;
    
    @media (max-width: $breakSmall) {
        $scale: (1/3);
        
        @include transform(scale($scale));
        width: 100% * (1/$scale);
        
        article {
            .card {
                border-width: (1px/$scale);
            }
        }
    }
    
    @media (min-width: $breakSmall) {
        $scale: (1/2);
        
        @include transform(scale($scale));
        width: 100% * (1/$scale);
        
        article {
            .card {
                border-width: (1px/$scale);
            }
        }
    }
    
    
    @media (min-width: $breakLarge) {
        $scale: (1);
        
        @include transform(scale($scale));
        width: 100% * (1/$scale);
        
        article {
            .card {
                border-width: (1px/$scale);
            }
        }
    }
}