$colorWashMedium:           #aaaaaa;
$colorWashMediumLight:      #f0f0f0;
$colorWashMediumLightTrans: rgba(248,248,248,.925);
$colorWashLight:            white;
$colorWashLightTrans:       rgba(255,255,255,.925);
$colorWashLightTrans60:     rgba(255,255,255,.6);
$colorWashLightTrans40:     rgba(255,255,255,.4);
$colorWashLightTrans20:     rgba(255,255,255,.2);
$colorType:                 #000000;
$colorAlert:                #fb2705;

$colorCardBackground:       $colorWashLight;
$colorBackground:           $colorWashMediumLight;

$colorCardBackgroundDark:   #333;
$colorTypeLight:            white;

// ARTICLES

body section.space section.content article {
    
    &.color0 div.card.text.comment, &.color0 header {
        background-color: #FF3B30;
    }
    
    &.color1 div.card.text.comment, &.color1 header  {
        background-color: #FF9500;
    }
    
    &.color2 div.card.text.comment, &.color2 header  {
        background-color: #FFCC00;
    }
    
    &.color3 div.card.text.comment, &.color3 header  {
        background-color: #4CD964;        
    }
    
    &.color4 div.card.text.comment, &.color4 header  {
        background-color: #007AFF;        
    }
    
    &.color5 div.card.text.comment, &.color5 header  {
        background-color: #FF2D55;        
    }
    
    &.color6 div.card.text.comment, &.color6 header  {
        background-color: #87FC70;
    }
    
    &.color7 div.card.text.comment, &.color7 header  {
        background-color: #FF1300;
    }
    
    &.color8 div.card.text.comment, &.color8 header  {
        background-color: #EF4DB6;
    }
    
    &.color9 div.card.text.comment, &.color9 header  {
        background-color: #52EDC7;
    }
}

// USER LIST

.container > header ul.users li.user {
    &.color0 {
        border-color: #FF3B30;
        
        &.online {
            background-color: #FF3B30;
        }
    }
    
    &.color1 {
        border-color: #FF9500;

        &.online {
            background-color: #FF9500;
        }
    }
    
    &.color2 {
        border-color: #FFCC00;
        
        &.online {
            background-color: #FFCC00;
        }
    }
    
    &.color3 {
        border-color: #4CD964;        
        
        &.online {
            background-color: #4CD964;
        }
    }
    
    &.color4 {
        border-color: #007AFF;

        &.online {
            background-color: #007AFF;
        }
    }
    
    &.color5 {
        border-color: #FF2D55;        

        &.online {
            background-color: #FF2D55;
        }
    }
    
    &.color6 {
        border-color: #87FC70;

        &.online {
            background-color: #87FC70;
        }
    }
    
    &.color7 {
        border-color: #FF1300;

        &.online {
            background-color: #FF1300;
        }
    }
    
    &.color8 {
        border-color: #EF4DB6;

        &.online {
            background-color: #EF4DB6;
        }
    }
    
    &.color9 {
        border-color: #52EDC7;

        &.online {
            background-color: #52EDC7;
        }
    }
}    
