$colorWashMedium:           #aaaaaa;
$colorWashMediumLight:      #f8f8f8;
$colorWashLight:            white;
$colorWashLightTrans:       rgba(255,255,255,.925);
$colorType:                 #000000;
$colorAlert:                #fb2705;

$colorCardBackground:       $colorWashLightTrans;
$colorBackground:           $colorWashMediumLight;

$colorCardBackgroundDark:   #333;
$colorTypeLight:            white;