$headerHeight:          25vh;
$typeSizeMultiplier:    2;
$cardPaddingUnit:       $gutter * $typeSizeMultiplier;
$cardPadding:           $cardPaddingUnit/4 $cardPaddingUnit/2 $cardPaddingUnit/4 $cardPaddingUnit/2;