$headerHeight:          25vh;
$typeSizeMultiplier:    8;
$cardPaddingUnit:       $gutter * $typeSizeMultiplier;
$cardPadding:           $cardPaddingUnit/8 $cardPaddingUnit/2.5 $cardPaddingUnit/8 $cardPaddingUnit/2.5;