$headerHeight:          25vh;

$cardPaddingTop:        $gutter/2;
$cardPaddingRight:      $gutter;
$cardPaddingBottom:     $gutter/1.5;
$cardPaddingLeft:       $gutter;

$cardPadding:           $cardPaddingTop $cardPaddingRight $cardPaddingBottom $cardPaddingLeft;