$fontLight:         'Futura W01 Light';
$fontLightItalic:   'FuturaW01-LightOblique';
$fontRegular:       'Futura W01 Book';
$fontItalic:        'Futura W01 Book Oblique';
$fontMedium:        'Futura W01 Medium';
$fontMediumItalic:  'FuturaW01-MediumOblique';
$fontBold:          'Futura W01 Heavy';
$fontBoldItalic:    'FuturaW01-HeavyOblique';

$typeBodySize:  10pt;

@mixin smallCaps {
    font-size: .666em;
    font-family: $fontMedium;
    letter-spacing: .1825em;
    text-transform: uppercase !important;
}

@mixin typeTitle {
    font-family: $fontRegular, sans-serif;
    font-size: $typeBodySize;
    letter-spacing: .75pt;
    line-height: 1.5em;
}

@mixin typeBody {
    font-size: $typeBodySize;
    line-height: 1.5em;
    font-family: $fontMedium;
    padding-top: $baseline;
    letter-spacing: .0625em;
}

@mixin typeBodySmallCaps {
    @include smallCaps;
    font-size: $typeBodySize * .666;
    font-family: $fontMedium;
}

@mixin typeHeader {
    @include smallCaps;
}

@mixin typeSpaceName {
    @include typeHeader;
    font-family: $fontRegular;
    font-size: .75rem;
    line-height: 1.5em;
}

html {
    @include typeTitle;
    
    a {
        color: $colorType;
        text-decoration: none;
        border-bottom: 1px $colorWashMedium solid;
    }
    
    p {
    
      & + p {
        margin-top: $baseline / 2;
      }
    }
}