/* $fontFamily:        'L Futura W01', 'Futura W04', Futura, "Century Gothic", sans-serif; */
$fontFamily:        "ITC Avant Garde Gothic W01", Futura, "Century Gothic", sans-serif;

$fontWeightLight:       300;
$fontWeightRegular:     400;
$fontWeightMedium:      500;
$fontWeightDemi:        600;
$fontWeightBold:        700;
$fontWeightExtraBold:   800;


$typeBodySize:      12pt;
$typeBodyTracking:  0;
$typeHeaderSize:    24pt;
$typeHeaderSmallCapsSize: $typeHeaderSize * .666;
$leading:           1.5em;

@mixin typeBody {
    font-family:    $fontFamily;
    font-size:      $typeBodySize;
    font-weight:    $fontWeightBold;
    line-height:    $leading;
    letter-spacing: $typeBodyTracking;
}

@mixin typeHeader {
    font-size:      $typeHeaderSize;
    font-weight:    $fontWeightBold;
    letter-spacing: 0;
    line-height:    $leading;
}

@mixin smallCaps {
    font-size:      .666em;
    letter-spacing: .03125em;
    text-transform: uppercase !important;
}

@mixin typeBodySmallCaps {
    @include        smallCaps;
    font-size:      $typeBodySize * .666;
    font-weight:    $fontWeightBold;
    letter-spacing: .0625em;
}

@mixin typeHeaderSmallCaps {
    @include typeHeader;
//     @include        smallCaps;
//     font-size:      $typeHeaderSmallCapsSize;
//     font-weight:    $fontWeightBold;
}


@mixin typeSpaceName {
    @include typeHeader;
    font-family: $fontFamily;
    font-size: .75rem;
    line-height: $leading;
}

html {
    @include typeBody;
        
    a {
        color: $colorType;
        text-decoration: none;
        border-bottom: .125em $colorType solid;
    }
    
    p {
    
      & + p {
        margin-top: $baseline / 2;
      }
    }
}