$fontFamily:        'L Futura W01', 'Futura W04';

$fontWeightLight:       100;
$fontWeightRegular:     200;
$fontWeightMedium:      300;
$fontWeightDemi:        400;
$fontWeightBold:        500;
$fontWeightExtraBold:   600;


$typeBodySize:      12pt;
$typeBodyTracking:  0;
$typeHeaderSize:    24pt;
$typeHeaderSmallCapsSize: $typeHeaderSize * .666;
$leading:           1.5em;

@mixin typeBody {
    font-family:    $fontFamily;
    font-size:      $typeBodySize;
    font-weight:    $fontWeightBold;
    line-height:    $leading;
    letter-spacing: $typeBodyTracking;
}

@mixin typeHeader {
    font-size:      $typeHeaderSize;
    font-weight:    $fontWeightBold;
    letter-spacing: 0;
    line-height:    $leading;
}

@mixin smallCaps {
    font-size:      .666em;
    letter-spacing: .03125em;
    text-transform: uppercase !important;
}

@mixin typeBodySmallCaps {
    @include        smallCaps;
    font-size:      $typeBodySize * .666;
    font-weight:    $fontWeightExtraBold;
}

@mixin typeHeaderSmallCaps {
    @include        smallCaps;
    font-size:      $typeHeaderSmallCapsSize;
    font-weight:    $fontWeightExtraBold;
}


@mixin typeSpaceName {
    @include typeHeader;
    font-family: $fontFamily;
    font-size: .75rem;
    line-height: $leading;
}

html {
    @include typeBody;
        
    a {
        color: $colorType;
        text-decoration: none;
        border-bottom: .125em $colorType solid;
    }
    
    p {
    
      & + p {
        margin-top: $baseline / 2;
      }
    }
}