.testBox {
  border: 2em yellow solid;
  padding: $col;
  margin-top: $col * 2;
}

.menuNeue {
    position: relative;
    
    > ul {
        position: absolute;
        top: 0;
        border: $cardBorder;
        background: $colorCardBackground;
    }
    
    ul {
        padding: 0;
        overflow: hidden;
      
        li {
            $padding: $cell;
            display: block;
            width: -webkit-fit-content;
            text-align: left;
            white-space: nowrap;

            &:first-of-type {
                input, a {
                    padding-top: $padding;
                }
            }

            &:last-of-type {
                input, a {
                    padding-bottom: $padding;
                }
            }
            
            input, a, label, p {
                height: auto;
                margin: 0;
                padding: $padding/2 $padding $padding/2 $padding * 2;
                display: block;
            }
            
            input[type=text],
            input[type=email],
            input[type=password],
            input[type=search] {
                width: $col * 4;
                padding: 0;
                margin-left:  $padding * 2;
                margin-right: $padding * 2;
            }
        }
    }
}