@import "screen.scss";

@mixin indexCard {
    @include cardStyle;
    width: intrinsic;
}

@mixin indexCardH1 {
    @include indexCard;
    @include typeHeader1;
    padding: 0 $cell*1.5 $broadMargin/2 $cell*.5;
}

@mixin indexCardH2 {
    @include indexCard;
    @include typeHeader2;
    padding: 0 $cell $broadMargin/2 $cell*.5;
}

@mixin indexCardH3 {
    @include indexCard;
    @include typeHeader3;
    padding: $cardPadding;
    padding-bottom: $broadMargin/2;
}

header.tempForm {
    z-index: 999999 !important;
    position: fixed;
}

section.index {
    
    > header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        
        h1 {
            display: none;
        }
        
        ul.form {
            position: absolute;
            top: 0;
            right: 0;
            li {
                display: inline-block;
                @include indexCardH3;
            }
        }
    }
    > header {
        h1 {
            @include indexCardH1;
        }
        
        h2 {
            @include indexCardH3;
        }
    }
    
    section.example {
        position: relative;
        z-index: -1;
        
        header.collectionTitle > h1 {
            @include indexCardH1;
        }    
        
        section.collection {
            &:nth-child(1) {
//                 margin-top: $broadMargin * 3;
                > header {
                    h1 {
                        background-color: #d8ffe9;
                    }
                }
            }
            
            &:nth-child(2) {
                > header {
                    h1 {
                        background-color: #d9fdff;
                    }
                }
            }
            
            &:nth-child(3) {
                > header {
                    h1 {
                        background-color: #ffead9;
                    }
                }
            }
            
            &:nth-child(4) {
                > header {
                    h1 {
                        background-color: #ffd9f0;
                    }
                }
            }
                    
            &:nth-child(5) {
                > header {
                    h1 {
                        background-color: #d9e5ff;
                    }
                }
            }
        }  
    }
}
