@import "screen.scss";

section.index {
    
    .card {
        position: absolute;
                transform-origin: center center;
        -webkit-transform-origin: center center;
        opacity: 0;
    }
    
    header, section.tagline {
            width: $articleWidth;
            height: $articleWidthWide;
    }
            
    section.forms {
        ul {
            li.card {
                width: $articleWidthNarrow;
                padding-bottom: $broadMargin;
            }
        }
    }        
    
    section.description {
        width: $articleWidthNarrow;
        padding-bottom: $broadMargin;
    }
}
