# Eames

article#262.image
  .content
    .card.cardHover.image
      img(src='http://t4mam46q1tq2m4tjp1s8p4j1.wpengine.netdna-cdn.com/wp-content/uploads/2014/06/Plywood-Group-LCW_90973_preview.jpg')
article#263.image
  .content
    .card.cardHover.image
      img(src='http://www.glengarry.co.nz/images/v8/decorations/eames-lounge-chair.jpg')
article#272.website
  .content
    .transform
      .card.cardHover.website
        .text
          header
            h1.headerType Charles and Ray Eames - Wikipedia, the free encyclopedia
            .url.smallType.smallCaps en.wikipedia.org
          .description.smallType
        img(src='https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Ray_and_Charles_Eames.jpg/220px-Ray_and_Charles_Eames.jpg')
        a(href='https://en.wikipedia.org/wiki/Charles_and_Ray_Eames', target='_blank', title='Open “Charles and Ray Eames - Wikipedia, the free encyclopedia” in a new tab')
article#260.website
  .content
    .transform
      .card.cardHover.website
        .text
          header
            h1.headerType The World of Charles and Ray Eames
            .url.smallType.smallCaps barbican.org.uk
          .description.smallType
        img(src='http://www.barbican.org.uk/images/events/medium/18398eamesglassesevent.jpg')
        a(href='http://www.barbican.org.uk/artgallery/event-detail.asp?ID=18398', target='_blank', title='Open “The World of Charles and Ray Eames” in a new tab')
article#266.youtube
  .content
    .transform
      .card.cardHover.youtube
        .preview(title='Play “House - Charles & Ray Eames”')
          img.youtubeThumbnail(src='https://i.ytimg.com/vi/hv7ipQdUrYk/hqdefault.jpg', style='width:480px; height: 270px')
        header
          .top
            h1.headerType.title House - Charles & Ray Eames
            .artist.smallType Artist
          .detail
            .source.smallType.smallCaps youtube
article#267.youtube
  .content
    .transform
      .card.cardHover.youtube
        .preview(title='Play “Tops (1969)”')
          img.youtubeThumbnail(src='https://i.ytimg.com/vi/UJ-VFMymEiE/hqdefault.jpg', style='width:480px; height: 270px')
        header
          .top
            h1.headerType.title Tops (1969)
            .artist.smallType Artist
          .detail
            .source.smallType.smallCaps youtube
article#269.youtube
  .content
    .transform
      .card.cardHover.youtube
        .preview(title='Play “SX-70”')
          img.youtubeThumbnail(src='https://i.ytimg.com/vi/Lo_1pyQ7xvc/hqdefault.jpg', style='width:480px; height: 270px')
        header
          .top
            h1.headerType.title SX-70
            .artist.smallType Artist
          .detail
            .source.smallType.smallCaps youtube
article#270.youtube
  .content
    .transform
      .card.cardHover.youtube
        .preview(title='Play “The Eames Lounge Chair Assembly (1956 Promotional Film)”')
          img.youtubeThumbnail(src='https://i.ytimg.com/vi/Rglz_31knSE/hqdefault.jpg', style='width:480px; height: 270px')
        header
          .top
            h1.headerType.title The Eames Lounge Chair Assembly (1956 Promotional Film)
            .artist.smallType Artist
          .detail
            .source.smallType.smallCaps youtube
article#271.youtube
  .content
    .transform
      .card.cardHover.youtube
        .preview(title='Play “Design Q & A with Charles Eames”')
          img.youtubeThumbnail(src='https://i.ytimg.com/vi/3xYi2rd1QCg/hqdefault.jpg', style='width:480px; height: 270px')
        header
          .top
            h1.headerType.title Design Q & A with Charles Eames
            .artist.smallType Artist
          .detail
            .source.smallType.smallCaps youtube
article#273.website
  .content
    .transform
      .card.cardHover.website
        .text
          header
            h1.headerType Eames Office
            .url.smallType.smallCaps eamesoffice.com
          .description.smallType Official Site of Designers, Charles and Ray Eames.
        img(src='http://t4mam46q1tq2m4tjp1s8p4j1.wpengine.netdna-cdn.com/wp-content/uploads/2013/07/charles-ray-eames.jpg')
        a(href='http://www.eamesoffice.com/', target='_blank', title='Open “Eames Office” in a new tab')
article#276.website
  .content
    .transform
      .card.cardHover.website
        .text
          header
            h1.headerType
              | Charles Eames (1907–78) and Ray Eames (1912–88) | Thematic Essay | Heilbrunn Timeline of Art History | The Metropolitan Museum of Art
            .url.smallType.smallCaps metmuseum.org
          .description.smallType
        img(src='http://www.metmuseum.org/toah/images/ht/ht_1992.216.3.jpg')
        a(href='http://www.metmuseum.org/toah/hd/eame/hd_eame.htm/', target='_blank', title='Open “Charles Eames (1907–78) and Ray Eames (1912–88) | Thematic Essay | Heilbrunn Timeline of Art History | The Metropolitan Museum of Art” in a new tab')
article#278.text.long
  .content
    .transform
      .card.cardHover.text
        .editable(contenteditable='false', designmode='on')
          | Early works
          div
            br
          div - Leg splint, 1942
          div - Child’s chair, 1946
          div
            | - DCW side chair, 1946
            br
          div
            br
        ul.cardActions
          li.right
            a.invisible.done.confirm(href='#') Done


# Lisbon

article#257.draggable.website(style='position: absolute; z-index: 5; transform: translateX(0px) translateY(0px);', data-contenttype='website', data-creatorid='9', data-content='{"title":"airbnb","url":"https%3A%2F%2Fwww.airbnb.com%2Frooms%2F6654073","description":""}')
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType airbnb
            .url.smallType.smallCaps
          .description.smallType
        img
        a(href='https://www.airbnb.com/rooms/6654073', target='_blank', title='Open “airbnb” in a new tab')
article#281.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType airbnb
            .url.smallType.smallCaps
          .description.smallType
        img
        a(href='https://www.airbnb.com/rooms/6654073?s=bKDl3NuF', target='_blank', title='Open “airbnb” in a new tab')
article#284.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType airbnb
            .url.smallType.smallCaps
          .description.smallType
        img
        a(href='https://www.airbnb.com/rooms/6321229?s=i1DKOf74', target='_blank', title='Open “airbnb” in a new tab')
article#286.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType airbnb
            .url.smallType.smallCaps
          .description.smallType
        img
        a(href='https://www.airbnb.com/rooms/555172?s=fwR3wMr9', target='_blank', title='Open “airbnb” in a new tab')
article#253.draggable.text.long
</div>')
  .content
    .transform
      .card.cardHover.cardDrag.text
        .editable(contenteditable='false', designmode='on')
          | Collectioning list
          div
            br
            div - Sunscreen
            div - Umbrella
            div - Phone charger
        ul.cardActions
          li.right
            a.invisible.done.confirm(href='#') Done
article#287.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType Lisbon Tourism: Best of Lisbon, Portugal - TripAdvisor
            .url.smallType.smallCaps tripadvisor.com
          .description.smallType
            | Lisbon Tourism: TripAdvisor has 494,485 reviews of Lisbon Hotels, Attractions, and Restaurants making it your best Lisbon resource.
        img(src='http://media-cdn.tripadvisor.com/media/photo-s/03/9b/2f/c5/lisbon.jpg')
        a(href='http://www.tripadvisor.com/Tourism-g189158-Lisbon_Lisbon_District_Central_Portugal-Vacations.html', target='_blank', title='Open “Lisbon Tourism: Best of Lisbon, Portugal - TripAdvisor” in a new tab')
article#288.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType 36 Hours in Lisbon
            .url.smallType.smallCaps nytimes.com
          .description.smallType
            | From old townhouses filled with chic shops to docklands harboring night clubs, the city is undergoing a remarkable rebirth.
        img(src='http://static01.nyt.com/images/2015/04/05/travel/05HOURS1/05HOURS1-facebookJumbo.jpg')
        a(href='http://www.nytimes.com/2015/04/05/travel/-2015-04-05-travel-what-to-do-in-36-hours-in-lisbon.html', target='_blank', title='Open “36 Hours in Lisbon” in a new tab')
article#289.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType How I Fell for Lisbon
            .url.smallType.smallCaps nytimes.com
          .description.smallType
            | I didn’t expect romance, but this city had other ideas. No must-see list or hard-fought reservations. It lets you in.
        img(src='http://static01.nyt.com/images/2012/05/27/travel/27LISBON_395/27LISBON_395-superJumbo.jpg')
        a(href='http://www.nytimes.com/2012/05/27/travel/how-i-fell-for-lisbon.html', target='_blank', title='Open “How I Fell for Lisbon” in a new tab')
article#290.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType One perfect day in Alfama: Travel Guide on TripAdvisor
            .url.smallType.smallCaps tripadvisor.com
          .description.smallType
        img(src='http://static.tacdn.com/img2/branding/trip_logo.svg')
        a(href='http://www.tripadvisor.com/Guide-g189158-k3498-Lisbon_Lisbon_District_Central_Portugal.html', target='_blank', title='Open “One perfect day in Alfama: Travel Guide on TripAdvisor” in a new tab')
article#292.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType The Independente
            .url.smallType.smallCaps theindependente.pt
          .description.smallType
        img
        a(href='http://theindependente.pt', target='_blank', title='Open “The Independente” in a new tab')
article#293.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType
              | Memmo Alfama - Memmo Alfama Lisbon, Portugal - Boutique Hotel - Design Hotel - Official Website
            .url.smallType.smallCaps memmohotels.com
          .description.smallType
        img(src='http://www.memmohotels.com/alfama/memmoshotel_hotel_bin/shareimage-1e4cb8b06c6e9c4d.jpg')
        a(href='http://www.memmohotels.com/alfama/hotel-overview.html', target='_blank', title='Open “Memmo Alfama - Memmo Alfama Lisbon, Portugal - Boutique Hotel - Design Hotel - Official Website” in a new tab')
article#296.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType Collections | NMAA Museu Nacional de Arte Antiga
            .url.smallType.smallCaps museudearteantiga.pt
          .description.smallType
        img
        a(href='http://www.museudearteantiga.pt/collections', target='_blank', title='Open “Collections | NMAA Museu Nacional de Arte Antiga” in a new tab')
article#299.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType
              | São Cristovão Church - Lisbon Guide | Get Portugal
            .url.smallType.smallCaps guides.getportugal.com
          .description.smallType
        img(src='http://guides.getportugal.com/lisbon/see/17801/06/images/logo.png')
        a(href='http://guides.getportugal.com/lisbon/see/17801/06/sao-cristovao-church.html', target='_blank', title='Open “\
        São Cristovão Church - Lisbon Guide | Get Portugal” in a new tab')
article#302.draggable.text.long
  .content
    .transform
      .card.cardHover.cardDrag.text
        .editable(contenteditable='false', designmode='on')
          p(style="font-style: normal; font-variant: normal; font-size: 26px; line-height: normal; font-family: 'Helvetica Neue';")
            | http://static01.nyt.com/images/2015/04/01/travel/Lisbon-4/Lisbon-4-articleLarge.jpg
        ul.cardActions
          li.right
            a.invisible.done.confirm(href='#') Done
article#303.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType Entre Tanto
            .url.smallType.smallCaps entretanto.pt
          .description.smallType
        img(src='https://static.wixstatic.com/media/3517ad_f219dc2d54434a21bbc9ce111e04a1c2.png')
        a(href='http://www.entretanto.pt/', target='_blank', title='Open “Entre Tanto” in a new tab')
article#304.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType Update Your Browser | Facebook
            .url.smallType.smallCaps facebook.com
          .description.smallType
        img
        a(href='https://www.facebook.com/EntreTanto.Lx', target='_blank', title='Open “Update Your Browser | Facebook” in a new tab')
article#306.draggable.text.long
  .content
    .transform
      .card.cardHover.cardDrag.text
        .editable(contenteditable='false', designmode='on')
          | Everything old is new again in the Portuguese capital. Throughout the hilly metropolis on the Tagus River, fading structures and spaces are being stylishly reborn. Once-forlorn neighborhood markets have undergone ambitious renovations and currently form the city’s newest hot spots for dining and drinking. Formerly decrepit townhouses now harbor Lisbon’s chicest indie shopping centers, and the once-dodgy docklands boom with emergent night life in multiple guises. Even the city’s dowdy, underused central square and adjacent waterfront have been spruced up for lounging and strolling. At the same time, the city’s classic historical charms, from art museums to industrialists’ mansions, remain beautifully intact, complementing their rejuvenated neighbors.
        ul.cardActions
          li.right
            a.invisible.done.confirm(href='#') Done
            
            
# Party

article#306.file
  .content
    .transform
      .card.cardHover.cardDrag.file
        header
          h1.headerType.title Guestlist
          p.extension.smallCaps.bodyType xlsx
        ul.cardActions
          li
            a.download.confirm(href='#') Download
article#313.draggable.soundcloud
  .content
    .transform
      .card.cardHover.cardDrag.soundcloud
        .preview(title='Play “De Lux - "Someday Now" (Superhumanoids Cover) by Innovative Leisure”')
          img.soundcloudThumbnail(src='http://i1.sndcdn.com/artworks-000122844003-aoko97-t500x500.jpg')
        header
          .top
            h1.headerType.title De Lux - "Someday Now" (Superhumanoids Cover) by Innovative Leisure
            .artist.smallType Innovative Leisure
          .detail
            .source.smallType.smallCaps SoundCloud
article#314.draggable.soundcloud
  .content
    .transform
      .card.cardHover.cardDrag.soundcloud
        .preview(title='Play “Not Love by photocomfort”')
          img.soundcloudThumbnail(src='http://i1.sndcdn.com/artworks-000123223880-gfb7nj-t500x500.jpg')
        header
          .top
            h1.headerType.title Not Love by photocomfort
            .artist.smallType photocomfort
          .detail
            .source.smallType.smallCaps SoundCloud
article#315.draggable.soundcloud
  .content
    .transform
      .card.cardHover.cardDrag.soundcloud
        .preview(title='Play “Industrial Sex by Faenimal Arm”')
          img.soundcloudThumbnail(src='http://i1.sndcdn.com/artworks-000091123749-h4ex75-t500x500.jpg')
        header
          .top
            h1.headerType.title Industrial Sex by Faenimal Arm
            .artist.smallType Faenimal Arm
          .detail
            .source.smallType.smallCaps SoundCloud
article#316.draggable.soundcloud
  .content
    .transform
      .card.cardHover.cardDrag.soundcloud
        .preview(title='Play “O Superman (Laurie Anderson Cover) - Performed by Moses Sumney (Live & Improvised) by Moogfest”')
          img.soundcloudThumbnail(src='http://i1.sndcdn.com/artworks-000123174454-9amvh0-t500x500.jpg')
        header
          .top
            h1.headerType.title
              | O Superman (Laurie Anderson Cover) - Performed by Moses Sumney (Live & Improvised) by Moogfest
            .artist.smallType Moogfest
          .detail
            .source.smallType.smallCaps SoundCloud
article#317.draggable.text.long
  .content
    .transform
      .card.cardHover.cardDrag.text
        .editable(contenteditable='false', designmode='on')
          | Things we need
          div
            br
          div - Cups
          div - Snacks
          div - ?
          div
            br
        ul.cardActions
          li.right
            a.invisible.done.confirm(href='#') Done
article#318.draggable.website
  .content
    .transform
      .card.cardHover.cardDrag.website
        .text
          header
            h1.headerType Tokyo Kaikan Gimlet
            .url.smallType.smallCaps pinterest.com
          .description.smallType Tokyo Kaikan Gimlet
        img(src='https://s-media-cache-ak0.pinimg.com/600x315/59/2e/45/592e45505e5f014644ac39364fdf65e7.jpg')
        a(href='https://www.pinterest.com/pin/169659110936001995/', target='_blank', title='Open “Tokyo Kaikan Gimlet” in a new tab')
article#319.draggable.youtube
  .content
    .transform
      .card.cardHover.cardDrag.youtube
        .preview(title='Play “Club cheval - Discipline (Official video)”')
          img.youtubeThumbnail(src='https://i.ytimg.com/vi/svG1XTDBIfU/maxresdefault.jpg', style='width:480px; height: 270px')
        header
          .top
            h1.headerType.title Club cheval - Discipline (Official video)
            .artist.smallType Artist
          .detail
            .source.smallType.smallCaps youtube
