extends layout

block scripts
  script(src='/js/jquery/jquery.js')
  script(src="/js/jquery/jquery-ui.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")
  script(src='/socket.io/socket.io.js')
  
  script(src="/js/collection.js")
  script(src="/js/element.js")

  script(src="/js/home/main.js")
  script(src="/js/home/headerMenu.js")
  script(src="/js/home/settingsMenu.js")
  script(src="/js/home/addElementController.js")

  script(src="/js/createNewElement.js")
  //- script(src="/js/elementEmitters/addElement.js")
  script(src="/js/elementEmitters/deleteElement.js")
  script(src="/js/elementEmitters/dragElement.js")
  script.
    var userName = "!{user.name}"
    var userId = "!{user.id}"

block content
  header
    include partials/settingsMenu

  
  section.space.blur
    section.content
      .translate-container
        .scale-container
          - var collections = user.spaces
          include partials/collections
