extends layout

block scripts
  script(src='/js/jquery/jquery.js')
  script(src="/js/jquery/jquery-ui.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")
  script(src='/js/jquery/jquery.fileupload.js')

  script(src='/js/jquery/idraggable.js')

  script(src='/socket.io/socket.io.js')
  script(src='/js/lib/soundcloud-api.js')
  script(src='/js/lib/velocity.min.js')
  
  
  script(src="/js/collection.js")
  script(src="/js/card.js")
  script(src="/js/element.js")
  script(src="/js/slider.js")

  script(src="/js/home.js")
  script(src="/js/menuControllers/addCollection.js")
  script(src="/js/menuControllers/addElement.js")
  script(src="/js/menuControllers/header.js")
  script(src="/js/menuControllers/settings.js")
  script(src="/js/menuControllers/cover.js")

  script(src="/js/socketListeners.js")

  script(src="/js/elementEmitters/add.js")
  script(src="/js/elementEmitters/delete.js")
  script(src="/js/elementEmitters/drag.js")
  script(src="/js/elementEmitters/upload.js")
  script(src="/js/elementEmitters/modify.js")


  script(src="/js/elementControllers/file.js")
  script(src="/js/elementControllers/gif.js")
  script(src="/js/elementControllers/soundCloud.js")
  script(src="/js/elementControllers/video.js")
  script(src="/js/elementControllers/text.js")
  script(src="/js/elementControllers/youtube.js")


  script.
    var userName = "!{user.name}";var userId = +"!{user.id}"

block content
  section.space
    header.main
      include partials/settingsMenu.jade
    section.blur.blurAllCollections.content(style="position:fixed;")
      include partials/slidingContainer