extends layout

block scripts
  title= title
  link(rel='stylesheet', href='/style/index.css')
  script(src='/js/jquery/jquery.js')
  script(src="/js/jquery/jquery-ui.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")
  script(src="/js/jquery/jquery.lettering.js")
  script(src="/js/lib/velocity.min.js")
  
  script(src='/js/lib/packery.js')
  
  script(src="/js/page/stackAnimation.js")
  script(src="/js/page/index.js")
  script(src="/js/menuControllers/header.js")
  script(src="/js/utilityFunction.js")
  
  //- script(src="/js/menuControllers/settings.js")
  script(src="/js/contentModel.js")
  script(src="/js/collectionModel.js")
  script(src="/js/contentControllers/stack.js")
  script(src="/js/contentControllers/packCover.js")
  script(src="/js/contentControllers/file.js")
  script(src="/js/contentControllers/gif.js")
  script(src="/js/contentControllers/soundCloud.js")
  script(src="/js/contentControllers/video.js")
  script(src="/js/contentControllers/text.js")
  script(src="/js/contentControllers/youtube.js")
  script(src="/js/contentControllers/playable.js")

  script.
    var marginTop = 0;
    var socket = {
      emit: function(){}
    }
  script(src='/js/lib/pen.js')
  script(src='/js/lib/markdown.js')
  script(src="/js/contentControllers/genericText.js")

block content
  header
    h1.lettering.typeOutlineClear Scrap
  nav
    ul.menu.headerMenu.settings.right.hideFirst.slideIn
      li.first Sign in
      include partials/logIn
  - for (var i = 0; i < 5; i++) {
      .pack.card.filler
  - }
  .pack.card
    p Donec sed odio dui.
  - for (var i = 0; i < 5; i++) {
      .pack.card.filler
  - }
  .pack.card
    p Vestibulum id ligula porta felis euismod semper.
  - for (var i = 0; i < 5; i++) {
      .pack.card.filler
  - }
  .pack.signUp.card
    include partials/signUp
  - for (var i = 0; i < 10; i++) {
      .pack.card.filler
  - }