extends layout

block scripts
  title= title
  script(src='/js/jquery/jquery.js')
  script(src="/js/jquery/jquery-ui.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")
  script(src="/js/lib/velocity.min.js")
  script(src="/js/page/stackAnimation.js")
  script(src="/js/page/index.js")
  script(src="/js/menuControllers/header.js")
  //- script(src="/js/menuControllers/settings.js")
  script(src="/js/contentControllers/stack.js")
  script(src="/js/contentControllers/packCover.js")
  script(src="/js/contentControllers/file.js")
  script(src="/js/contentControllers/gif.js")
  script(src="/js/contentControllers/soundCloud.js")
  script(src="/js/contentControllers/video.js")
  script(src="/js/contentControllers/text.js")
  script(src="/js/contentControllers/youtube.js")
  script(src="/js/contentControllers/playable.js")

block content
  section.page.index
    nav
      ul.menu.headerMenu.settings.right.hideFirst.slideIn
        li.first Sign in
        include partials/logIn
      .signUp.card
          include partials/signUp
    .sectionsWrapper
      header.example.intro.page
        .collection.intro
          .translate
            .scale.card.cover.cardHover.colored.title.translate
              section.title
                h1.typeTitle.typeOutlineClear Design History Final
          .exampleContent
            article#263.image
              .content
                .card.cardHover.image
                  img(src='https://s-media-cache-ak0.pinimg.com/236x/6b/9a/7f/6b9a7f1326a5b70c65a5d5410e9270cb.jpg')
            

            article#260.website(data-contenttype='website')
              .content
                .transform
                  .card.cardHover.website
                    .text
                      header
                        h1.headerType The World of Charles and Ray Eames
                        .url.smallType.smallCaps barbican.org.uk
                      .description.smallType
                    img(src='http://www.barbican.org.uk/images/events/medium/18398eamesglassesevent.jpg')
                    a(href='http://www.barbican.org.uk/artgallery/event-detail.asp?ID=18398', target='_blank', title='Open “The World of Charles and Ray Eames” in a new tab')

            -var content = '{"id":"UJ-VFMymEiE"}'
            article#267.youtube.playable(data-contenttype='youtube', data-content=content)
              .content
                .transform
                  .card.cardHover.youtube
                    .preview(title='Play “Tops (1969)”')
                      img.youtubeThumbnail(src='https://i.ytimg.com/vi/UJ-VFMymEiE/hqdefault.jpg', style='width:480px; height: 270px')
                    header
                      .top
                        h1.headerType.title Tops (1969)
                        .artist.smallType Artist
                      .detail
                        .source.smallType.smallCaps youtube
            article#278.text.long(data-contenttype='text')
              .content
                .transform
                  .card.cardHover.text
                    .editable(contenteditable='false', designmode='on')
                      | Early works
                      div
                        br
                      div - Leg splint, 1942
                      div - Child’s chair, 1946
                      div
                        | - DCW side chair, 1946
                        br
                      div
                        br
                    ul.cardActions
                      li.right
                        a.invisible.done.confirm(href='#') Done
        .caption
          .animateOutOnCollectionOpen.animateInPop
            p.typeSubtitle.typeOutlineClear Introducing Scrap. A home for your projects.
            p.createAccount
              a(href='#') Create an account
          p.animateInOnCollectionOpen.animateInPop.typeSubtitle.typeOutlineClear This is a Pack. A shareable bundle of all the stuff you need for your project.
      section.example.two.page
        .collection
          .card.cover.cardHover.colored.title.translate
            section.title
              h1.typeTitle.typeOutlineClear Trip to Lisbon
          .exampleContent
            article#253.text.long(data-contenttype='text')
              .content
                .transform
                  .card.cardHover.cardDrag.text
                    .editable(contenteditable='false', designmode='on')
                      | Packing list
                      div
                        br
                        div - Sunscreen
                        div - Umbrella
                        div - Phone charger
                    ul.cardActions
                      li.right
                        a.invisible.done.confirm(href='#') Done
            article#287.website(data-contenttype='website')
              .content
                .transform
                  .card.cardHover.cardDrag.website
                    .text
                      header
                        h1.headerType Lisbon Tourism: Best of Lisbon, Portugal - TripAdvisor
                        .url.smallType.smallCaps tripadvisor.com
                      .description.smallType
                        | Lisbon Tourism: TripAdvisor has 494,485 reviews of Lisbon Hotels, Attractions, and Restaurants making it your best Lisbon resource.
                    img(src='http://media-cdn.tripadvisor.com/media/photo-s/03/9b/2f/c5/lisbon.jpg')
                    a(href='http://www.tripadvisor.com/Tourism-g189158-Lisbon_Lisbon_District_Central_Portugal-Vacations.html', target='_blank', title='Open “Lisbon Tourism: Best of Lisbon, Portugal - TripAdvisor” in a new tab')
            article#288.website(data-contenttype='website')
              .content
                .transform
                  .card.cardHover.cardDrag.website
                    .text
                      header
                        h1.headerType 36 Hours in Lisbon
                        .url.smallType.smallCaps nytimes.com
                      .description.smallType
                        | From old townhouses filled with chic shops to docklands harboring night clubs, the city is undergoing a remarkable rebirth.
                    img(src='http://static01.nyt.com/images/2015/04/05/travel/05HOURS1/05HOURS1-facebookJumbo.jpg')
                    a(href='http://www.nytimes.com/2015/04/05/travel/-2015-04-05-travel-what-to-do-in-36-hours-in-lisbon.html', target='_blank', title='Open “36 Hours in Lisbon” in a new tab')
            article#289.website(data-contenttype='website')
              .content
                .transform
                  .card.cardHover.cardDrag.website
                    .text
                      header
                        h1.headerType How I Fell for Lisbon
                        .url.smallType.smallCaps nytimes.com
                      .description.smallType
                        | I didn’t expect romance, but this city had other ideas. No must-see list or hard-fought reservations. It lets you in.
                    img(src='http://static01.nyt.com/images/2012/05/27/travel/27LISBON_395/27LISBON_395-superJumbo.jpg')
                    a(href='http://www.nytimes.com/2012/05/27/travel/how-i-fell-for-lisbon.html', target='_blank', title='Open “How I Fell for Lisbon” in a new tab')
        .caption
          p.animateInOnCollectionOpen.animateInPop.typeSubtitle.typeOutlineClear Collect links, videos, notes, and more from anywhere on the web.
      section.example.page
        .collection
          .card.cover.cardHover.colored.title.translate
            section.title
              h1.typeTitle.typeOutlineClear Stuff for Alex’s Party
          .exampleContent
            article#306.file(data-contenttype='file')
              .content
                .transform
                  .card.cardHover.cardDrag.file
                    header
                      h1.headerType.title Guestlist
                      p.extension.smallCaps.bodyType xlsx
                    ul.cardActions
                      li
                        a.download.confirm(href='#') Download
            
            - var content = {"html":"<iframe width=\"100%\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F214664718&show_artwork=true\"></iframe>","author_name":"Moogfest","author_url":"http://soundcloud.com/moogfest"}
            
            article#316.soundcloud.playable(data-contenttype='soundcloud', data-content = content)
              .content
                .transform
                  .card.cardHover.cardDrag.soundcloud
                    .preview(title='Play “O Superman (Laurie Anderson Cover) - Performed by Moses Sumney (Live & Improvised) by Moogfest”')
                      img.soundcloudThumbnail(src='http://i1.sndcdn.com/artworks-000123174454-9amvh0-t500x500.jpg')
                    header
                      .top
                        h1.headerType.title
                          | O Superman (Laurie Anderson Cover) - Performed by Moses Sumney (Live & Improvised) by Moogfest
                        .artist.smallType Moogfest
                      .detail
                        .source.smallType.smallCaps SoundCloud
            article#317.text.long(data-contenttype='text')
              .content
                .transform
                  .card.cardHover.cardDrag.text
                    .editable(contenteditable='false', designmode='on')
                      | Things we need
                      div
                        br
                      div - Cups
                      div - Snacks
                      div - ?
                      div
                        br
                    ul.cardActions
                      li.right
                        a.invisible.done.confirm(href='#') Done
            article#318.website(data-contenttype='website')
              .content
                .transform
                  .card.cardHover.cardDrag.website
                    .text
                      header
                        h1.headerType Tokyo Kaikan Gimlet
                        .url.smallType.smallCaps pinterest.com
                      .description.smallType Tokyo Kaikan Gimlet
                    img(src='https://s-media-cache-ak0.pinimg.com/600x315/59/2e/45/592e45505e5f014644ac39364fdf65e7.jpg')
                    a(href='https://www.pinterest.com/pin/169659110936001995/', target='_blank', title='Open “Tokyo Kaikan Gimlet” in a new tab')
            article#319.youtube.playable(data-contenttype='youtube')
              .content
                .transform
                  .card.cardHover.cardDrag.youtube
                    .preview(title='Play “Club cheval - Discipline (Official video)”')
                      img.youtubeThumbnail(src='https://i.ytimg.com/vi/svG1XTDBIfU/maxresdefault.jpg', style='width:480px; height: 270px')
                    header
                      .top
                        h1.headerType.title Club cheval - Discipline (Official video)
                        .artist.smallType Artist
                      .detail
                        .source.smallType.smallCaps youtube
        .caption
          p.animateInOnCollectionOpen.animateInPop.typeSubtitle.typeOutlineClear Share it with anyone — just give them the link, and they can add stuff, too.
      section.join.page.example.cantOpen
        .collection
          .card.cover.cardHover.colored.title.translate
            section.title
              h1.typeTitle.typeOutlineClear Your Project Here
        .caption
          p.createAccount.animateInOnCollectionOpen.animateInPop
            a.typeSubtitle.typeOutlineClear.typeOutlineBlackOnHover(href='#') Create an account
    footer
      p Copyright 2015 Joel Simon and Antonio Ono