extends layout

block scripts
  title= title
  script(src='/js/jquery/jquery.js')
  script(src="/js/jquery/jquery-ui.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")
  
  //- script(src="/js/collection.js")
  //- script(src="/js/element.js")

  script(src="/js/lib/velocity.min.js")
  script(src="/js/stack.js")
  script(src="/js/index.js")
  script(src="/js/menuControllers/header.js")
  //- script(src="/js/menuControllers/settings.js")

block content
  section.page.index
    header.example.intro.page
      .collection.intro
        .translate
          .scale.card.cover.cardHover.colored.title.translate
            h1.typeTitle.typeOutlineClear Hello scale
        .exampleContent
          .div.card Hey
          .div.card Foo
          .div.card Wow          
      .caption
        p.headerType Scrap. A home for your projects.
    section.example.two.page
      .collection
        .card.cover.cardHover.colored.title.translate
          h1.typeTitle.typeOutlineClear Example two
        .exampleContent
          .div.card Hey
          .div.card Foo
          .div.card Wow          
    section.example.page
      .collection
        .card.cover.cardHover.colored.title.translate
          h1.typeTitle.typeOutlineClear Example three
        .exampleContent
          .div.card Hey
          .div.card Foo
          .div.card Wow          
    section.join.page
      h1 Sign up todae.
      section.tagline.card.small.cardHover.under
        h2.headerType Scrap. A home for your projects.
      section.form.small.closed.card.under
        h2.bodyType Sign up or log in.
        include partials/logIn