extends layout

block scripts
  include partials/indexScripts

block content
  header.index
    .card.form
      include partials/registration
  section.space
  
    section.content
      
      each element in elements
        include partials/element