extends layout

block scripts
  title= title
  script(src='/js/jquery/jquery.js')
  script(src="/js/jquery/jquery-ui.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")
  
  //- script(src="/js/collection.js")
  //- script(src="/js/element.js")

  script(src="/js/lib/velocity.min.js")
  script(src="/js/stack.js")
  script(src="/js/index.js")
  script(src="/js/menuControllers/header.js")
  //- script(src="/js/menuControllers/settings.js")

block content
  section.page.index
    header.intro
      .translate
        .card.cover.cardHover.colored.title
          // .top.animateIn.twist.left
          h1.typeTitle.typeOutlineClear Hermit crab races.
      section.tagline.card.small.cardHover.under
        // .top.right.animateIn.bottom.twist
        h2.headerType Scrap. A home for your projects.
      section.form.small.closed.card.under
        // .right.animateIn.bottom.twist.
        h2.bodyType Sign up or log in.
        // include partials/signUp
        include partials/logIn
    section
      p.headerType This is a Scrap pack. Collections for everything. It has everything you need porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur.