extends layout
block scripts
  include partials/indexScripts

block content
  header
    .card.form
      include partials/registration
  section.index
    header
      h1 Hotpot
      h2 Collect and share<br>anything for a project.
      ul.form
        li Sign Up
        li Log In
    section
      section.example
        header
          h1 Hotpot is for Archaeology
        section.collection
      section.example
        header
          h1 Hotpot is for Baking
        section.collection
      section.example
        header
          h1 Hotpot is for Creperies
        section.collection
      section.example
        header
          h1 Hotpot is for Dolphin Training
        section.collection
      section.example
        header
          h1 Hotpot is for Entymology
        section.collection
      section.example
        header
          h1 Hotpot is for Faberge Egg Collecting
        section.collection