extends layout
block scripts
  script(src="/js/jquery/jquery.js")
  script(src="/js/home/headerMenu.js")

block content
  header.tempForm
    .card.form
      include partials/registration
  section.index
    header
      h1 Hotpot
      h2 Keep everything for your<br>project in one place.
      ul.form
        li Sign Up
        li Log In
    section
      section.example
        header
          h1 Hotpot is for Archaeology
        section.collection
          // here be examples
      section.example
        header
          h1 Hotpot is for Baking
        section.collection
      section.example
        header
          h1 Hotpot is for Creperies
        section.collection
      section.example
        header
          h1 Hotpot is for Dolphin Training
        section.collection
      section.example
        header
          h1 Hotpot is for Entymology
        section.collection
      section.example
        header
          h1 Hotpot is for Faberge Egg Collecting
        section.collection