extends layout
block scripts
  include partials/indexScripts

block content
  header
    .card.form
      include partials/registration

  section.index.blur
    header
      h1.hover Hotpot
      h2.drift.hover.top Collect and share<br>anything for a project.
    section.register.drift.hover.bottom
      form(id="login")
        li.name
          input(id="name",type="text", name="user[name]", placeholder="Name")
        li.mail
          input(id="email",type="email", name="user[email]", placeholder="Mail")
        li.password
          input(id="password",type="password", name="user[password]", placeholder="Password")
        li.submit
          input.offset(type="submit", value="Sign up")
    section.example