extends layout
//- block scripts
  //- include partials/indexScripts

block content
  header
    .card.form
      include partials/registration
  section.index
    header
      h1 Hotpot
      h2 Collect and share<br>anything for a project.
      ul.form
        li Sign Up
        li Log In
    
    section.space
      section.content
    
        -var collection_height = 700
        -for (var i = 0; i < collections.length; i++)
          -var collection = collections[i]
          -var top = (i * collection_height)
          section.example
            header
              h1!=collection.name
            .collection(style="top:"+top+"px;height:"+(collection_height)+"px;")
              -for (var j = 0; j < collection.elements.length; j++)
                -var element = collection.elements[j]
                include partials/element

      //- section.example
      //-   header
      //-     h1 Hotpot is for Baking
      //-   section.collection
      //- section.example
      //-   header
      //-     h1 Hotpot is for Creperies
      //-   section.collection
      //- section.example
      //-   header
      //-     h1 Hotpot is for Dolphin Training
      //-   section.collection
      //- section.example
      //-   header
      //-     h1 Hotpot is for Entymology
      //-   section.collection
      //- section.example
      //-   header
      //-     h1 Hotpot is for Faberge Egg Collecting
      //-   section.collection