extends layout

block scripts
  title= title
  script(src='/js/jquery/jquery.js')
  script(src="/js/jquery/jquery-ui.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")
  
  //- script(src="/js/collection.js")
  //- script(src="/js/element.js")

  script(src="/js/lib/velocity.min.js")
  script(src="/js/index.js")
  script(src="/js/menuControllers/header.js")
  //- script(src="/js/menuControllers/settings.js")

block content
  section.index
    header.card.cover.cardHover.left.colored.title.top
      h1.typeTitle.typeOutlineClear Hotpot
    section.tagline.card.cover.cardHover.right
      h2.typeTitle.typeOutlineClear Keep everything for your project in one place.
    section.form.closed.card.left
      include partials/signUp
      include partials/logIn
    section.description.card.cardHover.top
      p Donec sed odio dui. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.