doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    
    script(src='/js/jquery/jquery.js')
    script(src="/js/jquery/jquery-ui.min.js")
    script(src="/js/jquery/jquery.transit.min.js")
    script(src="/js/jquery/jquery-mousewheel.min.js")
    script(src="/js/lib/dragabilly.min.js")
    script(src="/js/lib/velocity.js")
    script(src="/js/lib/packery.js")
    link(rel='stylesheet', href='/style/prototype.css')
    script(src='/js/prototype.js')
    //- script(src='/js/derp.js')


  body
    header.main
      .backButton
        a(href="#")
          span ‹
      // include partials/settingsMenu.jade
    .container.small
      - for (var i = 0; i < 20; i++) {
        article.text
          .card.text
            .editable
              h1 Header
              h2 header 2
              p paragraph
              p paragraph
              ol
                li ordered
                li list
              ul
                li unordered
                li lists
              blockquote quote
        article.image
          .card.image
            img(src='http://lorempixel.com/' + Math.floor(Math.random() * 100 + 200) + '/' + Math.floor(Math.random() * 100 + 200))
        article.file
          .card.file
            .fakeCard
              header
                h1.headerType.title Filename
                p.extension.smallCaps.bodyType PDF
              ul.cardActions
                li
                  a.download.confirm(href='#') Download
        article.website
          .card.website
            .text
              header
                h1.headerType Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                .url.smallType.smallCaps nytimes.com
              .description.smallType Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
            img(src='http://lorempixel.com/400/300')
            a(href=url, target='_blank', title='Open “Title” in a new tab')
        article.soundcloud.playable
          .card.text.playable
            .preview
              - var size = Math.floor(Math.random() * 100 + 200)
              img(src='http://lorempixel.com/' + size + '/' + size)
            header
              .top
                h1.headerType.title Title
                .artist.smallType Name
              .detail
                .source.smallType.smallCaps Source
        article.youtube.playable
          .card.text.playable
            .preview
              - var w = Math.floor(Math.random() * 100 + 300)
              - var h = Math.floor(w / (16/9))
              img(src='http://lorempixel.com/' + w + '/' + h)
            header
              .top
                h1.headerType.title Title
                .artist.smallType Name
              .detail
                .source.smallType.smallCaps Source
      - }