extends layout

block scripts
  title= title
  script(src='/js/jquery/jquery.js')
  script(src="/js/jquery/jquery-ui.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")
  
  script(src="/js/lib/velocity.min.js")
  script(src="/js/page/stackAnimation.js")
  script(src="/js/page/readOnly.js")
  script(src="/js/menuControllers/header.js")

block content
  section.readOnly.page
    .collection.animateIn.center
      header.card.cover.cardHover.colored.title.left
        h1.typeTitle.typeOutlineClear!=collection.name
        section.form
          a.formToggle(href='#') Create Account
          ul.form.logIn
            include partials/logIn
          ul.form.signUp
            include partials/signUp
      section.card.small.right.hidden.logo
        h1.typeTitle.typeOutlineClear Scrap
      section.intro.card.small.hidden.right
        - var text = "Joel shared "+collection.name+" with you on Scrap, a simple way to collect and organize stuff. Create an account or sign in to see it."
        p!=text
      .card.blank.cover.hidden.left
      .card.blank.cover.hidden.left
      .card.blank.cover.hidden.left