extends layout
include mixins/article
include mixins/addCollectionForm
include mixins/addArticleForm

block scripts
  script(src='/js/jquery/jquery.js')
  script(src="/js/jquery/jquery-ui.min.js")
  script(src="/js/jquery/jquery.transit.min.js")
  script(src="/js/jquery/jquery-mousewheel.min.js")
  script(src="/js/lib/dragabilly.min.js")
  script(src="/js/lib/packery.js")
  script(src="/js/page/recents.js")

  script(src='/socket.io/socket.io.js')
  script(src='/js/lib/soundcloud-api.js')
  script(src='/js/lib/velocity.min.js')
  script(src='/js/lib/pen.js')
  script(src='/js/lib/markdown.js')

  script(src="/js/contentModel.js")
  script(src="/js/collectionModel.js")
  
  script(src="/js/contentControllers/packCover.js")
  script(src="/js/contentControllers/file.js")
  script(src="/js/contentControllers/gif.js")
  script(src="/js/contentControllers/soundCloud.js")
  script(src="/js/contentControllers/video.js")
  script(src="/js/contentControllers/text.js")
  script(src="/js/contentControllers/youtube.js")
  script(src="/js/contentControllers/playable.js")
  script(src="/js/contentControllers/genericText.js")
        
  
block content
  #container
    for article in articles
      +articleMixin(article.Collection, article)