extends layout
include mixins/article
include mixins/addCollectionForm
include mixins/addArticleForm

block scripts
    script(src='/js/jquery/jquery.js')
    script(src="/js/jquery/jquery-ui.min.js")
    script(src="/js/jquery/jquery.transit.min.js")
    script(src="/js/jquery/jquery-mousewheel.min.js")
    script(src="/js/lib/dragabilly.min.js")
    script(src="/js/lib/packery.js")
    script(src="/js/page/recents.js")
        
  
block content
    #container
        for article in articles
            +articleMixin(article.Collection, article)