extends layout

block scripts
  include partials/spaceScripts

block content
  header
    a(href='/') Home

    include partials/spaceMenu
    h1.spaceName= current_space.name

    include partials/userMenu

  form(enctype="multipart/form-data",class="drag-upload")
    input(type="hidden",name="key")
    input(type="hidden",name="AWSAccessKeyId",value="AKIAJKJJR5OLTKWMMHSA")
    input(type="hidden",name="acl",value="public-read")
    input(type="hidden",name="policy")
    input(type="hidden",name="signature")
    input(type="hidden",name="success_action_status",value="201")
    input(type="hidden",name="Content-Type")
    input(type="file", style="visibility:hidden;",name="file")

  .delete.trash
  
  section.space
  
    section.content
      
      each element in current_space.elements
        if element.z > maxZ
          - maxZ = element.z

        if (element.x + 30 * element.scale) > maxX
          - maxX = (element.x + 30 * element.scale)

        if element.x < minX
          - minX = element.x

        if element.y+30 > maxY
          - maxY = element.y+30

        if element.y < minY
          - minY = element.y

        if element.scale < minScale
          - minScale = element.scale

        include partials/element