$collectionOpenTransitionDuration: 1s;
$hideImageWhiteBorder: -2px -1px -4px -2px;

section.container section.space section.content{
        
    article {
        color: $colorType;
        position: absolute;
        backface-visibility: hidden;
        margin-right: -2pt;
        line-height: 1.5em;
        transform-origin:           center;
        -webkit-transform-origin:   center;

        @include typeHeader;
        
        // EVENTS
        
        &:hover, &.hover {
            cursor: move;
            cursor: -webkit-grab;
            cursor: -moz-grab;;
            cursor: grab;
            
            .elementControls {
                opacity: 1;
            }
        }

        &.dragging, &.ui-draggable-dragging, &.active, &:active {
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
            cursor: grabbing;

            > .content .card {
                @include cardDrag;
            }
        }
        
        &.locked {
            opacity: .25;
            -webkit-filter: grayscale(1);
        }

        &.resizing {
            .card .ui-resizable-handle {
                opacity: .5;
            }
        }
                
        // CONTENTS
        
        .elementControls {
            @include transition(.25s $defaultCurve);
            @include transition-property(opacity);
            opacity: 0; 
            top: -20px;
            left: 0;
            position: absolute;
            z-index: 5000;
            font-style: normal;
            color: $colorType;
            
            .elementDeleteButton, author {
                @include typeSmall;
                @include linkReset;
                position: absolute;
                display: block;
                bottom: 0;
            }
            
            .elementDeleteButton {
                left: 0;
            }
            
            author {
                right:  0;
                white-space: nowrap;
            }
        }
        
        // CONTENT
        
        > .content {
            position: relative;
                    transform-origin: bottom right;
            -webkit-transform-origin: bottom right;
        }
        
        &.text {
            font-style: normal;
            
            * {
                outline: none;
            }
            
            em {
                font-style: italic;
            }
            
            strong {
                font-weight: $fontWeightBold;
            }
            
            &.short {
                @include typeHeader;
            }
            
            &.long {
                @include typeBody;
            }
        }
        
        &.image {
            
            .content {
                
                .card {
                    padding: 0px;
                    width: $articleWidth;
                    max-height: $articleWidthWide;
                    overflow: hidden;
                    
                    img {
                        margin: $hideImageWhiteBorder;
                    }
                }
            }
        }
        
        &.youtube {
            width: intrinsic;
            
            .content {
                
                .card {
                    width: intrinsic;
                    padding: 0px;
                    background-color: $cardBorderColor;
                    
                    iframe {
                        margin: $hideImageWhiteBorder;
                    }
                }
            }
        }
        
        &.youtube {
            
            .content {
                
                .card {
                    max-width: $articleWidthVideo;
                }
            }
        }
        
        &.file .content {
            $foldWidth: 48px;
            padding-right: $foldWidth;
            height: $articleWidth;
            width: $articleWidthNarrow;
            position: relative;
            
            .decorative.fold {
                z-index: 10;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: $foldWidth;
                background: url('/images/fileCorner.png') no-repeat top right;
                background-size: $foldWidth $foldWidth;
                
                &:after {
                    content: " ";
                    left: -$cardBorderWidth;
                    right: 0;
                    top: $foldWidth;
                    position: absolute;
                    height: $articleWidth - $foldWidth + $cell + $cardBorderWidth;
                    width: $foldWidth;
                    background: white;
                    border: $cardBorder;
                    border-left: 0;
                    border-top: 0;
                }
            }
            
            .card {
                height: 100%;
                border-right: 0;
                
                header {
                    h1 {
                        word-wrap: break-word;
                    }
                }
                
            }
        }
        
        &.soundcloud .card {
            width: $articleWidth;
            padding: 0;
            
            header {
                border-top: 0;
                padding: $cardPadding;
                
                h1 {
                }
                
                .artist {
                    @include typeSmall;
                    margin-top: $cell/2;
                }
                
                .detail {
                    margin-top: $midMargin; 
                    @include typeSmall;
                }
            }
        }
        
        .card {
            position: relative;
            max-width: $articleWidth;
            overflow: hidden;

            &.text {
                @include cardStyle;
                background: -webkit-linear-gradient(#ffffaa 0%, #ffffff 100%);
//                 font-family: "Comic Sans MS";
                border: $cardBorder;
                width: $articleWidth;
                min-height: $articleMinHeight;
            }
            
            &.website {
                @include cardStyle;
                width: $articleWidthNarrow;
                padding-top: $cell * 2;
                
                &:hover {
                    @include hoverLinkAnimation;
                }
                
                a {
                    border: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
                               
                .text {

                    
                    header {
                        position: absolute;
                        top: $cell/2;
                        @include transition($collectionOpenTransitionDuration $defaultCurve);
                        @include transition-property(top);

                        h1 {
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical; 
//                             max-height: $typeHeaderLeading * 3; 
//                             text-overflow: ellipsis;
                            max-height: $typeHeaderLeading * 4;
                            overflow: hidden;
                            margin-left: $headerLeftMarginOffset;
                            padding-bottom: .125em;
                            margin-bottom: -.125em;
//                             @include multiline-ellipsis($typeHeaderLeading * 3, $typeHeaderLeading, 1em);
                        }
    
                        .url {
                            margin-top: $cell/2;
                            @include typeSmall;
                            @include transition($collectionOpenTransitionDuration $defaultCurve);
                            @include transition-property(opacity);
                        }
                    }

                    .description {
                        margin-top: ($broadMargin * 3);
                        margin-bottom: $cell/2;
                        opacity: 1;
                        @include typeSmall;
                        @include transition($collectionOpenTransitionDuration $defaultCurve);
                        @include transition-property(opacity, margin-top);
                    }
                    
                    img {
                        margin-top: 0;
                        @include transition($collectionOpenTransitionDuration $defaultCurve);
                        @include transition-property(margin-top);
                    }
                }
            }

            
            &.caption, &.comment {                       
                // background-color: $colorCardBackgroundLight;
            }

            img {
                width: 100%;
                margin-bottom: -$cell/3;
                background-color: $colorCardBackground;
            }
        }
        
        &.addElementForm {

            // Compact view
            &.peek {
                .translate {
//                     background-color: transparent !important;
//                     border: 0;
                		@include transform(translate(0px, -48px));
                		
                    &:after {
                    		@include transform(translate(0px, 0px));
                    }
                }
                                
                ul {
                		@include transform(translate(-128px, 0px));
                }
            }
            
            
            &.typing {
                ul li {
                    &.upload {
                        opacity: 0;
                    }
                    
                    &.done {
                        opacity: 1;
                    }
                }
            }
            
            .translate {
                overflow: hidden;
                position: relative;
                height: $articleWidthWide;
                width: $articleWidth;
                cursor: pointer;
            		@include transform(translate(0px, 0px));
                @include transition(1s $defaultCurve);
                @include transition-property(transform,
                                     -webkit-transform,
                                        -moz-transform);

                // Plus sign for compact view
                &:after {
                    content: "";
                    height: 24px;
                    width:  24px;
                    font-weight: $fontWeightLight;
                    background: url('/images/add.png') no-repeat;
                    background-size: cover;
                    position: absolute;
                    top:    $cell*.75;
                    right:  $cell*.75;
                        transform-origin:           center center;
                        -webkit-transform-origin:   center center;
                    		@include transform(translate(36px, 0px));
                    @include transition(.5s $defaultCurve);
                    @include transition-property(transform,
                                         -webkit-transform,
                                            -moz-transform);
                }

                .card {
                    overflow: visible;   
                }
            }               
                        
            ul {
            		@include transform(translate(0px, 0px));
                @include transition(.5s $defaultCurve);
                @include transition-property(transform,
                                     -webkit-transform,
                                        -moz-transform);
                
                li {
                    vertical-align: top;
                    
                    &.text {
                        width: $articleWidth;
                        height: $articleWidthWide - $cell * 2;
                        position: relative;
                        
                        span.label {
                            display: none;
                        }
                        
                        textarea {
                            @include typeHeader;
                            height: 100%;
                        }
                    }
                    
                    &.cardActions {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        
                        ul {
                            li {
                                &.upload {
                                    opacity: 1;
                                    display: inline-block;
                                    height: $leading;
                                    width: intrinsic;
                                    
                                    form {
                                        height: 100%;
                                        width: 100%;
                                        top: 0;
                                        left: 0;
                                        position: absolute;
                                        
                                        input {
                                            height: 100%;
                                            width: 100%;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            opacity: 0;
                                            cursor: pointer;
                                        }
                                    }
                                }
                                
                                &.done {
                                    display: inline-block;
                                    height: $leading;
                                    float: right;
                                    width: intrinsic;
            
                                    a {
                                        border: 0;
                                        padding: 0;
                                        margin-left: $cell;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}