$labelOpenTransitionDuration: 1s;
$hideImageWhiteBorder: -2px -1px -4px -2px;

body {

    article {
        color: $colorType;
        position: absolute;
        backface-visibility: hidden;
        margin-right: -2pt;
        line-height: 1.5em;
        transform-origin: center center;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;

        // EVENTS

        &.hover {
            @include cursorGrab;
        }

        &.dragging, &.ui-draggable-dragging, &.active, &:active {

            > .content .card {
                @include cardDragging;
            }
        }

        &.locked {
            opacity: .25;
            -webkit-filter: grayscale(1);
        }

        &.resizing {
            .card .ui-resizable-handle {
                opacity: .5;
            }
        }

        // CONTENT

        &.text {
            font-style: normal;
            max-width: 50vh !important;

            &.editing, &.editing .card {
                &:hover {
                    cursor: text;
                }
            }

            .card {
                width: $articleSide;
                min-height: $articleSide;
                max-width: 50vh !important;
            }

            * {
                outline: none;
            }

            em {
                font-style: italic;
            }

            strong {
                font-weight: $fontWeightBold;
            }

            .editable {
                height: 100%;
                margin-bottom: $broadMargin;
                @include typeBody;

                h1 {
                    @include typeLarge;
                    margin-top: $typeBodyLeading;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                h2 {
                    @include typeBodySmallCaps;

                    &:first-child {
                        margin-top: $typeBodyLeading/2;
                    }
                }

                p + h2, ul + h2, ol + h2, blockquote + h2 {
                    margin-top: $typeBodyLeading;
                }

                div, p, ul, ol, span, blockquote, h1, h2 {
                    margin-bottom: $typeBodyLeading/2;
                }

                > p, > ul, > ol {
                    &:first-child {
                        margin-top: $typeBodyLeading/3;
                    }
                }

                blockquote {
                    border-left: 1px solid rgba(0,0,0,.25);
                    padding-left: $cell/1.5;
                    position: relative;
                    left: -$cell/1.5;
                    margin-left: -1px;
                    font-style: italic;
                }

                ul, ol {
                    position: relative;

                    li {
                        &:before {
                            text-align: right;
                            position: absolute;
                            width: $gutter * 2;
                            left: -($gutter * 2) - $cardPaddingLeft/2;
                        }
                    }
                }

                ul {

                    li {
                        &:before {
                            content: '–';
                        }
                    }
                }

                ol {
                    counter-reset: li;

                    li {
                        &:before {
                            content:counter(li);
                            counter-increment:li;
                            @include typeBodySmallCaps;
                            margin-top: .1em;
                        }
                    }
                }
            }
        }

        &.image {

            .card {
                height: auto !important;
                width: auto !important;
                padding: 0px;
//                 overflow: hidden;
                
                img {
                    height: auto;
                    width:  auto;
                    min-width:  $col;
                    min-height: $col;
                    max-width:  $articleSideWide;
                    max-height: $articleSideWide;
                    margin: $hideImageWhiteBorder;
                }
            }
        }
        
        &.website {
            .card {
                @include cardStyle;
                padding: 0;
                width: $articleSide;
                height: auto !important;
//                 height: auto !important;
                min-height: $articleSideNarrow;
                position: relative;
                
                header {
                    padding: $cardPadding;
                    position: relative;
                    z-index: 10;
                    
                    h1 {
/*
                        position: relative;
                        z-index: 13;
*/
//                             position: absolute;
                    }
                    
                    .source {
                        line-height: $typeHeaderLeading;
                    }
                    
                    .description, .source {
/*
                        z-index: 11;
                        position: relative;
*/
                    }
                }
                
                .parallaxHidden {
//                         display: none;
                }
                
                
                a {
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  display: block;
//                   z-index: 14;
                }
                
                img {
                    height: auto !important;
                    width:  auto !important;
                    min-height: $articleSideNarrow;
                    min-width:  $articleSide;
                    max-height: 100%;
                    max-width:  100%;
//                     mix-blend-mode: multiply;
/*
                    z-index: 12;
                    position: relative;
*/
                }
            }
        }
        
        &.file {
            $foldWidth: 48px;
            position: relative;
            max-width: $articleSide;

            .fakeCard {
                @include cardStyle;
                height: $articleSide;
                width: $articleSideNarrow - $foldWidth - $cardPaddingRight;
                border-right: 0;
                position: relative;
            }

            .decorative.fold {
                z-index: 10;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: $foldWidth;
                background: transparent url('/images/fileCorner.png') no-repeat top right;
                background-size: $foldWidth $foldWidth;

                &:after {
                    content: " ";
                    left: -$cardBorderWidth;
                    right: 0;
                    top: $foldWidth;
                    position: absolute;
                    height: $articleSide - $foldWidth + $cell + $cardBorderWidth;
                    width: $foldWidth;
                    background: white;
                    border: $cardBorder;
                    border-left: 0;
                    border-top: 0;
                }
            }

            .card {
                width: $articleSideNarrow;
                // reset card style
                border: 0;
                background: transparent;
                padding: 0;

                header {
                    h1 {
                        word-wrap: break-word;
                    }
                }

            }
        }

        &.soundcloud {

            .card {
                width: $articleSide;
                height: $articleSide;
            }
        }

        &.youtube {

            .content {

                .card {
                    max-width: $articleWidthVideo;
                    width: -webkit-fit-content;
                    width: fit-content;
                    padding: 0px;

                    iframe {
                        margin: $hideImageWhiteBorder;
                    }
                }
            }
        }


        &.playable {

            &.playing, &.playing.hover {
                .card {
                    header {
                        opacity: 0;
                        display: none;
                    }
                }
            }

            .card {
                padding: 0;
                position: relative;

                &:active {
                    .playButton {
                        -webkit-filter: invert(1);
                        @include transform(scale(.95));
                    }
                }

                .preview {
                    position: relative;
                    cursor: pointer;
                    background: black;

                    img {
                        @include transition(opacity .25s $defaultCurve);
                        width: 100%;
                    }

                }

                header {
                    border-top: 0;
                    padding: $cardPadding;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    .artist {
                        margin-bottom: $cell/2;
                    }

                    .detail {
                        position: absolute;
                        bottom: $cardPaddingBottom;
            //                     margin-top: $midMargin;
                    }
                }

                .playButton {
                    background: url('/images/playButton.png') no-repeat;
                    background-size: cover;
                    height: 72px;
                    width:  72px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top:  -36px;
                    margin-left: -36px;
                    z-index: 9000000;
                    @include transformOriginCenter;
//                     @include transition(.1825s $defaultCurve);
//                     @include transition-property(-webkit-filter);

                }
            }
        }

        .card {
            position: relative;
//             min-height: $articleMinHeight;

            &.caption, &.comment {
                // background-color: $colorCardBackgroundLight;
            }

            h1.headerType {
                margin-left: $headerLeftMarginOffset;
                margin-top: -.15em;
            }

            img {
//                 width: 100%;
                margin-bottom: -$cell/3;
//                 background-color: $colorCardBackground;
            }
        }
    }
}

.addArticleForm {
    .card {
        width: $articleSideNarrow;
    }
}

.addProjectForm {
    &:hover, &.hover, &.editing, &.typing {
        h1.typeOutlineClear {
            @include typeOutlineFillBlack;
        }
    }

    .card {
        width: $coverWidth;
    }
}

.addArticleForm, .addProjectForm {
    // Compact view
    &.peek {
        &.onEdge {
            &:hover {
                .translate {
                  		@include transform(translate(-$col/2, 0px));
                }
            }

            &.slideInFromSide, &.slideInFromSide:hover {
                z-index: 99999999 !important;

                .translate {
                    		@include transform(translate(-$articleSideNarrow, 0px));

                    		.card .editable, .card .cardActions {
                    				opacity: 1;
                      		  @include transform(translate(0px, 0px));
                  		  }


                      &:after {
                        		@include transform(translate(-48px, 0px));
                      }
                }

                &.cover {

                    .translate, &.onEdge:hover .translate {
                        @include transform(translate(-$coverWidth, 0px));
                    }
                }
            }

            .translate {
              		.card .editable, .card .cardActions {
              				opacity: 0;
                		  @include transform(translate($articleSideNarrow, 0px));
            		  }

                &:after {
                  		@include transform(translate(0px, 0px));
                }
            }
        }

        .translate {
          		@include transform(translate(0px, 0px));

            &:after {
              		@include transform(translate(-48px, 0px));
            }
        }

        .card .editable, .card .cardActions {
            opacity: 1;
            display: block;
          		@include transform(translate(0px, 0px));
            @include transition(1s $defaultCurve);
          		@include transition-property(opacity, transform,
          		                     -webkit-transform,
          		                        -moz-transform);
        }
    }

    &.typing, &.typing:hover {
        z-index: 99999999 !important;

        .translate, .translate:hover {
            &:after {
                @include transform(translate(-48px, 0px));
            }

          		.card .editable, .card .cardActions {
              		opacity: 1;
          		  		@include transform(translate(0px, 0px));
          		}
        }

        .cardActions ul li {
            &.upload {
                opacity: 0;
            }

            &.done {
                opacity: 1;
            }
        }
    }

    .translate {
        position: relative;
//         cursor: pointer;
        @include transform(translate(0px, 0px));
        @include transition(1s $defaultCurve);
        @include transition-property(transform,
                             -webkit-transform,
                                -moz-transform);

        // Plus sign for compact view
        &:after {
            content: "";
            height: 24px;
            width:  24px;
            font-weight: $fontWeightLight;
            background: url('/images/add.png') no-repeat;
            background-size: cover;
            position: absolute;
            left:    $cell*.75;
            top:  $cell*.75;
            //-webkit-transform-origin: center center;
            //        transform-origin: center center;
          		@include transform(translate(0px, 0px));
            @include transition(1s $defaultCurve);
            @include transition-property(transform,
                                 -webkit-transform,
                                    -moz-transform);
        }

        .card {
            overflow: visible;

            .cardActions {
                width: $articleSideNarrow;

                ul {

                    li {

                        &.upload {
                            opacity: 1;
                            display: inline-block;
                            width: $col * 1.5;
                            height: $leading;
                            overflow: hidden;
                            position: relative;

                            &:hover {
                                a {
                                    @include hoverLinkAnimation;
                                }
                            }

                            form {
                                height: 100%;
                                width: 200%;
                                top: 0;
                                left: 0;
                                position: absolute;

                                input {
                                    height: 100%;
                                    width: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: -50%;
                                    opacity: 0;
                                    cursor: pointer !important;
                                }
                            }
                        }

                        &.done {
                            display: inline-block;
                            height: $leading;
                            float: right;
                            width: intrinsic;

                            a {
                                border: 0;
                                padding: 0;
                                margin-left: $cell;
                            }
                        }
                    }
                }
            }
        }
    }
}
