.slidingContainer {
    position: absolute;
    top: 15vh;
}

.slider {
    position: absolute;
}

section.container {
    
    header.main {
        position: fixed;
        top: 0;
        left:0;
        width:100vw;
        z-index: 40;
    }
    
}

.collection {
    color: orange !important;
}    
