// must be the same as in main.coffee
$scaleMultiple: 4;
$backButtonWidth: ($col/4) + $cardPaddingLeft + $cell;
$logoButtonWidth: $col*2 + $cardPaddingLeft + $cardBorderWidth;


.slidingContainer {
    position: absolute;
}

.slider {
    position: absolute;
}

section.container {
    
    header.main {
        position: fixed;
        top: 0;
        left:0;
        width:100vw;
        z-index: 40;
    }
    
    section.content {
        margin-top: $col;
    }
    
    .elements {        
        -webkit-transform-origin: 0 0;
        @include transform(scale(1/$scaleMultiple));
        @include transition(1s $defaultCurve);
        @include transition-property(transform,
                             -webkit-transform,
                                -moz-transform);
    }
}