footer.main {
    $footerHeight: $col; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    
    ul.actions {
        list-style: none;
        $actionSide: $cell * 4;
        
        li.action {
            position: relative;
            display: inline-block;
            padding-left:  $cell;
            padding-right: $cell;
            padding-bottom: $cell * 2; 
            margin-top: 0;
            
            &:last-of-type {
                padding-right: $cell * 2;
                
                label {
                    right: $cell;
                }
            }
            
            &.delete {
                &.active {
                    @include hoverWarningAnimation;
                    
                    .target {
                        background-image: url('/images/deleteActive.svg');
                    }
                }
                
                .target {
                    background-image: url('/images/delete.svg');
                }
            }
            
            &.download {
                &.active {
                    @include hoverConfirmAnimation;
                    
                    .target {
                        background-image: url('/images/downloadActive.svg');
                    }
                }
                
                .target {
                    background-image: url('/images/download.svg');
                }
            }
            
            .target {
                height: $actionSide;
                width: $actionSide;
                @include transition(.25s $defaultCurve);
                @include transition-property(height, width);
//                 border: $cardBorder;
//                 border-radius: $actionSide;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: $actionSide $actionSide;
            }
            
            label {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                margin-left: 1pt; // 1pt to offset wide tracking on last character
                bottom: ($cell * 2) - $typeSmallLeading;
            }
        }
    }
}