header.main {
    .backButton.main {
        position: absolute;
        top: 0;
        left: -50px;
        
        &.visible {
            &:hover {
                a {
                    @include transform(translate3d(12px, 0px, 0px));
                }
            }
        }

        a {
            display: block;
            padding: 0 12px 12px 24px;            
            @include transform(translate3d(0px, 0px, 0px));
            @include transition(.25s $defaultCurve);
            @include transition-property(transform,
                                 -webkit-transform,
                                    -moz-transform);
        }
    }
}