header.main {
    .backButton {
        position: absolute;
        top: 0;
        left: -24px;
        
        &.visible {
            &:hover {
                a {
                    @include transform(translate3d(12px, 0px, 0px));
                }
            }
        }

        a {
            display: block;
            width: 24px;
            padding: 0 $cell/2;
    
            @include typeHeader;
            font-size: $typeHeaderSize * 2;
            font-weight: $fontWeightThin;
            @include transform(translate3d(0px, 0px, 0px));
            @include transition(.25s $defaultCurve);
            @include transition-property(transform,
                                 -webkit-transform,
                                    -moz-transform);
            
        }
    }
}