header.main {
    > .backButton {
        position: absolute;
        top: 0;
        left: -50px;
        
        &.visible {
            &:hover {
                a {
                    @include transform(translate3d(12px, 0px, 0px));
                }
            }
        }

        a {
            padding: 0 12px 12px 24px;            
        }
    }
}