.cover {
	
    &.root {
  	    display: none;
    }

    &.peek.open {
  	    .card {
      	    .background {
          	    @include coverBackgroundDull;
      	    }
      	    
        		section.title {
            		h1 {
                		@include transform(translate(-128px, 0px));
            		}
            		
            		h2 {
                		@include transform(rotate(270deg));
            		}
        		}
  	    }
    }
}
    	
.cover .card, .cover.card {
	
		&.hover, &.editing {
        section.title {
    		    h1.typeTitle {
            		@include typeOutlineFillBlack;
        		}
        }
		}
		
    &.hover {
        ul.users {
            opacity: 1;
    		}
	
    		section.title {
        		.rename a {
            		opacity: .25;
        		}
    		}
		
    		.background {
        		@include coverBackgroundDull;
    		}
		}
	
		&.editing {
    		section.title .rename a {
        		opacity: .5;
    		}
		}
	          		
		.background {
    		@include coverBackground;
		}
	
		section.title {
		    // For transition to spine view
      
		    &:hover {
      		.rename a {
          		opacity: .5;
      		}
		    }
      
		    h1 {
            margin-top:  (-1em /8);
            margin-left: (-1em /32);
            margin-right: $cardPaddingRight/2;
            outline: 0;
            word-wrap: break-word;
      		@include transform(translate(0px, 0px));
            @include transition(.25s $defaultCurve);
            @include transition-property(transform,
                                 -webkit-transform,
                                    -moz-transform,
                                 -webkit-text-fill-color,
                                 -webkit-text-stroke,
                                         color);
        }

  		h2 {
          //transform-origin:           bottom right;
          //-webkit-transform-origin:   bottom right;
            width: $coverHeight;
            white-space: nowrap;
            text-align: right;
            position: absolute;
            top: -$cell*1.25;
            right: $cell/2.5;
            @include transform(rotate(270deg) translate(0px, 36px));
            @include transition(.5s $defaultCurve);
            @include transition-property(transform,
                               -webkit-transform,
                                  -moz-transform);
  		}
    
        .rename {
            z-index: 20;
            position: relative;
            margin-top: $cell;
            
            a {
                display: inline-block;
                padding: $cell * 2 $cell * 2 $cell * 2 $cell; // Larger click area
                margin-left: -$cell;
                margin-top: -$cell;
                opacity: 0;
                @include transition(.5s $defaultCurve);
                @include transition-property(opacity);
                
                &:hover {
                    opacity: 1;
                }
        		}
    		}
    }
        		
    ul.users {
        position: absolute;
        width: 100%;
        bottom: $cardPaddingBottom;
        @include typeSmall;
        @include transition(opacity .25s $defaultCurve);
        
        li {
            
            &.add {
                width: 100%;
                margin-top: $cell;
                
                ul li {
                    height: auto;
                    padding: 0;
                    margin: 0;
                    
                    .notice {
                        position: absolute;
                        bottom: 0;
                    }
                    
                    label {
                        display: block;
                    }
                    
                    input[type=email] {
                        padding-right: $cell * 3;
                        float: left;
                        width: 50%;
                    }
                    
                    input[type=submit] {
                        height: $typeSmallLeading + 2pt;
                        width: $cell * 4;
                        padding-left: $cardPaddingLeft;
                        color: $colorTypeTrans;
                        @include transition(color $defaultCurve .25s);
                        
                        &:hover {
                            color: $colorType;
                        }
                    }
                }
            }
        }
    }
}
