    	.cover {
      	
      	    &.root {
          	    display: none;
      	    }
      	
      	    &.peek.open {
          	    .card {
              	    .background {
                  	    @include coverBackgroundDull;
              	    }
              		section.title {
                  		h1 {
                      		@include transform(translate(-128px, 0px));
                  		}
                  		
                  		h2 {
                      		@include transform(rotate(270deg));
                  		}
              		}
          	    }
      	    }
      	
    	}
    	
	.cover .card, .cover.card {
		
		&.hover, &.editing {
            section.title {
        		    h1.typeTitle {
                		@include typeOutlineFillBlack;
            		}
            }
		}
		
        &.hover {
            ul.users {
                opacity: 1;
      		}
  		
      		section.title {
          		
          		.rename a {
              		opacity: .25;
          		}
      		}
  		
      		.background {
          		@include coverBackgroundDull;
      		}
  		
		}
		
		&.editing {
      		section.title .rename a {
          		opacity: .5;
      		}
		}
		          		
		.background {
      		@include coverBackground;
		}
		
		section.title {
  		// For transition to spine view

  		&:hover {
      		.rename a {
          		opacity: .5;
      		}
  		}

  		h1 {
/*
        		text-align: right;
        		font-family: "futura";
        		font-weight: bold;
*/
            margin-top:  (-1em /8);
            margin-left: (-1em /32);
            margin-right: $cardPaddingRight/2;
            outline: 0;
            word-wrap: break-word;
      		@include transform(translate(0px, 0px));
            @include transition(.25s $defaultCurve);
            @include transition-property(
                        transform,
                -webkit-transform,
                   -moz-transform,
                -webkit-text-fill-color,
                -webkit-text-stroke,
                        color
            );
        }

  		h2 {
          //transform-origin:           bottom right;
          //-webkit-transform-origin:   bottom right;
            width: $coverHeight;
            white-space: nowrap;
            text-align: right;
            position: absolute;
            top: -$cell*1.25;
            right: $cell/2.5;
            @include transform(rotate(270deg) translate(0px, 36px));
            @include transition(.5s $defaultCurve);
            @include transition-property(transform,
                               -webkit-transform,
                                  -moz-transform);
  		}

        .rename {
            z-index: 20;
            position: relative;
            margin-top: $cell;
            
            a {
                display: inline-block;
                padding: $cell * 2 $cell * 2 $cell * 2 $cell; // Larger click area
                margin-left: -$cell;
                margin-top: -$cell;
                opacity: 0;
                @include transition(.5s $defaultCurve);
                @include transition-property(opacity);
                
                &:hover {
                    opacity: 1;
                }
        		}
        		
        		.articleCount {
            		position: absolute;
            		top: 0;
            		right: 0;
            		opacity: 0;
        		}
        		
        		ul.users {
                position: absolute;
                width: 50%;
                bottom: 0;
            		@include typeSmall;
            		@include transition(opacity .25s $defaultCurve);
            		
            		li.add {
                		width: 100%;
                		
                    label {
                        display: block;
                    }
                    
                		input[type=email] {
                    		padding-right: $cell * 3;
                    		width: auto;
                		}
                		
                		input[type=submit] {
                    		position: absolute;
                    		top: 0;
                    		text-align: right;
                    		right: -$cell * 3;
                    		width: $cell * 3;
                		}
            		}
        		}
        	}
	}
}
