.card.image(data-key=element.content)
  img(src= 'https://s3-us-west-2.amazonaws.com/scrapimagesteamnap/'+current_space.spaceKey+'/small/'+element.content+'.jpg')
  .background
  if element.caption == '' || element.caption == null
    .ui-resizable-handle.ui-resizable-se