mixin addArticleFormMixin()
  article(
    class = ['addArticleForm', 'slider', 'peek', 'text']
    data-contenttype="newArticle"
  )
    .translate.content
      .card.cardHover.text.note.closed.tall.expandable.newCard
        .editable.textInput(placeholder="Write a note or paste a link")
        .cardActions
          ul
            li.button.closed.upload.bodyType.showOnNotEditing
              a.collection.action(href='#') Upload a file
              form.upload(
                action='http://scrap_images.s3.amazonaws.com',
                method='post',
                enctype='multipart/form-data',
              )
                input(type='hidden', name='key')
                input(type='hidden', name='AWSAccessKeyId', value="AKIAJJUKCX2M4XUDUEQA")
                input(type='hidden', name='acl', value='public-read')
                input(type='hidden', name='policy')
                input(type='hidden', name='signature')
                input(type='hidden', name='success_action_status', value='201')
                input(type='hidden', name='Content-Type')
                input(type='file', class='file-input', name='file')
            li.right.showOnEditing
              a.done.bodyType.confirm(href='#') Save
