mixin addCollectionFormMixin(collection)
  - var coverClasses = [ 'cover', 'closed', 'new', 'addProjectForm', 'peek']
  - var defaulttext = "New Project"
  article(
    data-contenttype='addProjectForm',
    data-defaulttext=defaulttext,
    class=coverClasses
  )
    .translate.content
      .card.newCard
        section.title.editable
          h1.editable.collectionTitle.typeTitle.typeOutlineClear!=defaulttext
        .cardActions
          ul
            li.done.invisible
              a.cancel.bodyType.warning(href='#') Cancel
              a.submit.bodyType.confirm(href='#') Save