mixin addCollectionFormMixin(collection)
  - var coverClasses = [ 'cover', 'closed', 'editing', 'addProjectForm', 'peek']
  - var defaulttext = "New Project"
  article(
    data-contenttype='addProjectForm',
    data-defaulttext=defaulttext,
    class=coverClasses
  )
    .translate.content
      .card.newCard
        section.title.editable
          h1.collectionTitle.typeTitle.typeOutlineClear!=defaulttext

