include article
include addProject
include addElement

mixin collectionContentMixin(collection)
  if collection.elements !== undefined
    each element in collection.elements
      +articleMixin(element)

  if collection.children !== undefined
    each element in collection.children
      +collectionMixin(element)

mixin collectionMixin(collection)
  - var classes = 'draggable closed ' + collection.spaceKey
  - if(collection.root == true){
    - classes = classes+' root'
  - }

  .collection(
    class         = classes
    data-contenttype= "collection"
    data-spacekey = collection.spaceKey,
    data-hascover = collection.hasCover
  )
    if collection.root == false
      article(class = 'cover', style='z-index:2;')
        .content
          .elementControls
            a.elementDeleteButton.warning.bodyType.smallCaps Delete
          .transform
            .card.cardHover.cardDrag.colored(style='background-color:'+collection.color)
              section.title
                h1.collectionTitle.typeTitle.typeOutlineClear!=collection.name
                h2.peekTitle.bodyType.typeBody.typeWeightBold!=collection.name
                p.rename
                  a.smallType Rename
              ul.users.menu.slideIn.left.canOpen
                li.user.add
                  form.addUser(data-spacekey=collection.spaceKey)
                    input(type="email", name="user[email]", placeholder="email")
                    input(type="submit", value="→")
                    label.smallType.smallCaps Share this pack

    .contentContainer(style='z-index:1;')
      +collectionContentMixin(collection)

    if collection.root
      +addProjectMixin(collection)
    else
      +addElementMixin(collection)