$cell:				8pt;
$gutter:            $cell;
$col:               $cell * 7;
$broadMargin:       $cell * 5;
$midMargin:         $cell * 3;

$baseline:          16pt;

$breakExtraSmall:   320px;
$breakSmall:        768px;
$breakMedium:       1024px;
$breakLarge:        1280px;
$breakExtraLarge:   1440px;
