$cell:				8pt;
$gutter:            $cell;
$col:               $cell * 7;
$broadMargin:       $cell * 5;
$midMargin:         $cell * 3;

$baseline:          16pt;

$breakXSmall:       320px;
$breakSmall:        768px;
$breakMedium:       1024px;
$breakLarge:        1280px;
$breakXLarge:       1440px;
