/* $fontFamily:        'L Futura W01', 'Futura W04', Futura, "Century Gothic", sans-serif; */
// $fontFamily:        "ITC Avant Garde Gothic W01", Futura, "Century Gothic", sans-serif;
$fontFamily:           'Neue Haas Unica W01', -apple-system, "Helvetica Neue", sans-serif;
//  'Univers Next W01', 'Univers Next W04'
// $fontFamily:            -apple-system, 'Neue Haas Unica W01', "Helvetica Neue";
$fontFamilySerif:       'times'; // "Adobe Caslon Pro", papyrus, "BemboStd";


@mixin proportionalNums {
    font-variant-numeric: proportional-nums;
    -moz-font-feature-settings: "pnum";
    -ms-font-feature-settings: "pnum";
    -webkit-font-feature-settings: "pnum";
    font-feature-settings: "pnum";
}

$fontWeightThin:        100;
$fontWeightExtraLight:  200;
$fontWeightLight:       300;
$fontWeightRegular:     400;
$fontWeightMedium:      500;
$fontWeightDemi:        600;
$fontWeightBold:        700;
$fontWeightExtraBold:   800;

$leading:           		$cell * 2;

$typeTitleSize:    		  60pt;
$typeSubtitleSize:    	36pt;
$typeHeaderSize:    		36pt;
$typeXLargeSize:        48pt;
$typeLargeSize:         24pt;
$typeBodySize:      		12pt;
$typeSmallSize:     		8pt;

$typeTitleLeading:      60pt;
$typeSubtitleLeading:   36pt;
$typeHeaderLeading:     36pt;
$typeXLargeLeading:     48pt;
$typeLargeLeading:      36pt;
$typeBodyLeading:       16pt;
$typeSmallLeading:      12pt;

$headerLeftMarginOffset:
                    -1.667pt;
@mixin typeTitle {
    font-size:      $typeTitleSize;
    font-weight:    $fontWeightMedium;
    letter-spacing: (1em / 32);
    line-height:    $typeTitleLeading;
}

@mixin typeSubtitle {
    font-size:      $typeSubtitleSize;
    font-weight:    $fontWeightBold;
    letter-spacing: 1em / 32;
    line-height:    $typeSubtitleLeading;
}

@mixin typeHeader {
    font-size:      $typeHeaderSize;
    font-weight:    $fontWeightRegular;
    letter-spacing: (1em / 32);
    line-height:    $typeHeaderLeading;
}

@mixin typeBody {
    font-family:    $fontFamily;
    font-size:      $typeBodySize;
    font-weight:    $fontWeightRegular;
    line-height:    $typeBodyLeading;
    letter-spacing: (1em / 16);
}

@mixin typeXLarge {
    font-family:    $fontFamily;
    font-size:      $typeXLargeSize;
    font-weight:    $fontWeightRegular;
    line-height:    $typeXLargeLeading;
    letter-spacing: (1em / 32);
}

@mixin typeLarge {
    font-family:    $fontFamily;
    font-size:      $typeLargeSize;
    font-weight:    $fontWeightRegular;
    line-height:    $typeLargeLeading;
    letter-spacing: -(1em / 64);
}

@mixin typeSmall {
    font-size:      $typeSmallSize;
    font-weight:    $fontWeightMedium;
    line-height:    $typeSmallLeading;
    letter-spacing: (1em/12);
}

@mixin smallCaps {
    font-size:      .666em;
    letter-spacing: .03125em;
    text-transform: uppercase !important;
}

@mixin typeTitleSmallCaps {
    @include        smallCaps;
    font-size:      $typeTitleSize * .75;
    font-weight:    $fontWeightBold;
    letter-spacing: (1em/16);
}

@mixin typeBodySmallCaps {
    @include        smallCaps;
    font-size:      $typeBodySize * .666;
    font-weight:    $fontWeightMedium;
    letter-spacing: (1em/8);
}

@mixin typeXLargeSmallCaps {
    @include        smallCaps;
    font-size:      $typeXLargeSize * .666;
    font-weight:    $fontWeightRegular;
    letter-spacing: (1em/16);
}

@mixin typeLargeSmallCaps {
    @include        smallCaps;
    font-size:      $typeLargeSize * .666;
    font-weight:    $fontWeightRegular;
    letter-spacing: (1em/16);
}

@mixin typeSmallSmallCaps {
    @include        smallCaps;
    font-size:      $typeSmallSize * .7;
    font-weight:    $fontWeightBold;
    letter-spacing: (1em/6);
}

@mixin typeHeaderSmallCaps {
    @include typeHeader;
}

@mixin typeLabelName {
    @include typeHeader;
    font-family: $fontFamily;
    font-size: .75rem;
    line-height: $leading;
}

@mixin linkReset {
    color: $colorType;
    text-decoration: none;
    border: 0;
}

@mixin typeOutlineClear {
    -webkit-text-stroke: 1px $colorType;
    -webkit-text-fill-color: transparent;
}

@mixin typeOutlineWhite {
    -webkit-text-stroke: 1px $colorType;
    -webkit-text-fill-color: white;
}

@mixin typeOutlineFillBlack {
    -webkit-text-fill-color: $colorType !important;
    -webkit-text-stroke: 1px $colorType;
}

@mixin navText {
    @include typeTitle;
    @include typeOutlineWhite;
}

html {
    @include typeBody;
    @include proportionalNums;
}

.typeTitle {
    @include typeTitle;
    
    &.smallCaps {
        @include typeTitleSmallCaps;
    }
}

.typeSubtitle {
    @include typeSubtitle;
}

.headerType {
    @include typeHeader;
    
    &.typeOutline, &.typeOutlineClear, &.typeOutlineWhite {
        font-weight: $fontWeightMedium;
    }
}

.bodyType, .typeBody {
    @include typeBody;
            
    &.smallCaps {
      @include typeBodySmallCaps;
    }
}

.XLargeType {
    @include typeXLarge;
            
    &.smallCaps {
      @include typeXLargeSmallCaps;
    }
}

.largeType {
    @include typeLarge;
            
    &.smallCaps {
      @include typeLargeSmallCaps;
    }
    
    
    &.typeOutline, &.typeOutlineClear, &.typeOutlineWhite {
        font-weight: $fontWeightMedium;
    }
}

.smallType, .typeSmall {
    @include typeSmall;
    
    &.smallCaps {
      @include typeSmallSmallCaps;
    }
}

.typeNav {
    @include navText;
    
    &.smallCaps, .smallCaps {
        @include typeTitleSmallCaps;
    }
}

.typeWeightBold {
    font-weight: $fontWeightBold;
}

.typeOutlineClear {
    @include typeOutlineClear;
}

.typeOutlineWhite {
    @include typeOutlineWhite;
}

.typeOutlineBlackOnHover {
    &:hover {
        @include typeOutlineFillBlack;
    }
}

a {
    @include linkReset;
}
        
p {
    
    & + p {
        margin-top: $baseline / 2;
    }
}
