section.container section.space {
    
    article {
        color: $colorType;
        position: absolute;
        backface-visibility: hidden;
        background-color: transparent !important;
        font-size: $typeBodySize * $typeSizeMultiplier;
        line-height: 1.5em;
        transform-origin: top left;
        -webkit-transform-origin: top left;
        
        // EVENTS
        
        &:hover, &.hover {
            cursor: move;
            
            > .card {
                @include cardHover;
            }

            
            header {
                opacity: 1;
            }

            .ui-resizable-handle {
                opacity: .2;
            }
        }

        &.locked {
            opacity: .25;
            -webkit-filter: grayscale(1);
        }

        &.resizing {
            .card .ui-resizable-handle {
                opacity: .5;
            }
        }

        &.dragging, &.ui-draggable-dragging {
            > .card {
                @include cardDrag;
            }
        }
        
/*
        &.attached {
        
            .card {
                
                &:before {
                    content: "•";
                    font-size: .5em;
                    position: absolute;
                    top: $gutter/1.6666;
                    left: $gutter/4;
                    line-height: 0;
                }
            }
        }
*/
        
        // NEW ELEMENT
        
        &.add-element{
            
            form {
            
                .fileInputWrapper {
                    position: relative;
                    display: block;
                    @include smallCaps;
                    overflow: hidden;
                    font-size: .5em;
                    
                    &:after {
                        content: "Upload a file";
                        position: absolute;
                        left: 0;
                        width: 100%;
                    }
                    
                    input[type="file"] {
                        @include transform(scale($typeSizeMultiplier));
                        opacity: 0;
                        z-index: 2;
                        position: relative;
                        cursor: pointer;
                    }
                }
            }
        }
        
        // CONTENTS
        
        textarea {
            width: 100%;
            height: $baseline;
            font-size: $typeBodySize * $typeSizeMultiplier;
            line-height: 1.5em;
            margin-bottom: -$baseline*2.25 !important;
        }
        
        header {
            background: white !important;
            display: inline-block;
            text-align:left;
            height: $baseline;
            z-index: 4;
            position: absolute;
            top: -$baseline/2;
//             left: -$cardPaddingUnit;
            margin-right: $cardPaddingUnit/4;
            padding-left: $cardPaddingUnit/4;
            padding-right: $cardPaddingUnit/6;
            @include typeBodySmallCaps;
            
            // For scaling
                    transform-origin: center left;
            -webkit-transform-origin: center left;

            opacity: 0;
            @include transition(opacity .25s $defaultCurve);
            
            author {
                display: inline-block;
                position: relative;
                font-family: $fontMedium;
                top: -$baseline / 2.25;
                white-space: nowrap;
            }
        
            a.delete {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                height: $baseline;
                width: $baseline + .2rem;
                cursor: pointer;
                border: none;
                z-index: 99999;
                @include transition(opacity .25s $defaultCurve);
                overflow: hidden;
                background-image: url('../images/elementClose.png');
                background-size: 100% 100%;
                
                &:hover {
                    background-color: $colorWashLightTrans40;
                }
            }
        }
        
        // CONTENT
        
        .card {
            position: relative;
            max-width:$col * 2 * $typeSizeMultiplier;
            width: auto;
            @include transition(.125s $defaultCurve);
            @include transition-property(transform,
                                 -webkit-transform,
                                    -moz-transform,
                                         box-shadow,
                                 -webkit-box-shadow,
                                    -moz-box-shadow,
                                         background-color);

            &.text {
                @include cardStyle;
                width: auto;
            }

            &.image {
                    width: $col*3*$typeSizeMultiplier;
                    overflow: hidden;
                    
               .ui-resizable-handle {
                    &:after {
                        color: white !important;
                    }
                }
            }
            
            &.website {

                &:hover {
                    .card.header.text .description {
                        opacity: 1;
                        height: auto;
                    }
                }
                
                .card.header.text {
                    position: relative;
                    z-index: 2;

                    .title p {
                        line-height: 1.25em;
                    }

                    .url p {
                        @include typeBodySmallCaps;
                        line-height: 2em;
                        opacity: .25;
                    }

                    .description {
                        opacity: 0;
                        height: 0;
                        position: absolute;
                        background-color: $colorWashMediumLightTrans;
                        margin-left: -$cardPaddingUnit/2;
                        padding-left: $cardPaddingUnit/2;
                        padding-bottom: $cardPaddingUnit/4;
                        min-width: auto;
                        display: block;
                        @include smoothTransition;
                        @include transition-property(opacity);
                        
                        p {
                            @include typeBody;
                            
                            a {
                                word-break: break-all;
                            }
                        }
                    }

                }

                &.image {
                    max-height: $baseline * 24;
                }
            }

            
            &.caption, &.comment {                       
                // background-color: $colorCardBackgroundLight;
            }

            img {
                width: 100%;
                margin-bottom: -12pt;
            }
        }
        
        .ui-resizable-handle {
            z-index: 9999999;
            right: 0;
            bottom:0;
            opacity: 0;
            background-image: url('../images/elementResize.png');
            background-size: 100% 100%;
            background-position: top left;
            @include transition(opacity .25s $defaultCurve);
            transform-origin:           bottom right;
            -webkit-transform-origin:   bottom right;
            height: $gutter;
            width: $gutter;
            
            &:hover {
                opacity: .5;
            }
        }
    }
}