$collectionOpenTransitionDuration: 1s;

section.container section.space section.content{
    
    .collection.closed {
        
        article {
            font-weight: $fontWeightMedium;
            font-size: $typeHeaderSize;
            line-height: 1.25em;
            letter-spacing: .015125em;
//             @include typeBody;

            .card {
                &.text {
                    font-weight: $fontWeightMedium;
                }
                &.website {
                    header {
//                         position: relative;
//                         top: 0;

                        h1 {
                            -webkit-line-clamp: 6;
                            max-height: $typeHeaderLeading * 6;
                        }
                        
                        .url {
//                             display: none;
                            opacity: 0;
                        }
                    }
                    .description {
//                         display: none;
                        opacity: 0;
//                         margin-top: -$broadMargin + $cell * 8;
                    }
                    
                    img {
                        margin-top: -$broadMargin/2;
                    }
                }
            }
        }
    }
    
    article, h1, .card {
        @include transition($collectionOpenTransitionDuration $defaultCurve);
        @include transition-property(font-weight);
    }
    
    article {
        color: $colorType;
        position: absolute;
        backface-visibility: hidden;
        margin-right: -2pt;
        line-height: 1.5em;
        transform-origin:           bottom right;
        -webkit-transform-origin:   bottom right;
        @include typeHeader;
        
        // EVENTS
        
        &:hover, &.hover, &.dragging, &.ui-draggable-dragging/* , &.add-element, &.editing  */{
            z-index: 9999999;

            author {
                opacity: 1;
//                 @include transform(translate3d(0, 0, 0));
            }
        }
        
        &:hover, &.hover {
            cursor: move;
            cursor: -webkit-grab;
            cursor: -moz-grab;;
            cursor: grab;
            
            > .card {
                @include cardHover;
                
//                 &.text {
//                     background-color: $colorAccent;
//                 }
            }
        }
        
        &.locked {
            opacity: .25;
            -webkit-filter: grayscale(1);
        }

        &.resizing {
            .card .ui-resizable-handle {
                opacity: .5;
            }
        }

        &.dragging, &.ui-draggable-dragging, &.active, &:active {
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
            cursor: grabbing;

            > .card {
                @include cardDrag;
            }
        }
        
        &.text {
            font-style: italic;
            
            * {
                outline: none;
            }
            
            em {
                font-style: normal;
            }
            
            strong {
                font-weight: $fontWeightBold;
            }
            
            &.short {
                @include typeHeader;
            }
            
            &.long {
                @include typeBody;
            }
        }
        
        &.soundcloud .card {
            width: $articleWidth;
        }
        
        // EDITING 
        
        &.editing {
            
        }
        
        // CONTENTS
        
        author {
            @include typeSmall;
            font-style: normal;
            line-height: 1em;
            position: absolute;
            display: block;
            color: $colorType;
            top: -$cell * 1.5;
            right: -$cell/4;
            opacity: 0;
            white-space: nowrap;
            z-index: -900;
//             @include box-shadow($cardBoxShadowDimensions $cardBoxShadowColor);
//             @include transform(translate3d(0,$cell*4,0));
            @include transition(.25s $defaultCurve);
            @include transition-property(opacity);
        }
        
        // CONTENT
        
        .card {
            position: relative;
            max-width: $articleWidth;
                    transform-origin: bottom right;
            -webkit-transform-origin: bottom right;
            @include transition(.125s $defaultCurve);
            @include transition-property(transform,
                                 -webkit-transform,
                                    -moz-transform,
                                         box-shadow,
                                 -webkit-box-shadow,
                                    -moz-box-shadow,
                                         background-color,
                                         border-color,
                                         color);

            &.text {
                @include cardStyle;
                background: $colorAccentLight;
//                 color: $colorType;
                font-style: italic;
                border: $cardBorder;
                width: $articleWidth;
//                 padding-bottom: $broadMargin;
                min-height: $articleMinHeight;
                overflow: hidden;
            }

            &.image {
                width: $articleWidth;
                margin-left: $cardBorderWidth;
//                 border-left: $cardBorder;
            }
            
            &.website {
                @include cardStyle;
                width: $articleWidthNarrow;
                padding-top: $cell * 2;
                
                &:hover {
                    @include hoverLinkAnimation;
                }
                
                a {
                    border: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
                               
                .text {

                    
                    header {
                        position: absolute;
                        top: $cell/2;
                        @include transition($collectionOpenTransitionDuration $defaultCurve);
                        @include transition-property(top);

                        h1 {
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical; 
//                             max-height: $typeHeaderLeading * 3; 
//                             text-overflow: ellipsis;
                            max-height: $typeHeaderLeading * 4;
                            overflow: hidden;
                            margin-left: $headerLeftMarginOffset;
                            padding-bottom: .125em;
                            margin-bottom: -.125em;
//                             @include multiline-ellipsis($typeHeaderLeading * 3, $typeHeaderLeading, 1em);
                        }
    
                        .url {
                            margin-top: $cell/2;
                            @include typeSmall;
                            @include transition($collectionOpenTransitionDuration $defaultCurve);
                            @include transition-property(opacity);
                        }
                    }

                    .description {
                        margin-top: ($broadMargin * 3);
                        margin-bottom: $cell/2;
                        opacity: 1;
                        @include typeSmall;
                        @include transition($collectionOpenTransitionDuration $defaultCurve);
                        @include transition-property(opacity, margin-top);
                    }
                    
                    img {
                        margin-top: 0;
                        @include transition($collectionOpenTransitionDuration $defaultCurve);
                        @include transition-property(margin-top);
                    }
                }

                &.image {
                    max-height: $baseline * 24;
                }
            }

            
            &.caption, &.comment {                       
                // background-color: $colorCardBackgroundLight;
            }

            img {
                width: 100%;
                margin-bottom: -$cell/3;
                background-color: $colorCardBackground;
            }
        }
        
        &.addElementForm {
            top: 0;
            left: 0;
            height: $col;
            width: $col;
            border-radius: $col;
            border: $cardBorder;
            border-style: dashed;
            padding: $cardPadding;
            background-color: $colorCardBackground;
            background-image: url('/images/add.png');
            background-size: 24.5px 24.5px;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: 9999999;
            cursor: pointer;
            @include transform(translate3d($cell*2, $cell*2, 0));
            @include transition(.25s $defaultCurve);
            @include transition-property(border-radius, background-image, height, width, transform, -webkit-transform, -moz-transform);
            
            &.closed {
                &:hover {
                    @include transition-duration(.25s);
                    @include transform(translate3d($cell, $cell, 0));
                    @include box-shadow($cardBoxShadow);
                }
            }
                        
            &.open {
                @include transition-duration(1s);
                @include transform(translate3d(0, 0, 0));
                border-radius: 0;
                width: $articleWidth;
                height: $articleWidthWide;
                overflow: hidden;
                background-image: none;
                cursor: auto;
                
                &:hover {
                    @include transition-duration(1s);
                }
                
                ul {
                    opacity: 1;
                    @include transform(scale3d(1,1,1));
                    @include transition(1s $defaultCurve);
                }
            }
                        
            ul {
                opacity: 0;
                transform-origin: top left;
                -webkit-transform-origin: top left;
                @include transform(scale3d(.25, .25, 0));
                @include transition(.5s $defaultCurve);
                @include transition-property(opacity, transform, -webkit-transform, -moz-transform);
                
                li {
                    vertical-align: top;
                    
                    &.text {
                        width: $articleWidth;
                        height: $articleWidthWide - $cell * 2;
                        position: relative;
                        
                        span.label {
                            display: none;
                        }
                        
                        textarea {
                            @include typeHeader;
                            height: 100%;
                        }
                    }
                    
                    &.upload {
                        @include typeBody;
                        position: relative;
                        display: inline-block;
                        height: $leading;
                        width: intrinsic;
                        
                        form {
                            height: 100%;
                            width: 100%;
                            top: 0;
                            left: 0;
                            position: absolute;
                            
                            input {
                                height: 100%;
                                width: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                cursor: pointer;
                            }
                        }
                    }
                    
                    &.done {
                        position: relative;
                        display: inline-block;
                        height: $leading;
                        float: right;
                        width: intrinsic;

                        a {
                            @include typeBody;
                            position: relative;
                            top: -$cell;
                            border: 0;
                            padding: 0;
                            margin-left: $cell;
                        }
                    }
                }
            }
        }
    }
}