// must be the same as in main.coffee
$scaleMultiple: 4;

section.container {
    
    header.main {
        position: relative;
        z-index: 40;
        
        h1.logo a {
            position: relative;
            width: $col;
            overflow: hidden;
            @include transition(all 2s $defaultCurve);
            @include transition-property(margin-left, margin-right, text-indent, width);
            text-indent: -$cell;
                        
            .back {
                margin-left: -$cell * 2;
                margin-right: $cell * 2;
            }
                        
            &.backHome {
                text-indent: $cell * 3;
                width: $cell * 3;
            }
        }
    }
        
    .blur {
        @include transition(-webkit-filter 1s $defaultCurve);
        position: fixed;
        z-index: 10;
        
        &.obscured {
            opacity: .333;
            -webkit-filter: blur(10px);
        }
    }
    
    .collection {
        width: 100vw;
        z-index: 1;
        
        &.open {
            > header {
                h1.collectionName {
                    @include transform(translate3d($cell*4, 0, 0));
                }
            }
        }
        
        > header {
            position: relative;
            width: 100vw;
            z-index: 20;
            
            h1.collectionName {

                a {
                    width: intrinsic;
                    display: block;
                    
                    &:hover {
                        @include invertHover;
                    }
/*
                    &:before {
                        content: "‹";
                        position: absolute;
                        top: $typeHeaderLeading;
                        left: $cell/4;
                        display: block;
                    }
*/
                }
            }
        }
        
        > .elements {
            z-index: 10;
            position: relative;
            top: -$cardBorderWidth;
//             height: 90%; // TODO: better value
        }
    }
    
    .scale-container {
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        @include transform(scale(1/$scaleMultiple));
        @include transition(1s $defaultCurve);
        @include transition-property(transform,
                             -webkit-transform,
                                -moz-transform);
        position: relative;
        z-index: 1;
    }
}