section.container {
    width: 10000%;
    height: 10000%;
    position: fixed;
    
    section.space {
        width: 100%;
        height: 100%;

        /*
h1 {
            position: fixed;
            text-align: right;
            @include resetInput;
            bottom: $gutter;
            right: $gutter;
            width: $col * 2;
            height: 1.5em;
            z-index: 2;
            @include typeSpaceName;
            
            form {
                
                input {
                    @include resetInput;
                    @include typeSpaceName;
                    text-align: right;
                    position: absolute;
                    left: 0;
                    width: $col * 2;
                    height: 1.5em;

                }
            }
        }
*/
        
        &:active {
            cursor: move;
        }

        ul.users {
            position: fixed;
            z-index: 2;
            top: 0;
            right: 0;
        
            li {
                display: block;
                height: 3rem;
                width:    3rem;
                margin: .5em;
            
                img {
                    height: 100%;
                    width:    100%;     
                    border-radius: 100%;
                    background-color: red;
                }
                
            }
        }

        section.content {
            transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
            @include transform(scale(1));
            position: relative;
            z-index: 1;
                                    
            article {
                color: $colorType;
                position: absolute;
                backface-visibility: hidden;
                background-color: transparent !important;
                font-size: $typeBodySize * $typeSizeMultiplier;
                line-height: 1.5em;
//                 max-width: $col*3* $typeSizeMultiplier;
                
                &.add-element{
//                     @include transform(scale(1/ $typeSizeMultiplier));
//                     transform: scale(1/ ($typeSizeMultiplier / 2)) !important;

                    > .card {
                        @include cardHover;   
                    }

                    form {
                        
                        .fileInputWrapper {
//                             @include button;
                            position: relative;
                            display: block;
                            @include smallCaps;
                            overflow: hidden;
                            font-size: .5em;
                     
                            &:after {
                                content: "Upload a file";
                                position: absolute;
                                left: 0;
                                width: 100%;
                            }
                            
                            input[type="file"] {
                                @include transform(scale($typeSizeMultiplier));
                                opacity: 0;
                                z-index: 2;
                                position: relative;
                                cursor: pointer;
                            }
                        }
                    }
                }
                
                &:hover {
                    cursor: move;
                    @include cardHover;

                    a.delete {
                        opacity: 1;
                    }
                }
                
                &:hover {
                    .card .ui-resizable-handle {
                        opacity: .2;
                    }
                }
                
                &.resizing {
                    .card .ui-resizable-handle {
                        opacity: .5;
                    }
                }
                
                &.dragging {
                    @include cardDrag;
                }
                
                &.website {
                    
                    .card {
                        
                        &.header.text {
                            position: relative;
//                             margin-top: -.2em;
//                             left: $gutter * 2;
//                             background-color: transparent;
//                             background-image: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.3) 100%);
                            z-index: 2;
//                             color: $colorTypeLight;
                            
                            .title {
                                line-height: 1.25em;
                            }
                            
                            .url {
                                @include smallCaps;
                                font-size: $typeBodySize * .666;
                                font-family: $fontMedium;
                                line-height: 2em;
                                opacity: .25;
//                                 color: $colorTypeLight;
                            }
                                                    
                            .description {
                                font-size: $typeBodySize;
                                line-height: 1.5em;
                                font-family: $fontMedium;
                                padding-top: $baseline;
                            }
                        }
                        
                        &.image {
                            max-height: $baseline * 24;
                        }
                    }
                }
                
                textarea {
                    width: 100%;
                    height: $baseline * 6;
                    font-size: $typeBodySize * $typeSizeMultiplier;
                    line-height: 1.5em;
                }
                
                a.delete {
                    opacity: 0;
                    position: absolute;
                    display: block;
                    cursor: pointer;
                    height: 30pt;
                    width:  30pt;
                    top: -18pt;
                    left: -10pt;
//                     background: red;
                    overflow: hidden;
                    z-index: 99999;
                    @include transition(opacity .25s $defaultCurve);
                    
                    &:after {
                        content: "╳"; // ✕
                        font-size: 60pt;
                        margin: 0;
                        color: $colorType;
                        position: absolute;
                        top: 10pt;
                        left: 0;
                        height: 100%;
                        width:  100%;
                        display: block;
                        font-family: sans-serif;
//                         background: blue;                        
                    }
                }
                                
                .card {
                    position: relative;
                    max-width: $col * 2 * $typeSizeMultiplier;
                    width: auto;
                                        
                    &.text {
                        @include cardStyle;
                        width: auto;
                    }
                    
                    &.image {
                        background-color: /* rgba(255,255,255,.4) */ $colorCardBackground;
                        width: $col*3*$typeSizeMultiplier;
                        overflow: hidden;
                        
                        .ui-resizable-handle {
                            &:after {
                                color: white !important;
                            }
                        }
                    }
                    
                    &.website {
                        p a {
                            word-break: break-all;
                        }
                    }
                    
                    &.caption, &.comment {
//                         left: $gutter;
//                         top: -$baseline;

                        color: $colorTypeLight;
                        background-color: $colorCardBackgroundDark;
                    }
                    
                    img {
                        width: 100%;
                        opacity: .9;
                        margin-bottom: -12pt;
                    }
                    
                    .ui-resizable-handle {
                        z-index: 9999999;
                        background: none !important;
                        font-size: 10pt !important;
                        bottom: 0;
                        text-align: right;
                        right: 0;
                        overflow: hidden;
                        opacity: 0;
                        @include transition(opacity .25s $defaultCurve);
                        
                        &:hover {
                            opacity: .5;
                        }
                        
                        &:after {
                            content: "◢";
                            position: absolute;
                            bottom: 110%;
                            left: 0%;
//                             text-indent: 1.5pt;
                            height: 100%;
                            width: 100%;
                            
                            /*
position: absolute;
                            top: 0;
                            left: 0;
*/
                        }
                    }
                }
            }
        }
        
        .delete {
            text-align: center;
            position: fixed;
            z-index: 5;
            width: $col;
            padding: $gutter * 2;
            bottom: -$col;
            left: 50%;
            margin-left: -$col/2;
            @include transition(all .25s $defaultCurve);
            @include transform(scale(.5));
            
            &.visible {
                bottom: 0;
                opacity: 1;
            }
            
            &.rollover {
                @include transform(scale(1.25));
                opacity: 1;
                bottom: 0;
            }

            &:after {
                text-align: center;
                content: "×";
                font-size: 6em;
                position: relative;
                top: 33.333%;
                height: 100%;
                margin-top: -75%;
                color: white;
                font-family: "Helvetica Neue", "Helvetica", sans-serif;
                margin-top: 2em;
                font-weight: 100;
                color: $colorAlert;
            }
        }
    }
}