
.container > header {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    @include typeHeaderSmallCaps;
    text-align: left;
    cursor: default;
    text-transform: lowercase;
    
    a {
        border: 0;
        cursor: pointer;
    }
        
    ul.menu {
        
        input {
            max-width: 100%;
        }
        
        &.settings {
            a { 
                &.logout:hover {
                    @include hoverWarningAnimation;
                }
            }
        }
        
        &.users {
            
            li {
                
                &.user {
                    @include typeHeader;
                    text-transform: none;
                }
            }
        }
    }
    
    // Public space
    
    &.public, &.index {
        
        .card {
            float: right;
            display: inline-block;
            
            > p {
                padding-bottom: $baseline/2;
                            }
            
            form {
                width: auto;
                text-align: left;
                
                p {
                                        
                    &.submit input:hover {
                        @include hoverConfirmAnimation;
                    }
                }
                
                input {
                    width: 100%;
                    text-align: left;
                    
                    &#name {
                        text-transform: lowercase;
                    }
                    
                    &[type=submit] {
                        width: auto;
                    }
                }
            }            
        }
    }
}