.container > header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    padding: $baseline/4 $gutter;
    right: left;
    @include typeHeader;
    text-align: left;
    
    a {
        border: 0;
    }
    
    h1.spaceName {
        display: none;
    }
        
    ul.menu {
        display: inline-block;
        opacity: .75;
        float: left;
        width: 40vw;
        
        input {
//             max-width: 20vw;
        }
    }
    
    ul.users {
        float: right;
        text-align: right;
    }
    
    
    form {
        label, input {
            @include typeHeader;
        }
    }
    // Public space
    
    &.public, &.index {
        
        .card {
            float: right;
            @include cardStyle;
            width: $col *2;
            display: inline-block;
            
            > p {
                padding-bottom: $baseline/2;
            }
            
            form {
                width: auto;
                
                input {
                    width: 100%;
                    
                    &[type=submit] {
                        width: auto;
                    }
                }
            }            
        }
    }
}