.container > header {
    position: fixed;
    z-index: 2;
    top: 0;
    right: left;
    height: $headerHeight;
    width: 100%;
    // opacity: .5;
    text-align: left;
    
    ul.menu {
        display: inline-block;
        width: 1.5 * $col;
        opacity: .75;
        margin-right: $gutter;
        margin: $gutter/2 0 0 $gutter/2;
    }
    
    ul.users {
        float: right;
        width: auto;
        
        > li.user {
            display: inline-block;
            border-top: 2pt solid;
            padding: 0 $gutter/4;
            width: ($gutter * 2) - $gutter/2;
            @include smoothTransition;
            @include transition-property(width);
            white-space: nowrap;
            color: rgba(0,0,0,0);
            
            &.online {
                
            }
            
            &:hover {
                width: $col;
                color: auto;
            }
            
            input {
                padding-top: 0;
            }
        }
    }
    
    li {
        @include typeBodySmallCaps;
        input {
            @include typeBodySmallCaps;
        }
    }    
}