body {
	header.cover {
    	
        .card {
            position: relative;
          		width: $col * 4;
          		height: $col * 6;
          		cursor: pointer;
          		overflow: hidden;
        		        		
        		&:hover {
            		ul.users {
                		opacity: 1;
            		}
            		
            		section.title {
                		h1 {
                      -webkit-text-fill-color: $colorType;
                      -webkit-text-stroke: $cardBorderWidth $colorType;
                		}
            		}
            		
        		}
        		
        		section.title {
            		
            		&:hover {
                		.rename {
                    		opacity: 1;
                		}
            		}
        
            		h1 {
                		margin-top: -.0625em;
                		margin-left: -.03125em;
                    margin-right: $cardPaddingRight/2;
                    -webkit-text-stroke: 1px $colorType;
                    -webkit-text-fill-color: transparent;
            		}

                .rename {
                    opacity: 0;
                    
                    a {
                        display: block;
                        padding: $cell; // Larger click area
                        padding-top: $cell * 2;
                        margin-left: -$cell;
                        margin-top: -$cell;
                    }
                }
        		}
        		
        		.elementCount {
            		position: absolute;
            		top: 0;
            		right: 0;
            		opacity: 0;
        		}
        		
        		ul.users {
                position: absolute;
                width: 50%;
                bottom: 0;
            		@include typeSmall;
            		@include transition(opacity .25s $defaultCurve);
            		
            		li.add {
                		width: 100%;
                		
                    label {
                        display: block;
                    }
                    
                		input[type=email] {
                    		padding-right: $cell * 3;
                    		width: auto;
                		}
                		
                		input[type=submit] {
                    		position: absolute;
                    		top: 0;
                    		right: -$cell * 3;
                    		width: $cell * 3;
                		}
            		}
        		}
        	}
	}
}