body {
	header.cover {
    	
        .card {
            position: relative;
        		width: $col * 4;
        		height: $col * 6;
        		cursor: pointer;
        		
        		&:hover {
            		ul.users, .elementCount {
                		opacity: 1;
            		}
        		}
        
        		h1 {
                position: absolute;
                height: $typeTitleLeading * 3;
                bottom: $cell;
        		}
        		
        		.elementCount {
            		position: absolute;
            		top: 0;
            		right: 0;
            		opacity: 0;
        		}
        		
        		ul.users {
        		    opacity: 0;
            		@include typeSmall;
            		@include transition(opacity .25s $defaultCurve);
        		}
        	}
	}
}